In [1]:
# Converting Raw to Matrix
import csv   
import datetime
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import time

import sys
rootDir = "../../"
sys.path.append(rootDir + "Analysis/Util/")
sys.path.append(rootDir + "Database/")

from copy import deepcopy
import pickle

for stuff in sys.path:
    print(stuff)

/usr/lib/python36.zip
/usr/lib/python3.6
/usr/lib/python3.6/lib-dynload

/usr/local/lib/python3.6/dist-packages
/usr/lib/python3/dist-packages
/usr/local/lib/python3.6/dist-packages/IPython/extensions
/root/.ipython
../../Analysis/Util/
../../Database/

In [6]:
from DatabaseAPI import DatabaseAPI

engine = create_engine("mysql+pymysql://{user}:{pw}@soundmapping.local/{db}"
                               .format(user="soundmapping",
                                       pw="odasodas",
                                       db="soundmapping"))

INTERVAL = 0.064
THRESHOLD = 0.00385
RAW_TABLE_QUERY = '''
SELECT *, ({2} + ((`Time In Seconds` - {2}) DIV {0}) * {0}) as quantized_time
FROM raw
WHERE `Time In Seconds` >= {2} and `Time In Seconds`< {3}
'''
# RAW_TABLE_QUERY = "SELECT *, ((`Time In Seconds` DIV {0}) * {0}) AS quantized_time from raw where `Time In Seconds` >= {2} and `Time In Seconds`< {3}"
# Might change this later
GROUP_BY_QUERY_0 ='''
select
  derivedTable.quantized_time,
  sum(case when derivedTable.`Microphone Number` = 0 then derivedTable.X_0 end) / count(case when derivedTable.`Microphone Number` = 0 then derivedTable.X_0 end) as X_0_0,
  sum(case when derivedTable.`Microphone Number` = 0 then derivedTable.Y_0 end) / count(case when derivedTable.`Microphone Number` = 0 then derivedTable.Y_0 end) as Y_0_0,
  sum(case when derivedTable.`Microphone Number` = 0 then derivedTable.Z_0 end) / count(case when derivedTable.`Microphone Number` = 0 then derivedTable.Z_0 end) as Z_0_0,
  sum(case when derivedTable.`Microphone Number` = 1 then derivedTable.X_0 end) / count(case when derivedTable.`Microphone Number` = 1 then derivedTable.X_0 end) as X_0_1,
  sum(case when derivedTable.`Microphone Number` = 1 then derivedTable.Y_0 end) / count(case when derivedTable.`Microphone Number` = 1 then derivedTable.Y_0 end) as Y_0_1,
  sum(case when derivedTable.`Microphone Number` = 1 then derivedTable.Z_0 end) / count(case when derivedTable.`Microphone Number` = 1 then derivedTable.Z_0 end) as Z_0_1,
  sum(case when derivedTable.`Microphone Number` = 2 then derivedTable.X_0 end) / count(case when derivedTable.`Microphone Number` = 2 then derivedTable.X_0 end) as X_0_2,
  sum(case when derivedTable.`Microphone Number` = 2 then derivedTable.Y_0 end) / count(case when derivedTable.`Microphone Number` = 2 then derivedTable.Y_0 end) as Y_0_2,
  sum(case when derivedTable.`Microphone Number` = 2 then derivedTable.Z_0 end) / count(case when derivedTable.`Microphone Number` = 2 then derivedTable.Z_0 end) as Z_0_2,
  sum(case when derivedTable.`Microphone Number` = 3 then derivedTable.X_0 end) / count(case when derivedTable.`Microphone Number` = 3 then derivedTable.X_0 end) as X_0_3,
  sum(case when derivedTable.`Microphone Number` = 3 then derivedTable.Y_0 end) / count(case when derivedTable.`Microphone Number` = 3 then derivedTable.Y_0 end) as Y_0_3,
  sum(case when derivedTable.`Microphone Number` = 3 then derivedTable.Z_0 end) / count(case when derivedTable.`Microphone Number` = 3 then derivedTable.Z_0 end) as Z_0_3,
  sum(case when derivedTable.`Microphone Number` = 4 then derivedTable.X_0 end) / count(case when derivedTable.`Microphone Number` = 4 then derivedTable.X_0 end) as X_0_4,
  sum(case when derivedTable.`Microphone Number` = 4 then derivedTable.Y_0 end) / count(case when derivedTable.`Microphone Number` = 4 then derivedTable.Y_0 end) as Y_0_4,
  sum(case when derivedTable.`Microphone Number` = 4 then derivedTable.Z_0 end) / count(case when derivedTable.`Microphone Number` = 4 then derivedTable.Z_0 end) as Z_0_4,
  sum(case when derivedTable.`Microphone Number` = 5 then derivedTable.X_0 end) / count(case when derivedTable.`Microphone Number` = 5 then derivedTable.X_0 end) as X_0_5,
  sum(case when derivedTable.`Microphone Number` = 5 then derivedTable.Y_0 end) / count(case when derivedTable.`Microphone Number` = 5 then derivedTable.Y_0 end) as Y_0_5,
  sum(case when derivedTable.`Microphone Number` = 5 then derivedTable.Z_0 end) / count(case when derivedTable.`Microphone Number` = 5 then derivedTable.Z_0 end) as Z_0_5,
  sum(case when derivedTable.`Microphone Number` = 6 then derivedTable.X_0 end) / count(case when derivedTable.`Microphone Number` = 6 then derivedTable.X_0 end) as X_0_6,
  sum(case when derivedTable.`Microphone Number` = 6 then derivedTable.Y_0 end) / count(case when derivedTable.`Microphone Number` = 6 then derivedTable.Y_0 end) as Y_0_6,
  sum(case when derivedTable.`Microphone Number` = 6 then derivedTable.Z_0 end) / count(case when derivedTable.`Microphone Number` = 6 then derivedTable.Z_0 end) as Z_0_6,
  sum(case when derivedTable.`Microphone Number` = 7 then derivedTable.X_0 end) / count(case when derivedTable.`Microphone Number` = 7 then derivedTable.X_0 end) as X_0_7,
  sum(case when derivedTable.`Microphone Number` = 7 then derivedTable.Y_0 end) / count(case when derivedTable.`Microphone Number` = 7 then derivedTable.Y_0 end) as Y_0_7,
  sum(case when derivedTable.`Microphone Number` = 7 then derivedTable.Z_0 end) / count(case when derivedTable.`Microphone Number` = 7 then derivedTable.Z_0 end) as Z_0_7
from ({0}) as derivedTable
group by quantized_time
'''


# Might change this later
GROUP_BY_QUERY_1 ='''
select
  derivedTable.quantized_time,
  sum(case when derivedTable.`Microphone Number` = 0 then derivedTable.X_1 end) / count(case when derivedTable.`Microphone Number` = 0 then derivedTable.X_1 end) as X_1_0,
  sum(case when derivedTable.`Microphone Number` = 0 then derivedTable.Y_1 end) / count(case when derivedTable.`Microphone Number` = 0 then derivedTable.Y_1 end) as Y_1_0,
  sum(case when derivedTable.`Microphone Number` = 0 then derivedTable.Z_1 end) / count(case when derivedTable.`Microphone Number` = 0 then derivedTable.Z_1 end) as Z_1_0,
  sum(case when derivedTable.`Microphone Number` = 1 then derivedTable.X_1 end) / count(case when derivedTable.`Microphone Number` = 1 then derivedTable.X_1 end) as X_1_1,
  sum(case when derivedTable.`Microphone Number` = 1 then derivedTable.Y_1 end) / count(case when derivedTable.`Microphone Number` = 1 then derivedTable.Y_1 end) as Y_1_1,
  sum(case when derivedTable.`Microphone Number` = 1 then derivedTable.Z_1 end) / count(case when derivedTable.`Microphone Number` = 1 then derivedTable.Z_1 end) as Z_1_1,
  sum(case when derivedTable.`Microphone Number` = 2 then derivedTable.X_1 end) / count(case when derivedTable.`Microphone Number` = 2 then derivedTable.X_1 end) as X_1_2,
  sum(case when derivedTable.`Microphone Number` = 2 then derivedTable.Y_1 end) / count(case when derivedTable.`Microphone Number` = 2 then derivedTable.Y_1 end) as Y_1_2,
  sum(case when derivedTable.`Microphone Number` = 2 then derivedTable.Z_1 end) / count(case when derivedTable.`Microphone Number` = 2 then derivedTable.Z_1 end) as Z_1_2,
  sum(case when derivedTable.`Microphone Number` = 3 then derivedTable.X_1 end) / count(case when derivedTable.`Microphone Number` = 3 then derivedTable.X_1 end) as X_1_3,
  sum(case when derivedTable.`Microphone Number` = 3 then derivedTable.Y_1 end) / count(case when derivedTable.`Microphone Number` = 3 then derivedTable.Y_1 end) as Y_1_3,
  sum(case when derivedTable.`Microphone Number` = 3 then derivedTable.Z_1 end) / count(case when derivedTable.`Microphone Number` = 3 then derivedTable.Z_1 end) as Z_1_3,
  sum(case when derivedTable.`Microphone Number` = 4 then derivedTable.X_1 end) / count(case when derivedTable.`Microphone Number` = 4 then derivedTable.X_1 end) as X_1_4,
  sum(case when derivedTable.`Microphone Number` = 4 then derivedTable.Y_1 end) / count(case when derivedTable.`Microphone Number` = 4 then derivedTable.Y_1 end) as Y_1_4,
  sum(case when derivedTable.`Microphone Number` = 4 then derivedTable.Z_1 end) / count(case when derivedTable.`Microphone Number` = 4 then derivedTable.Z_1 end) as Z_1_4,
  sum(case when derivedTable.`Microphone Number` = 5 then derivedTable.X_1 end) / count(case when derivedTable.`Microphone Number` = 5 then derivedTable.X_1 end) as X_1_5,
  sum(case when derivedTable.`Microphone Number` = 5 then derivedTable.Y_1 end) / count(case when derivedTable.`Microphone Number` = 5 then derivedTable.Y_1 end) as Y_1_5,
  sum(case when derivedTable.`Microphone Number` = 5 then derivedTable.Z_1 end) / count(case when derivedTable.`Microphone Number` = 5 then derivedTable.Z_1 end) as Z_1_5,
  sum(case when derivedTable.`Microphone Number` = 6 then derivedTable.X_1 end) / count(case when derivedTable.`Microphone Number` = 6 then derivedTable.X_1 end) as X_1_6,
  sum(case when derivedTable.`Microphone Number` = 6 then derivedTable.Y_1 end) / count(case when derivedTable.`Microphone Number` = 6 then derivedTable.Y_1 end) as Y_1_6,
  sum(case when derivedTable.`Microphone Number` = 6 then derivedTable.Z_1 end) / count(case when derivedTable.`Microphone Number` = 6 then derivedTable.Z_1 end) as Z_1_6,
  sum(case when derivedTable.`Microphone Number` = 7 then derivedTable.X_1 end) / count(case when derivedTable.`Microphone Number` = 7 then derivedTable.X_1 end) as X_1_7,
  sum(case when derivedTable.`Microphone Number` = 7 then derivedTable.Y_1 end) / count(case when derivedTable.`Microphone Number` = 7 then derivedTable.Y_1 end) as Y_1_7,
  sum(case when derivedTable.`Microphone Number` = 7 then derivedTable.Z_1 end) / count(case when derivedTable.`Microphone Number` = 7 then derivedTable.Z_1 end) as Z_1_7
from ({0}) as derivedTable
group by quantized_time
'''

# Might change this later
GROUP_BY_QUERY_2 ='''
select
  derivedTable.quantized_time,
  sum(case when derivedTable.`Microphone Number` = 0 then derivedTable.X_2 end) / count(case when derivedTable.`Microphone Number` = 0 then derivedTable.X_2 end) as X_2_0,
  sum(case when derivedTable.`Microphone Number` = 0 then derivedTable.Y_2 end) / count(case when derivedTable.`Microphone Number` = 0 then derivedTable.Y_2 end) as Y_2_0,
  sum(case when derivedTable.`Microphone Number` = 0 then derivedTable.Z_2 end) / count(case when derivedTable.`Microphone Number` = 0 then derivedTable.Z_2 end) as Z_2_0,
  sum(case when derivedTable.`Microphone Number` = 1 then derivedTable.X_2 end) / count(case when derivedTable.`Microphone Number` = 1 then derivedTable.X_2 end) as X_2_1,
  sum(case when derivedTable.`Microphone Number` = 1 then derivedTable.Y_2 end) / count(case when derivedTable.`Microphone Number` = 1 then derivedTable.Y_2 end) as Y_2_1,
  sum(case when derivedTable.`Microphone Number` = 1 then derivedTable.Z_2 end) / count(case when derivedTable.`Microphone Number` = 1 then derivedTable.Z_2 end) as Z_2_1,
  sum(case when derivedTable.`Microphone Number` = 2 then derivedTable.X_2 end) / count(case when derivedTable.`Microphone Number` = 2 then derivedTable.X_2 end) as X_2_2,
  sum(case when derivedTable.`Microphone Number` = 2 then derivedTable.Y_2 end) / count(case when derivedTable.`Microphone Number` = 2 then derivedTable.Y_2 end) as Y_2_2,
  sum(case when derivedTable.`Microphone Number` = 2 then derivedTable.Z_2 end) / count(case when derivedTable.`Microphone Number` = 2 then derivedTable.Z_2 end) as Z_2_2,
  sum(case when derivedTable.`Microphone Number` = 3 then derivedTable.X_2 end) / count(case when derivedTable.`Microphone Number` = 3 then derivedTable.X_2 end) as X_2_3,
  sum(case when derivedTable.`Microphone Number` = 3 then derivedTable.Y_2 end) / count(case when derivedTable.`Microphone Number` = 3 then derivedTable.Y_2 end) as Y_2_3,
  sum(case when derivedTable.`Microphone Number` = 3 then derivedTable.Z_2 end) / count(case when derivedTable.`Microphone Number` = 3 then derivedTable.Z_2 end) as Z_2_3,
  sum(case when derivedTable.`Microphone Number` = 4 then derivedTable.X_2 end) / count(case when derivedTable.`Microphone Number` = 4 then derivedTable.X_2 end) as X_2_4,
  sum(case when derivedTable.`Microphone Number` = 4 then derivedTable.Y_2 end) / count(case when derivedTable.`Microphone Number` = 4 then derivedTable.Y_2 end) as Y_2_4,
  sum(case when derivedTable.`Microphone Number` = 4 then derivedTable.Z_2 end) / count(case when derivedTable.`Microphone Number` = 4 then derivedTable.Z_2 end) as Z_2_4,
  sum(case when derivedTable.`Microphone Number` = 5 then derivedTable.X_2 end) / count(case when derivedTable.`Microphone Number` = 5 then derivedTable.X_2 end) as X_2_5,
  sum(case when derivedTable.`Microphone Number` = 5 then derivedTable.Y_2 end) / count(case when derivedTable.`Microphone Number` = 5 then derivedTable.Y_2 end) as Y_2_5,
  sum(case when derivedTable.`Microphone Number` = 5 then derivedTable.Z_2 end) / count(case when derivedTable.`Microphone Number` = 5 then derivedTable.Z_2 end) as Z_2_5,
  sum(case when derivedTable.`Microphone Number` = 6 then derivedTable.X_2 end) / count(case when derivedTable.`Microphone Number` = 6 then derivedTable.X_2 end) as X_2_6,
  sum(case when derivedTable.`Microphone Number` = 6 then derivedTable.Y_2 end) / count(case when derivedTable.`Microphone Number` = 6 then derivedTable.Y_2 end) as Y_2_6,
  sum(case when derivedTable.`Microphone Number` = 6 then derivedTable.Z_2 end) / count(case when derivedTable.`Microphone Number` = 6 then derivedTable.Z_2 end) as Z_2_6,
  sum(case when derivedTable.`Microphone Number` = 7 then derivedTable.X_2 end) / count(case when derivedTable.`Microphone Number` = 7 then derivedTable.X_2 end) as X_2_7,
  sum(case when derivedTable.`Microphone Number` = 7 then derivedTable.Y_2 end) / count(case when derivedTable.`Microphone Number` = 7 then derivedTable.Y_2 end) as Y_2_7,
  sum(case when derivedTable.`Microphone Number` = 7 then derivedTable.Z_2 end) / count(case when derivedTable.`Microphone Number` = 7 then derivedTable.Z_2 end) as Z_2_7
from ({0}) as derivedTable
group by quantized_time
'''

from Tools import strTime_to_unixTime
# This function groups a 5-min-long data from 10 mins ago according to timestamp and append it to PCA matrix
def group_by0(start_time, end_time):
    
    unixtime_start, unixtime_end = strTime_to_unixTime(start_time, end_time)
    
#     nowTimestamp = datetime.datetime.now()
#     startTimestamp = datetime.timedelta(minutes = 10)
#     endTimestamp = datetime.timedelta(minutes = 5)
    
#     start_time = nowTimestamp - startTimestamp
#     end_time = nowTimestamp - endTimestamp

#     unixtime_start = time.mktime(start_time.timetuple())
#     unixtime_end = time.mktime(end_time.timetuple())
    
    query1 = RAW_TABLE_QUERY.format(INTERVAL,THRESHOLD,unixtime_start,unixtime_end) 
    query2 = GROUP_BY_QUERY_0.format(query1)
    
    tmpData = engine.execute(query2)
    
    return(tmpData)

def group_by1(start_time, end_time):
    
    unixtime_start, unixtime_end = strTime_to_unixTime(start_time, end_time)
    
#     nowTimestamp = datetime.datetime.now()
#     startTimestamp = datetime.timedelta(minutes = 10)
#     endTimestamp = datetime.timedelta(minutes = 5)
    
#     start_time = nowTimestamp - startTimestamp
#     end_time = nowTimestamp - endTimestamp

#     unixtime_start = time.mktime(start_time.timetuple())
#     unixtime_end = time.mktime(end_time.timetuple())
    
    query1 = RAW_TABLE_QUERY.format(INTERVAL,THRESHOLD,unixtime_start,unixtime_end) 
    query2 = GROUP_BY_QUERY_1.format(query1)
    
    tmpData = engine.execute(query2)
    
    return(tmpData)

def group_by2(start_time, end_time):
    
    unixtime_start, unixtime_end = strTime_to_unixTime(start_time, end_time)
    
#     nowTimestamp = datetime.datetime.now()
#     startTimestamp = datetime.timedelta(minutes = 10)
#     endTimestamp = datetime.timedelta(minutes = 5)
    
#     start_time = nowTimestamp - startTimestamp
#     end_time = nowTimestamp - endTimestamp

#     unixtime_start = time.mktime(start_time.timetuple())
#     unixtime_end = time.mktime(end_time.timetuple())
    
    query1 = RAW_TABLE_QUERY.format(INTERVAL,THRESHOLD,unixtime_start,unixtime_end) 
    query2 = GROUP_BY_QUERY_2.format(query1)
    
    tmpData = engine.execute(query2)
    
    return(tmpData)

In [7]:
dataBank = {}

In [15]:
# x0_y69
# Channel 0
dataObj0 = group_by0("Aug 28 2021 05:46PM", "Aug 28 2021 05:49PM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

Channel 0:
                   0     1     2     3    4    5    6     7     8     9   ...  \
0     1630197960.000  None  None  None  0.0  0.0  0.0  None  None  None  ...
1     1630197960.064  None  None  None  0.0  0.0  0.0  None  None  None  ...
2     1630197960.128  None  None  None  0.0  0.0  0.0  None  None  None  ...
3     1630197960.192  None  None  None  0.0  0.0  0.0  None  None  None  ...
4     1630197960.256  None  None  None  0.0  0.0  0.0  None  None  None  ...
...              ...   ...   ...   ...  ...  ...  ...   ...   ...   ...  ...
2808  1630198139.712  None  None  None  0.0  0.0  0.0  None  None  None  ...
2809  1630198139.776  None  None  None  0.0  0.0  0.0  None  None  None  ...
2810  1630198139.840  None  None  None  0.0  0.0  0.0  None  None  None  ...
2811  1630198139.904  None  None  None  0.0  0.0  0.0  None  None  None  ...
2812  1630198139.968  None  None  None  0.0  0.0  0.0  None  None  None  ...

            15    16    17    18    19    20    21    22    23    24
0     0.904125  None  None  None  None  None  None  None  None  None
1     0.904125  None  None  None  None  None  None  None  None  None
2     0.903750  None  None  None  None  None  None  None  None  None
3     0.904000  None  None  None  None  None  None  None  None  None
4     0.904250  None  None  None  None  None  None  None  None  None
...        ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
2808  0.908000  None  None  None  None  None  None  None  None  None
2809  0.907125  None  None  None  None  None  None  None  None  None
2810  0.907000  None  None  None  None  None  None  None  None  None
2811  0.907000  None  None  None  None  None  None  None  None  None
2812  0.906000  None  None  None  None  None  None  None  None  None

[2813 rows x 25 columns]
(2813, 25)

In [16]:
# Channel 1
dataObj1 = group_by1("Aug 28 2021 05:46PM", "Aug 28 2021 05:49PM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

channel 1:
                   0     1     2     3         4         5         6     7   \
0     1630197960.000  None  None  None  0.494000  0.028750  0.869000  None
1     1630197960.064  None  None  None  0.494000  0.028000  0.869000  None
2     1630197960.128  None  None  None  0.494875  0.028125  0.868375  None
3     1630197960.192  None  None  None  0.494750  0.028750  0.868625  None
4     1630197960.256  None  None  None  0.495875  0.029000  0.868000  None
...              ...   ...   ...   ...       ...       ...       ...   ...
2808  1630198139.712  None  None  None  0.486125  0.031125  0.873000  None
2809  1630198139.776  None  None  None  0.486125  0.030875  0.873375  None
2810  1630198139.840  None  None  None  0.485875  0.030375  0.873625  None
2811  1630198139.904  None  None  None  0.485125  0.030875  0.874000  None
2812  1630198139.968  None  None  None  0.485000  0.030750  0.874000  None

        8     9   ...   15    16    17    18    19    20    21    22    23  \
0     None  None  ...  0.0  None  None  None  None  None  None  None  None
1     None  None  ...  0.0  None  None  None  None  None  None  None  None
2     None  None  ...  0.0  None  None  None  None  None  None  None  None
3     None  None  ...  0.0  None  None  None  None  None  None  None  None
4     None  None  ...  0.0  None  None  None  None  None  None  None  None
...    ...   ...  ...  ...   ...   ...   ...   ...   ...   ...   ...   ...
2808  None  None  ...  0.0  None  None  None  None  None  None  None  None
2809  None  None  ...  0.0  None  None  None  None  None  None  None  None
2810  None  None  ...  0.0  None  None  None  None  None  None  None  None
2811  None  None  ...  0.0  None  None  None  None  None  None  None  None
2812  None  None  ...  0.0  None  None  None  None  None  None  None  None

        24
0     None
1     None
2     None
3     None
4     None
...    ...
2808  None
2809  None
2810  None
2811  None
2812  None

[2813 rows x 25 columns]
(2813, 25)

In [13]:
# Channel 2
dataObj2 = group_by2("Aug 28 2021 05:46PM", "Aug 28 2021 05:49PM")
dataPoints2 = dataObj2.fetchall()
df2 = pd.DataFrame(dataPoints2)

print("channel 2: \n", df2)
df2.columns = dataPoints2[0].keys() 
df2 = df2.fillna(value=np.nan)

df2_np = df2.to_numpy()
print(df2_np.shape)

KeyboardInterrupt:

In [5]:
df_np = df0_np

print(pd.DataFrame(df_np))
dataBank["x0_y69"] = deepcopy(df_np)
del df_np

                  0         1         2         3         4         5   \
0     1627876560.000   -0.4075 -0.561375      0.72   0.48525     0.031
1     1627876560.064  -0.40925 -0.560375      0.72  0.485125  0.030875
2     1627876560.128   -0.4085 -0.559375  0.721125  0.484875    0.0305
3     1627876560.192  -0.40925 -0.558875     0.721     0.485    0.0305
4     1627876560.256   -0.4115  -0.55775   0.72075   0.48525      0.03
...              ...       ...       ...       ...       ...       ...
2808  1627876739.712 -0.421125    -0.548   0.72275  0.478375  0.031875
2809  1627876739.776    -0.421 -0.549375   0.72175   0.47925     0.032
2810  1627876739.840 -0.419125   -0.5515  0.721125  0.478625     0.032
2811  1627876739.904     -0.42   -0.5525  0.720125  0.476875     0.032
2812  1627876739.968     -0.42    -0.554     0.719     0.477     0.032

            6         7         8         9         10        11        12  \
0        0.874 -0.171875  -0.42325  0.889375  0.418625  0.221625   0.88075
1        0.874 -0.171625 -0.421625  0.890375   0.41875   0.22225   0.88025
2        0.874  -0.17075 -0.421875   0.89025     0.419  0.222125      0.88
3        0.874 -0.169875   -0.4225      0.89  0.418875     0.222  0.880375
4     0.873875  -0.16925    -0.422  0.890625  0.419125  0.220625  0.880875
...        ...       ...       ...       ...       ...       ...       ...
2808  0.877375 -0.164875  -0.42725  0.888625  0.417625   0.21575     0.883
2809     0.877 -0.165625  -0.42525      0.89   0.41775     0.216    0.8825
2810   0.87725 -0.165625 -0.424125   0.89025  0.417375     0.216  0.882875
2811  0.878375   -0.1645    -0.423     0.891     0.417     0.216     0.883
2812   0.87825  -0.16425    -0.423     0.891   0.41675    0.2155     0.883

            13        14        15        16        17        18
0      0.49175  -0.16725   0.85425 -0.205125 -0.464625  0.861125
1      0.49125   -0.1675   0.85475 -0.205375 -0.464375  0.861375
2     0.490625    -0.167  0.854875 -0.205875 -0.465375     0.861
3      0.49225    -0.166  0.854375    -0.206  -0.46525  0.861125
4      0.49375    -0.166    0.8535  -0.20625 -0.463625     0.862
...        ...       ...       ...       ...       ...       ...
2808   0.48025  -0.17675     0.859    -0.201   -0.4615     0.864
2809  0.479875    -0.177   0.85925   -0.2015    -0.461     0.864
2810    0.4775 -0.176625  0.860875  -0.20175 -0.460875  0.864125
2811  0.476875 -0.176125  0.861125  -0.20225   -0.4605  0.864125
2812   0.47875    -0.176   0.86025    -0.202     -0.46     0.865

[2813 rows x 19 columns]

In [6]:
# x69_y69
# Channel 0
dataObj0 = group_by0("Aug 28 2021 05:51PM", "Aug 28 2021 05:54PM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Aug 28 2021 05:51PM", "Aug 28 2021 05:54PM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

Channel 0:
                   0         1         2         3    4    5    6         7   \
0     1627876860.000 -0.124000 -0.647625  0.751625  0.0  0.0  0.0 -0.260750
1     1627876860.064 -0.123750 -0.646500  0.752625  0.0  0.0  0.0 -0.260000
2     1627876860.128 -0.122625 -0.647000  0.752500  0.0  0.0  0.0 -0.259625
3     1627876860.192 -0.122375 -0.647125  0.752375  0.0  0.0  0.0 -0.258375
4     1627876860.256 -0.123750 -0.647625  0.752000  0.0  0.0  0.0 -0.258000
...              ...       ...       ...       ...  ...  ...  ...       ...
2808  1627877039.712 -0.127500 -0.655375  0.744500  0.0  0.0  0.0 -0.258000
2809  1627877039.776 -0.127000 -0.655875  0.744125  0.0  0.0  0.0 -0.258000
2810  1627877039.840 -0.126250 -0.655125  0.744875  0.0  0.0  0.0 -0.258000
2811  1627877039.904 -0.126375 -0.654125  0.745875  0.0  0.0  0.0 -0.258000
2812  1627877039.968 -0.126500 -0.653250  0.746250  0.0  0.0  0.0 -0.257750

            8         9         10        11        12        13        14  \
0    -0.549625  0.793875  0.692000  0.145500  0.707000  0.709875 -0.146000
1    -0.550000  0.793750  0.691500  0.147250  0.706875  0.710125 -0.145250
2    -0.551250  0.793125  0.691250  0.146500  0.707750  0.709375 -0.145125
3    -0.551125  0.793625  0.692000  0.146125  0.706875  0.708125 -0.145875
4    -0.551625  0.793000  0.692500  0.144000  0.706500  0.707500 -0.145500
...        ...       ...       ...       ...       ...       ...       ...
2808 -0.552500  0.792875  0.680000  0.127875  0.722000  0.704000 -0.150000
2809 -0.551500  0.793375  0.680125  0.126375  0.722000  0.703375 -0.151000
2810 -0.550625  0.793875  0.680250  0.122875  0.722500  0.703250 -0.151375
2811 -0.551375  0.793000  0.679875  0.121625  0.723000  0.703875 -0.150750
2812 -0.551000  0.794000  0.680750  0.120500  0.722250  0.703250 -0.150750

            15   16   17   18
0     0.689000  0.0  0.0  0.0
1     0.688875  0.0  0.0  0.0
2     0.689625  0.0  0.0  0.0
3     0.690875  0.0  0.0  0.0
4     0.691875  0.0  0.0  0.0
...        ...  ...  ...  ...
2808  0.694125  0.0  0.0  0.0
2809  0.694625  0.0  0.0  0.0
2810  0.694750  0.0  0.0  0.0
2811  0.694125  0.0  0.0  0.0
2812  0.694750  0.0  0.0  0.0

[2813 rows x 19 columns]
(2813, 19)
channel 1:
                   0    1    2    3         4         5         6    7    8   \
0     1627876860.000  0.0  0.0  0.0  0.135000  0.106875  0.985000  0.0  0.0
1     1627876860.064  0.0  0.0  0.0  0.135000  0.108250  0.985000  0.0  0.0
2     1627876860.128  0.0  0.0  0.0  0.135875  0.108000  0.985000  0.0  0.0
3     1627876860.192  0.0  0.0  0.0  0.136000  0.107625  0.985000  0.0  0.0
4     1627876860.256  0.0  0.0  0.0  0.136750  0.107875  0.985000  0.0  0.0
...              ...  ...  ...  ...       ...       ...       ...  ...  ...
2808  1627877039.712  0.0  0.0  0.0  0.131250  0.099875  0.986000  0.0  0.0
2809  1627877039.776  0.0  0.0  0.0  0.130375  0.098500  0.986625  0.0  0.0
2810  1627877039.840  0.0  0.0  0.0  0.130000  0.098000  0.987000  0.0  0.0
2811  1627877039.904  0.0  0.0  0.0  0.130250  0.098500  0.986875  0.0  0.0
2812  1627877039.968  0.0  0.0  0.0  0.130250  0.099000  0.986500  0.0  0.0

       9    10   11   12   13   14   15        16        17        18
0     0.0  0.0  0.0  0.0  0.0  0.0  0.0 -0.469000 -0.410500  0.782000
1     0.0  0.0  0.0  0.0  0.0  0.0  0.0 -0.468000 -0.411000  0.782500
2     0.0  0.0  0.0  0.0  0.0  0.0  0.0 -0.466875 -0.411125  0.783000
3     0.0  0.0  0.0  0.0  0.0  0.0  0.0 -0.466500 -0.411125  0.783000
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0 -0.464875 -0.412500  0.783500
...   ...  ...  ...  ...  ...  ...  ...       ...       ...       ...
2808  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -0.461250 -0.408000  0.787875
2809  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -0.461750 -0.409000  0.787000
2810  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -0.461000 -0.408000  0.788000
2811  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -0.461250 -0.408000  0.787875
2812  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -0.462000 -0.408750  0.787000

[2813 rows x 19 columns]
(2813, 19)

In [7]:
df_np = np.hstack([df0_np[:,:4], df1_np[:,4:7], df0_np[:,7:16], df1_np[:,16:]])
print(pd.DataFrame(df_np))

dataBank["x69_y69"] = deepcopy(df_np)
del df_np

                  0         1         2         3         4         5   \
0     1627876860.000    -0.124 -0.647625  0.751625     0.135  0.106875
1     1627876860.064  -0.12375   -0.6465  0.752625     0.135   0.10825
2     1627876860.128 -0.122625    -0.647    0.7525  0.135875     0.108
3     1627876860.192 -0.122375 -0.647125  0.752375     0.136  0.107625
4     1627876860.256  -0.12375 -0.647625     0.752   0.13675  0.107875
...              ...       ...       ...       ...       ...       ...
2808  1627877039.712   -0.1275 -0.655375    0.7445   0.13125  0.099875
2809  1627877039.776    -0.127 -0.655875  0.744125  0.130375    0.0985
2810  1627877039.840  -0.12625 -0.655125  0.744875      0.13     0.098
2811  1627877039.904 -0.126375 -0.654125  0.745875   0.13025    0.0985
2812  1627877039.968   -0.1265  -0.65325   0.74625   0.13025     0.099

            6         7         8         9         10        11        12  \
0        0.985  -0.26075 -0.549625  0.793875     0.692    0.1455     0.707
1        0.985     -0.26     -0.55   0.79375    0.6915   0.14725  0.706875
2        0.985 -0.259625  -0.55125  0.793125   0.69125    0.1465   0.70775
3        0.985 -0.258375 -0.551125  0.793625     0.692  0.146125  0.706875
4        0.985    -0.258 -0.551625     0.793    0.6925     0.144    0.7065
...        ...       ...       ...       ...       ...       ...       ...
2808     0.986    -0.258   -0.5525  0.792875      0.68  0.127875     0.722
2809  0.986625    -0.258   -0.5515  0.793375  0.680125  0.126375     0.722
2810     0.987    -0.258 -0.550625  0.793875   0.68025  0.122875    0.7225
2811  0.986875    -0.258 -0.551375     0.793  0.679875  0.121625     0.723
2812    0.9865  -0.25775    -0.551     0.794   0.68075    0.1205   0.72225

            13        14        15        16        17        18
0     0.709875    -0.146     0.689    -0.469   -0.4105     0.782
1     0.710125  -0.14525  0.688875    -0.468    -0.411    0.7825
2     0.709375 -0.145125  0.689625 -0.466875 -0.411125     0.783
3     0.708125 -0.145875  0.690875   -0.4665 -0.411125     0.783
4       0.7075   -0.1455  0.691875 -0.464875   -0.4125    0.7835
...        ...       ...       ...       ...       ...       ...
2808     0.704     -0.15  0.694125  -0.46125    -0.408  0.787875
2809  0.703375    -0.151  0.694625  -0.46175    -0.409     0.787
2810   0.70325 -0.151375   0.69475    -0.461    -0.408     0.788
2811  0.703875  -0.15075  0.694125  -0.46125    -0.408  0.787875
2812   0.70325  -0.15075   0.69475    -0.462  -0.40875     0.787

[2813 rows x 19 columns]

In [8]:
# x69_y0
# Channel 0
dataObj0 = group_by0("Aug 28 2021 05:56PM", "Aug 28 2021 05:59PM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Aug 28 2021 05:56PM", "Aug 28 2021 05:59PM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

Channel 0:
                   0    1    2    3         4         5         6         7   \
0     1627877160.000  0.0  0.0  0.0  0.095875 -0.297500  0.950000  0.035750
1     1627877160.064  0.0  0.0  0.0  0.095625 -0.297000  0.950000  0.036625
2     1627877160.128  0.0  0.0  0.0  0.096000 -0.297250  0.950000  0.036125
3     1627877160.192  0.0  0.0  0.0  0.096625 -0.297875  0.950000  0.036625
4     1627877160.256  0.0  0.0  0.0  0.095375 -0.297125  0.950000  0.037000
...              ...  ...  ...  ...       ...       ...       ...       ...
2808  1627877339.712  0.0  0.0  0.0  0.097125 -0.297250  0.950000  0.043875
2809  1627877339.776  0.0  0.0  0.0  0.097750 -0.297875  0.950000  0.043875
2810  1627877339.840  0.0  0.0  0.0  0.098000 -0.298500  0.949250  0.042625
2811  1627877339.904  0.0  0.0  0.0  0.099375 -0.300500  0.948625  0.042375
2812  1627877339.968  0.0  0.0  0.0  0.100000 -0.301000  0.948000  0.042000

            8         9         10        11        12   13   14   15   16  \
0    -0.564000  0.825000  0.628125  0.366250  0.686750  0.0  0.0  0.0  0.0
1    -0.564000  0.825000  0.629125  0.366875  0.685250  0.0  0.0  0.0  0.0
2    -0.564875  0.825000  0.631000  0.366000  0.684000  0.0  0.0  0.0  0.0
3    -0.565000  0.824375  0.631500  0.365375  0.684000  0.0  0.0  0.0  0.0
4    -0.565000  0.824000  0.630375  0.368000  0.683000  0.0  0.0  0.0  0.0
...        ...       ...       ...       ...       ...  ...  ...  ...  ...
2808 -0.564000  0.824750  0.638750  0.353000  0.683625  0.0  0.0  0.0  0.0
2809 -0.564000  0.825000  0.639250  0.351250  0.684000  0.0  0.0  0.0  0.0
2810 -0.564000  0.825000  0.637875  0.351500  0.685000  0.0  0.0  0.0  0.0
2811 -0.563750  0.825000  0.637875  0.349500  0.686500  0.0  0.0  0.0  0.0
2812 -0.564000  0.825000  0.636500  0.349750  0.687500  0.0  0.0  0.0  0.0

       17   18
0     0.0  0.0
1     0.0  0.0
2     0.0  0.0
3     0.0  0.0
4     0.0  0.0
...   ...  ...
2808  0.0  0.0
2809  0.0  0.0
2810  0.0  0.0
2811  0.0  0.0
2812  0.0  0.0

[2813 rows x 19 columns]
(2813, 19)
channel 1:
                   0         1         2        3    4    5    6    7    8   \
0     1627877160.000 -0.220625 -0.319000  0.92200  0.0  0.0  0.0  0.0  0.0
1     1627877160.064 -0.221000 -0.319000  0.92200  0.0  0.0  0.0  0.0  0.0
2     1627877160.128 -0.220750 -0.319375  0.92175  0.0  0.0  0.0  0.0  0.0
3     1627877160.192 -0.221375 -0.320000  0.92100  0.0  0.0  0.0  0.0  0.0
4     1627877160.256 -0.222000 -0.319375  0.92100  0.0  0.0  0.0  0.0  0.0
...              ...       ...       ...      ...  ...  ...  ...  ...  ...
2808  1627877339.712 -0.223125 -0.321375  0.92000  0.0  0.0  0.0  0.0  0.0
2809  1627877339.776 -0.222250 -0.322000  0.92000  0.0  0.0  0.0  0.0  0.0
2810  1627877339.840 -0.223000 -0.322625  0.92000  0.0  0.0  0.0  0.0  0.0
2811  1627877339.904 -0.223250 -0.322000  0.92000  0.0  0.0  0.0  0.0  0.0
2812  1627877339.968 -0.223250 -0.322000  0.92000  0.0  0.0  0.0  0.0  0.0

       9    10   11   12        13        14        15        16        17  \
0     0.0  0.0  0.0  0.0  0.690750  0.161000  0.704625 -0.571500 -0.528875
1     0.0  0.0  0.0  0.0  0.690875  0.161000  0.705000 -0.571000 -0.528500
2     0.0  0.0  0.0  0.0  0.691000  0.161375  0.704625 -0.571125 -0.528750
3     0.0  0.0  0.0  0.0  0.691250  0.161750  0.704375 -0.572000 -0.529000
4     0.0  0.0  0.0  0.0  0.690125  0.161125  0.705375 -0.571500 -0.528000
...   ...  ...  ...  ...       ...       ...       ...       ...       ...
2808  0.0  0.0  0.0  0.0  0.691000  0.157375  0.705125 -0.570000 -0.524125
2809  0.0  0.0  0.0  0.0  0.690000  0.157625  0.706125 -0.570000 -0.524375
2810  0.0  0.0  0.0  0.0  0.690000  0.158000  0.706000 -0.569875 -0.525000
2811  0.0  0.0  0.0  0.0  0.690500  0.157750  0.706000 -0.569000 -0.525625
2812  0.0  0.0  0.0  0.0  0.690000  0.157250  0.706000 -0.569250 -0.525500

            18
0     0.627500
1     0.628125
2     0.627875
3     0.627000
4     0.628125
...        ...
2808  0.632750
2809  0.632500
2810  0.632250
2811  0.632000
2812  0.632250

[2813 rows x 19 columns]
(2813, 19)

In [9]:
df_np = np.hstack([df0_np[:,:1], df1_np[:,1:4], df0_np[:,4:13], df1_np[:,13:]])
print(pd.DataFrame(df_np))

dataBank["x69_y0"] = deepcopy(df_np)
del df_np

                  0         1         2        3         4         5   \
0     1627877160.000 -0.220625    -0.319    0.922  0.095875   -0.2975
1     1627877160.064    -0.221    -0.319    0.922  0.095625    -0.297
2     1627877160.128  -0.22075 -0.319375  0.92175     0.096  -0.29725
3     1627877160.192 -0.221375     -0.32    0.921  0.096625 -0.297875
4     1627877160.256    -0.222 -0.319375    0.921  0.095375 -0.297125
...              ...       ...       ...      ...       ...       ...
2808  1627877339.712 -0.223125 -0.321375     0.92  0.097125  -0.29725
2809  1627877339.776  -0.22225    -0.322     0.92   0.09775 -0.297875
2810  1627877339.840    -0.223 -0.322625     0.92     0.098   -0.2985
2811  1627877339.904  -0.22325    -0.322     0.92  0.099375   -0.3005
2812  1627877339.968  -0.22325    -0.322     0.92       0.1    -0.301

            6         7         8         9         10        11        12  \
0         0.95   0.03575    -0.564     0.825  0.628125   0.36625   0.68675
1         0.95  0.036625    -0.564     0.825  0.629125  0.366875   0.68525
2         0.95  0.036125 -0.564875     0.825     0.631     0.366     0.684
3         0.95  0.036625    -0.565  0.824375    0.6315  0.365375     0.684
4         0.95     0.037    -0.565     0.824  0.630375     0.368     0.683
...        ...       ...       ...       ...       ...       ...       ...
2808      0.95  0.043875    -0.564   0.82475   0.63875     0.353  0.683625
2809      0.95  0.043875    -0.564     0.825   0.63925   0.35125     0.684
2810   0.94925  0.042625    -0.564     0.825  0.637875    0.3515     0.685
2811  0.948625  0.042375  -0.56375     0.825  0.637875    0.3495    0.6865
2812     0.948     0.042    -0.564     0.825    0.6365   0.34975    0.6875

            13        14        15        16        17        18
0      0.69075     0.161  0.704625   -0.5715 -0.528875    0.6275
1     0.690875     0.161     0.705    -0.571   -0.5285  0.628125
2        0.691  0.161375  0.704625 -0.571125  -0.52875  0.627875
3      0.69125   0.16175  0.704375    -0.572    -0.529     0.627
4     0.690125  0.161125  0.705375   -0.5715    -0.528  0.628125
...        ...       ...       ...       ...       ...       ...
2808     0.691  0.157375  0.705125     -0.57 -0.524125   0.63275
2809      0.69  0.157625  0.706125     -0.57 -0.524375    0.6325
2810      0.69     0.158     0.706 -0.569875    -0.525   0.63225
2811    0.6905   0.15775     0.706    -0.569 -0.525625     0.632
2812      0.69   0.15725     0.706  -0.56925   -0.5255   0.63225

[2813 rows x 19 columns]

In [10]:
# x0_y0
# Channel 0
dataObj0 = group_by0("Aug 28 2021 06:01PM", "Aug 28 2021 06:04PM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Aug 28 2021 06:01PM", "Aug 28 2021 06:04PM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

Channel 0:
                   0         1         2         3         4        5   \
0     1627877460.000 -0.573000 -0.236000  0.785000  0.436000 -0.27100
1     1627877460.064 -0.573500 -0.236000  0.784375  0.436000 -0.27100
2     1627877460.128 -0.572875 -0.236000  0.785000  0.436375 -0.27100
3     1627877460.192 -0.572250 -0.236000  0.785000  0.436000 -0.27000
4     1627877460.256 -0.572250 -0.236000  0.785000  0.437000 -0.27000
...              ...       ...       ...       ...       ...      ...
2808  1627877639.712 -0.574000 -0.235750  0.784125  0.437250 -0.27800
2809  1627877639.776 -0.573375 -0.236000  0.785000  0.437750 -0.27800
2810  1627877639.840 -0.573250 -0.235875  0.784875  0.437375 -0.27700
2811  1627877639.904 -0.572500 -0.236000  0.785375  0.437500 -0.27700
2812  1627877639.968 -0.571000 -0.236000  0.786000  0.437750 -0.27675

           6         7         8         9         10        11        12  \
0     0.85800  0.072750 -0.445000  0.893000  0.363250  0.557750  0.746250
1     0.85800  0.072375 -0.444375  0.893000  0.366250  0.558750  0.744000
2     0.85800  0.071750 -0.444000  0.893000  0.366625  0.559375  0.743500
3     0.85800  0.071750 -0.444375  0.893000  0.363750  0.559500  0.744750
4     0.85800  0.072000 -0.445000  0.892625  0.362625  0.559250  0.745500
...       ...       ...       ...       ...       ...       ...       ...
2808  0.85500  0.062000 -0.416375  0.907000  0.373500  0.545500  0.750000
2809  0.85500  0.060875 -0.416375  0.907000  0.372625  0.545000  0.750875
2810  0.85575  0.060000 -0.417000  0.907000  0.369625  0.545750  0.752125
2811  0.85550  0.060500 -0.417125  0.907000  0.368500  0.545625  0.752750
2812  0.85575  0.060500 -0.418250  0.906250  0.368750  0.548000  0.750750

            13        14      15        16        17        18
0     0.436500  0.150000  0.8870 -0.265000 -0.599000  0.756000
1     0.436375  0.150000  0.8870 -0.264250 -0.599000  0.756000
2     0.437000  0.150000  0.8870 -0.264875 -0.599250  0.755750
3     0.436750  0.150000  0.8870 -0.265000 -0.600000  0.755000
4     0.437000  0.150000  0.8870 -0.264750 -0.600000  0.755000
...        ...       ...     ...       ...       ...       ...
2808  0.438125  0.149750  0.8860 -0.263000 -0.596000  0.759000
2809  0.439000  0.149125  0.8860 -0.263000 -0.596000  0.759000
2810  0.438250  0.149000  0.8865 -0.261500 -0.596375  0.759000
2811  0.438000  0.149000  0.8870 -0.260750 -0.597000  0.758875
2812  0.437750  0.149000  0.8870 -0.260250 -0.597000  0.759000

[2813 rows x 19 columns]
(2813, 19)
channel 1:
                   0    1    2    3    4    5    6    7    8    9    10   11  \
0     1627877460.000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     1627877460.064  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     1627877460.128  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     1627877460.192  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     1627877460.256  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...              ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2808  1627877639.712  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2809  1627877639.776  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2810  1627877639.840  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2811  1627877639.904  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2812  1627877639.968  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

       12   13   14   15   16   17   18
0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...
2808  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2809  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2810  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2811  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2812  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[2813 rows x 19 columns]
(2813, 19)

In [11]:
df_np = df0_np
print(pd.DataFrame(df_np))

dataBank["x0_y0"] = deepcopy(df_np)
del df_np

                  0         1         2         3         4        5   \
0     1627877460.000    -0.573    -0.236     0.785     0.436   -0.271
1     1627877460.064   -0.5735    -0.236  0.784375     0.436   -0.271
2     1627877460.128 -0.572875    -0.236     0.785  0.436375   -0.271
3     1627877460.192  -0.57225    -0.236     0.785     0.436    -0.27
4     1627877460.256  -0.57225    -0.236     0.785     0.437    -0.27
...              ...       ...       ...       ...       ...      ...
2808  1627877639.712    -0.574  -0.23575  0.784125   0.43725   -0.278
2809  1627877639.776 -0.573375    -0.236     0.785   0.43775   -0.278
2810  1627877639.840  -0.57325 -0.235875  0.784875  0.437375   -0.277
2811  1627877639.904   -0.5725    -0.236  0.785375    0.4375   -0.277
2812  1627877639.968    -0.571    -0.236     0.786   0.43775 -0.27675

           6         7         8         9         10        11        12  \
0       0.858   0.07275    -0.445     0.893   0.36325   0.55775   0.74625
1       0.858  0.072375 -0.444375     0.893   0.36625   0.55875     0.744
2       0.858   0.07175    -0.444     0.893  0.366625  0.559375    0.7435
3       0.858   0.07175 -0.444375     0.893   0.36375    0.5595   0.74475
4       0.858     0.072    -0.445  0.892625  0.362625   0.55925    0.7455
...       ...       ...       ...       ...       ...       ...       ...
2808    0.855     0.062 -0.416375     0.907    0.3735    0.5455      0.75
2809    0.855  0.060875 -0.416375     0.907  0.372625     0.545  0.750875
2810  0.85575      0.06    -0.417     0.907  0.369625   0.54575  0.752125
2811   0.8555    0.0605 -0.417125     0.907    0.3685  0.545625   0.75275
2812  0.85575    0.0605  -0.41825   0.90625   0.36875     0.548   0.75075

            13        14      15        16        17        18
0       0.4365      0.15   0.887    -0.265    -0.599     0.756
1     0.436375      0.15   0.887  -0.26425    -0.599     0.756
2        0.437      0.15   0.887 -0.264875  -0.59925   0.75575
3      0.43675      0.15   0.887    -0.265      -0.6     0.755
4        0.437      0.15   0.887  -0.26475      -0.6     0.755
...        ...       ...     ...       ...       ...       ...
2808  0.438125   0.14975   0.886    -0.263    -0.596     0.759
2809     0.439  0.149125   0.886    -0.263    -0.596     0.759
2810   0.43825     0.149  0.8865   -0.2615 -0.596375     0.759
2811     0.438     0.149   0.887  -0.26075    -0.597  0.758875
2812   0.43775     0.149   0.887  -0.26025    -0.597     0.759

[2813 rows x 19 columns]

In [12]:
# xN69_y0
# Channel 0
dataObj0 = group_by0("Aug 28 2021 06:06PM", "Aug 28 2021 06:09PM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Aug 28 2021 06:06PM", "Aug 28 2021 06:09PM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

Channel 0:
                   0    1    2    3         4         5         6         7   \
0     1627877760.000  0.0  0.0  0.0  0.595625 -0.253000  0.762375  0.066000
1     1627877760.064  0.0  0.0  0.0  0.596750 -0.253625  0.761250  0.066875
2     1627877760.128  0.0  0.0  0.0  0.596500 -0.253625  0.761625  0.067125
3     1627877760.192  0.0  0.0  0.0  0.596250 -0.253500  0.761750  0.068000
4     1627877760.256  0.0  0.0  0.0  0.597000 -0.254375  0.760875  0.068000
...              ...  ...  ...  ...       ...       ...       ...       ...
2808  1627877939.712  0.0  0.0  0.0  0.593000 -0.250375  0.765000  0.057500
2809  1627877939.776  0.0  0.0  0.0  0.593000 -0.250625  0.765000  0.058625
2810  1627877939.840  0.0  0.0  0.0  0.592000 -0.252250  0.765500  0.059000
2811  1627877939.904  0.0  0.0  0.0  0.592000 -0.253000  0.765000  0.058000
2812  1627877939.968  0.0  0.0  0.0  0.592000 -0.252250  0.765000  0.058000

            8         9         10        11        12   13   14   15  \
0    -0.351875  0.933875  0.064250  0.567750  0.820750  0.0  0.0  0.0
1    -0.352250  0.933500  0.064000  0.567250  0.821000  0.0  0.0  0.0
2    -0.352125  0.933875  0.064000  0.568000  0.820625  0.0  0.0  0.0
3    -0.352125  0.933000  0.064625  0.568875  0.819875  0.0  0.0  0.0
4    -0.352000  0.933625  0.065000  0.569000  0.820000  0.0  0.0  0.0
...        ...       ...       ...       ...       ...  ...  ...  ...
2808 -0.321250  0.945125  0.067000  0.565125  0.822125  0.0  0.0  0.0
2809 -0.321375  0.945000  0.067111  0.565556  0.821889  0.0  0.0  0.0
2810 -0.322625  0.945000  0.066875  0.565875  0.822000  0.0  0.0  0.0
2811 -0.324000  0.944000  0.067000  0.566000  0.822000  0.0  0.0  0.0
2812 -0.324000  0.944000  0.067750  0.566000  0.821250  0.0  0.0  0.0

            16        17        18
0     0.233375 -0.636000  0.735625
1     0.234500 -0.634625  0.736250
2     0.235625 -0.633625  0.736875
3     0.236000 -0.635625  0.735250
4     0.235000 -0.635625  0.735125
...        ...       ...       ...
2808  0.233750 -0.634500  0.736750
2809  0.233125 -0.635000  0.736875
2810  0.233875 -0.634875  0.736250
2811  0.233875 -0.634875  0.736375
2812  0.234750 -0.635750  0.735250

[2813 rows x 19 columns]
(2813, 19)
channel 1:
                   0         1         2         3    4    5    6    7    8   \
0     1627877760.000 -0.554125  0.612375  0.563750  0.0  0.0  0.0  0.0  0.0
1     1627877760.064 -0.553750  0.613125  0.563750  0.0  0.0  0.0  0.0  0.0
2     1627877760.128 -0.553000  0.614500  0.562625  0.0  0.0  0.0  0.0  0.0
3     1627877760.192 -0.553000  0.614375  0.563000  0.0  0.0  0.0  0.0  0.0
4     1627877760.256 -0.552875  0.613875  0.563625  0.0  0.0  0.0  0.0  0.0
...              ...       ...       ...       ...  ...  ...  ...  ...  ...
2808  1627877939.712 -0.549000  0.617875  0.563000  0.0  0.0  0.0  0.0  0.0
2809  1627877939.776 -0.549625  0.617250  0.563000  0.0  0.0  0.0  0.0  0.0
2810  1627877939.840 -0.549125  0.618000  0.562500  0.0  0.0  0.0  0.0  0.0
2811  1627877939.904 -0.549750  0.618125  0.562000  0.0  0.0  0.0  0.0  0.0
2812  1627877939.968 -0.549000  0.619000  0.561500  0.0  0.0  0.0  0.0  0.0

       9    10   11   12        13        14     15   16   17   18
0     0.0  0.0  0.0  0.0  0.139000  0.119500  0.983  0.0  0.0  0.0
1     0.0  0.0  0.0  0.0  0.139000  0.119750  0.983  0.0  0.0  0.0
2     0.0  0.0  0.0  0.0  0.138625  0.119000  0.983  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.139000  0.119000  0.983  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.139000  0.119000  0.983  0.0  0.0  0.0
...   ...  ...  ...  ...       ...       ...    ...  ...  ...  ...
2808  0.0  0.0  0.0  0.0  0.141000  0.116375  0.983  0.0  0.0  0.0
2809  0.0  0.0  0.0  0.0  0.140875  0.116750  0.983  0.0  0.0  0.0
2810  0.0  0.0  0.0  0.0  0.140500  0.116875  0.983  0.0  0.0  0.0
2811  0.0  0.0  0.0  0.0  0.139000  0.116000  0.983  0.0  0.0  0.0
2812  0.0  0.0  0.0  0.0  0.139000  0.116000  0.983  0.0  0.0  0.0

[2813 rows x 19 columns]
(2813, 19)

In [13]:
df_np = np.hstack([df0_np[:,:1], df1_np[:,1:4], df0_np[:,4:13], df1_np[:,13:16], df0_np[:,16:]])
print(pd.DataFrame(df_np))

dataBank["xN69_y0"] = deepcopy(df_np)
del df_np

                  0         1         2         3         4         5   \
0     1627877760.000 -0.554125  0.612375   0.56375  0.595625    -0.253
1     1627877760.064  -0.55375  0.613125   0.56375   0.59675 -0.253625
2     1627877760.128    -0.553    0.6145  0.562625    0.5965 -0.253625
3     1627877760.192    -0.553  0.614375     0.563   0.59625   -0.2535
4     1627877760.256 -0.552875  0.613875  0.563625     0.597 -0.254375
...              ...       ...       ...       ...       ...       ...
2808  1627877939.712    -0.549  0.617875     0.563     0.593 -0.250375
2809  1627877939.776 -0.549625   0.61725     0.563     0.593 -0.250625
2810  1627877939.840 -0.549125     0.618    0.5625     0.592  -0.25225
2811  1627877939.904  -0.54975  0.618125     0.562     0.592    -0.253
2812  1627877939.968    -0.549     0.619    0.5615     0.592  -0.25225

            6         7         8         9          10        11        12  \
0     0.762375     0.066 -0.351875  0.933875    0.06425   0.56775   0.82075
1      0.76125  0.066875  -0.35225    0.9335      0.064   0.56725     0.821
2     0.761625  0.067125 -0.352125  0.933875      0.064     0.568  0.820625
3      0.76175     0.068 -0.352125     0.933   0.064625  0.568875  0.819875
4     0.760875     0.068    -0.352  0.933625      0.065     0.569      0.82
...        ...       ...       ...       ...        ...       ...       ...
2808     0.765    0.0575  -0.32125  0.945125      0.067  0.565125  0.822125
2809     0.765  0.058625 -0.321375     0.945  0.0671111  0.565556  0.821889
2810    0.7655     0.059 -0.322625     0.945   0.066875  0.565875     0.822
2811     0.765     0.058    -0.324     0.944      0.067     0.566     0.822
2812     0.765     0.058    -0.324     0.944    0.06775     0.566   0.82125

            13        14     15        16        17        18
0        0.139    0.1195  0.983  0.233375    -0.636  0.735625
1        0.139   0.11975  0.983    0.2345 -0.634625   0.73625
2     0.138625     0.119  0.983  0.235625 -0.633625  0.736875
3        0.139     0.119  0.983     0.236 -0.635625   0.73525
4        0.139     0.119  0.983     0.235 -0.635625  0.735125
...        ...       ...    ...       ...       ...       ...
2808     0.141  0.116375  0.983   0.23375   -0.6345   0.73675
2809  0.140875   0.11675  0.983  0.233125    -0.635  0.736875
2810    0.1405  0.116875  0.983  0.233875 -0.634875   0.73625
2811     0.139     0.116  0.983  0.233875 -0.634875  0.736375
2812     0.139     0.116  0.983   0.23475  -0.63575   0.73525

[2813 rows x 19 columns]

In [14]:
# xN138_y0
# Channel 0
dataObj0 = group_by0("Aug 28 2021 06:11PM", "Aug 28 2021 06:14PM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Aug 28 2021 06:11PM", "Aug 28 2021 06:14PM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

Channel 0:
                   0         1         2        3         4         5   \
0     1627878060.000 -0.634875  0.576750  0.51400  0.711375 -0.239250
1     1627878060.064 -0.635625  0.576000  0.51400  0.710750 -0.240000
2     1627878060.128 -0.636000  0.576000  0.51400  0.710000 -0.239500
3     1627878060.192 -0.636000  0.575625  0.51400  0.710500 -0.239875
4     1627878060.256 -0.636000  0.575875  0.51400  0.709625 -0.241000
...              ...       ...       ...      ...       ...       ...
2808  1627878239.712 -0.620125  0.581000  0.52650  0.706750 -0.233000
2809  1627878239.776 -0.619500  0.580500  0.52800  0.706500 -0.233375
2810  1627878239.840 -0.619875  0.580750  0.52775  0.706125 -0.233000
2811  1627878239.904 -0.623000  0.581500  0.52300  0.704750 -0.233875
2812  1627878239.968 -0.623250  0.581000  0.52350  0.704000 -0.234000

            6     7     8     9         10        11        12        13  \
0     0.660875  None  None  None -0.250875  0.542000  0.802000 -0.245125
1     0.661250  None  None  None -0.251000  0.541750  0.802000 -0.243625
2     0.662000  None  None  None -0.251000  0.541125  0.802750 -0.244500
3     0.661375  None  None  None -0.251625  0.541375  0.802125 -0.244375
4     0.662000  None  None  None -0.253250  0.543375  0.800500 -0.244250
...        ...   ...   ...   ...       ...       ...       ...       ...
2808  0.667750  None  None  None -0.257500  0.538000  0.802625 -0.235625
2809  0.668000  None  None  None -0.257000  0.538000  0.803000 -0.234375
2810  0.668625  None  None  None -0.256375  0.537875  0.803000 -0.234375
2811  0.669500  None  None  None -0.256000  0.539125  0.802125 -0.234500
2812  0.670000  None  None  None -0.256000  0.539500  0.802000 -0.235000

            14        15        16        17        18
0     0.036250  0.969000  0.551625 -0.543500  0.632625
1     0.036000  0.969000  0.552875 -0.544625  0.630875
2     0.034875  0.969000  0.551875 -0.544625  0.631500
3     0.034875  0.969000  0.552250 -0.545250  0.630875
4     0.035250  0.969000  0.553000 -0.545750  0.629750
...        ...       ...       ...       ...       ...
2808  0.041125  0.971000  0.559750 -0.553750  0.616375
2809  0.040375  0.971125  0.558000 -0.552875  0.618875
2810  0.040125  0.971125  0.558125 -0.553000  0.618500
2811  0.040250  0.971000  0.558750 -0.553750  0.617000
2812  0.040500  0.971000  0.558500 -0.554000  0.617500

[2813 rows x 19 columns]
(2813, 19)
channel 1:
                   0         1         2         3    4    5    6     7     8   \
0     1627878060.000 -0.803375 -0.218000  0.554125  0.0  0.0  0.0  None  None
1     1627878060.064 -0.803000 -0.218125  0.554375  0.0  0.0  0.0  None  None
2     1627878060.128 -0.803000 -0.218750  0.554625  0.0  0.0  0.0  None  None
3     1627878060.192 -0.804375 -0.219875  0.552250  0.0  0.0  0.0  None  None
4     1627878060.256 -0.804125 -0.220500  0.552250  0.0  0.0  0.0  None  None
...              ...       ...       ...       ...  ...  ...  ...   ...   ...
2808  1627878239.712 -0.800625 -0.223000  0.556000  0.0  0.0  0.0  None  None
2809  1627878239.776 -0.800000 -0.222750  0.557125  0.0  0.0  0.0  None  None
2810  1627878239.840 -0.800750 -0.222625  0.556125  0.0  0.0  0.0  None  None
2811  1627878239.904 -0.801000 -0.222000  0.556000  0.0  0.0  0.0  None  None
2812  1627878239.968 -0.801000 -0.222000  0.556500  0.0  0.0  0.0  None  None

        9    10   11   12   13   14   15   16   17   18
0     None  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     None  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     None  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     None  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     None  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2808  None  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2809  None  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2810  None  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2811  None  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2812  None  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[2813 rows x 19 columns]
(2813, 19)

In [15]:
df_np = df0_np
print(pd.DataFrame(df_np))

dataBank["xN138_y0"] = deepcopy(df_np)
del df_np

                  0         1         2        3         4         5   \
0     1627878060.000 -0.634875   0.57675    0.514  0.711375  -0.23925
1     1627878060.064 -0.635625     0.576    0.514   0.71075     -0.24
2     1627878060.128    -0.636     0.576    0.514      0.71   -0.2395
3     1627878060.192    -0.636  0.575625    0.514    0.7105 -0.239875
4     1627878060.256    -0.636  0.575875    0.514  0.709625    -0.241
...              ...       ...       ...      ...       ...       ...
2808  1627878239.712 -0.620125     0.581   0.5265   0.70675    -0.233
2809  1627878239.776   -0.6195    0.5805    0.528    0.7065 -0.233375
2810  1627878239.840 -0.619875   0.58075  0.52775  0.706125    -0.233
2811  1627878239.904    -0.623    0.5815    0.523   0.70475 -0.233875
2812  1627878239.968  -0.62325     0.581   0.5235     0.704    -0.234

            6    7    8    9         10        11        12        13  \
0     0.660875  NaN  NaN  NaN -0.250875     0.542     0.802 -0.245125
1      0.66125  NaN  NaN  NaN    -0.251   0.54175     0.802 -0.243625
2        0.662  NaN  NaN  NaN    -0.251  0.541125   0.80275   -0.2445
3     0.661375  NaN  NaN  NaN -0.251625  0.541375  0.802125 -0.244375
4        0.662  NaN  NaN  NaN  -0.25325  0.543375    0.8005  -0.24425
...        ...  ...  ...  ...       ...       ...       ...       ...
2808   0.66775  NaN  NaN  NaN   -0.2575     0.538  0.802625 -0.235625
2809     0.668  NaN  NaN  NaN    -0.257     0.538     0.803 -0.234375
2810  0.668625  NaN  NaN  NaN -0.256375  0.537875     0.803 -0.234375
2811    0.6695  NaN  NaN  NaN    -0.256  0.539125  0.802125   -0.2345
2812      0.67  NaN  NaN  NaN    -0.256    0.5395     0.802    -0.235

            14        15        16        17        18
0      0.03625     0.969  0.551625   -0.5435  0.632625
1        0.036     0.969  0.552875 -0.544625  0.630875
2     0.034875     0.969  0.551875 -0.544625    0.6315
3     0.034875     0.969   0.55225  -0.54525  0.630875
4      0.03525     0.969     0.553  -0.54575   0.62975
...        ...       ...       ...       ...       ...
2808  0.041125     0.971   0.55975  -0.55375  0.616375
2809  0.040375  0.971125     0.558 -0.552875  0.618875
2810  0.040125  0.971125  0.558125    -0.553    0.6185
2811   0.04025     0.971   0.55875  -0.55375     0.617
2812    0.0405     0.971    0.5585    -0.554    0.6175

[2813 rows x 19 columns]

In [16]:
# xN138_y69
# Channel 0
dataObj0 = group_by0("Aug 28 2021 06:16PM", "Aug 28 2021 06:19PM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Aug 28 2021 06:16PM", "Aug 28 2021 06:19PM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

Channel 0:
                   0         1         2         3         4         5   \
0     1627878360.000 -0.780250 -0.390375  0.488625  0.772000 -0.049875
1     1627878360.064 -0.781125 -0.390125  0.487750  0.770875 -0.050000
2     1627878360.128 -0.781500 -0.390250  0.486875  0.770125 -0.049625
3     1627878360.192 -0.782375 -0.389625  0.485875  0.769750 -0.049000
4     1627878360.256 -0.780375 -0.391250  0.487625  0.768375 -0.048250
...              ...       ...       ...       ...       ...       ...
2808  1627878539.712 -0.782125 -0.393000  0.483625  0.773000 -0.048000
2809  1627878539.776 -0.782500 -0.393000  0.483250  0.773750 -0.047500
2810  1627878539.840 -0.782000 -0.393375  0.483125  0.773125 -0.047500
2811  1627878539.904 -0.781250 -0.393750  0.484375  0.773000 -0.048000
2812  1627878539.968 -0.780000 -0.394500  0.486000  0.773250 -0.048250

            6     7     8     9         10        11        12        13  \
0     0.633750  None  None  None -0.284500  0.436500  0.853500 -0.266000
1     0.635125  None  None  None -0.284375  0.437000  0.853000 -0.266000
2     0.635875  None  None  None -0.284750  0.437000  0.853000 -0.266000
3     0.636500  None  None  None -0.285375  0.437000  0.853000 -0.266125
4     0.638125  None  None  None -0.285375  0.437000  0.853000 -0.266375
...        ...   ...   ...   ...       ...       ...       ...       ...
2808  0.632500  None  None  None -0.285125  0.434000  0.855000 -0.265750
2809  0.631750  None  None  None -0.285375  0.433250  0.855000 -0.265000
2810  0.632375  None  None  None -0.286375  0.433000  0.855000 -0.265000
2811  0.632125  None  None  None -0.287125  0.432375  0.854875 -0.265000
2812  0.632000  None  None  None -0.288000  0.432000  0.854500 -0.265000

           14     15        16        17        18
0    -0.25600  0.929  0.409375 -0.405500  0.817250
1    -0.25600  0.929  0.410125 -0.407625  0.815625
2    -0.25600  0.929  0.410625 -0.408750  0.814875
3    -0.25600  0.929  0.410125 -0.410125  0.814375
4    -0.25600  0.929  0.410000 -0.410875  0.814375
...       ...    ...       ...       ...       ...
2808 -0.25475  0.930  0.407625 -0.364000  0.837250
2809 -0.25400  0.930  0.407750 -0.363750  0.837250
2810 -0.25400  0.930  0.406750 -0.361500  0.838875
2811 -0.25400  0.930  0.407000 -0.364000  0.837500
2812 -0.25400  0.930  0.407750 -0.367250  0.836000

[2813 rows x 19 columns]
(2813, 19)
channel 1:
                   0    1    2    3    4    5    6     7     8     9    10  \
0     1627878360.000  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0
1     1627878360.064  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0
2     1627878360.128  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0
3     1627878360.192  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0
4     1627878360.256  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0
...              ...  ...  ...  ...  ...  ...  ...   ...   ...   ...  ...
2808  1627878539.712  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0
2809  1627878539.776  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0
2810  1627878539.840  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0
2811  1627878539.904  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0
2812  1627878539.968  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0

       11   12   13   14   15   16   17   18
0     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...
2808  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2809  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2810  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2811  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2812  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[2813 rows x 19 columns]
(2813, 19)

In [17]:
df_np = df0_np
print(pd.DataFrame(df_np))

dataBank["xN138_y69"] = deepcopy(df_np)
del df_np

                  0         1         2         3         4         5   \
0     1627878360.000  -0.78025 -0.390375  0.488625     0.772 -0.049875
1     1627878360.064 -0.781125 -0.390125   0.48775  0.770875     -0.05
2     1627878360.128   -0.7815  -0.39025  0.486875  0.770125 -0.049625
3     1627878360.192 -0.782375 -0.389625  0.485875   0.76975    -0.049
4     1627878360.256 -0.780375  -0.39125  0.487625  0.768375  -0.04825
...              ...       ...       ...       ...       ...       ...
2808  1627878539.712 -0.782125    -0.393  0.483625     0.773    -0.048
2809  1627878539.776   -0.7825    -0.393   0.48325   0.77375   -0.0475
2810  1627878539.840    -0.782 -0.393375  0.483125  0.773125   -0.0475
2811  1627878539.904  -0.78125  -0.39375  0.484375     0.773    -0.048
2812  1627878539.968     -0.78   -0.3945     0.486   0.77325  -0.04825

            6    7    8    9         10        11        12        13  \
0      0.63375  NaN  NaN  NaN   -0.2845    0.4365    0.8535    -0.266
1     0.635125  NaN  NaN  NaN -0.284375     0.437     0.853    -0.266
2     0.635875  NaN  NaN  NaN  -0.28475     0.437     0.853    -0.266
3       0.6365  NaN  NaN  NaN -0.285375     0.437     0.853 -0.266125
4     0.638125  NaN  NaN  NaN -0.285375     0.437     0.853 -0.266375
...        ...  ...  ...  ...       ...       ...       ...       ...
2808    0.6325  NaN  NaN  NaN -0.285125     0.434     0.855  -0.26575
2809   0.63175  NaN  NaN  NaN -0.285375   0.43325     0.855    -0.265
2810  0.632375  NaN  NaN  NaN -0.286375     0.433     0.855    -0.265
2811  0.632125  NaN  NaN  NaN -0.287125  0.432375  0.854875    -0.265
2812     0.632  NaN  NaN  NaN    -0.288     0.432    0.8545    -0.265

           14     15        16        17        18
0      -0.256  0.929  0.409375   -0.4055   0.81725
1      -0.256  0.929  0.410125 -0.407625  0.815625
2      -0.256  0.929  0.410625  -0.40875  0.814875
3      -0.256  0.929  0.410125 -0.410125  0.814375
4      -0.256  0.929      0.41 -0.410875  0.814375
...       ...    ...       ...       ...       ...
2808 -0.25475   0.93  0.407625    -0.364   0.83725
2809   -0.254   0.93   0.40775  -0.36375   0.83725
2810   -0.254   0.93   0.40675   -0.3615  0.838875
2811   -0.254   0.93     0.407    -0.364    0.8375
2812   -0.254   0.93   0.40775  -0.36725     0.836

[2813 rows x 19 columns]

In [18]:
# xN69_y69
# Channel 0
dataObj0 = group_by0("Aug 28 2021 06:21PM", "Aug 28 2021 06:24PM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Aug 28 2021 06:21PM", "Aug 28 2021 06:24PM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

Channel 0:
                   0         1         2         3         4         5   \
0     1627878660.000 -0.604750 -0.480500  0.635125  0.642750  0.043000
1     1627878660.064 -0.604250 -0.481375  0.635000  0.642875  0.043000
2     1627878660.128 -0.603250 -0.481250  0.635875  0.642750  0.043875
3     1627878660.192 -0.603750 -0.480250  0.636000  0.641750  0.044125
4     1627878660.256 -0.603125 -0.480375  0.636875  0.642375  0.044000
...              ...       ...       ...       ...       ...       ...
2808  1627878839.712 -0.608875 -0.485250  0.627500  0.634250  0.049125
2809  1627878839.776 -0.609625 -0.484375  0.627375  0.634875  0.050875
2810  1627878839.840 -0.611625 -0.483875  0.625750  0.635375  0.050625
2811  1627878839.904 -0.612250 -0.483125  0.625875  0.635375  0.048625
2812  1627878839.968 -0.612750 -0.481500  0.627000  0.635750  0.049250

            6     7     8     9         10        11        12   13   14   15  \
0     0.765000  None  None  None  0.028000  0.432000  0.901000  0.0  0.0  0.0
1     0.764750  None  None  None  0.028875  0.431500  0.901500  0.0  0.0  0.0
2     0.764875  None  None  None  0.029875  0.430750  0.902000  0.0  0.0  0.0
3     0.765750  None  None  None  0.030250  0.430625  0.902000  0.0  0.0  0.0
4     0.765000  None  None  None  0.030000  0.431375  0.902000  0.0  0.0  0.0
...        ...   ...   ...   ...       ...       ...       ...  ...  ...  ...
2808  0.771500  None  None  None  0.026875  0.430250  0.902125  0.0  0.0  0.0
2809  0.770875  None  None  None  0.026750  0.431125  0.902000  0.0  0.0  0.0
2810  0.770375  None  None  None  0.026000  0.431750  0.902000  0.0  0.0  0.0
2811  0.770625  None  None  None  0.027250  0.432500  0.901125  0.0  0.0  0.0
2812  0.770250  None  None  None  0.028000  0.433000  0.901000  0.0  0.0  0.0

            16        17        18
0     0.160125 -0.478875  0.863000
1     0.160375 -0.478875  0.863125
2     0.159000 -0.479125  0.863125
3     0.157625 -0.481000  0.862000
4     0.157375 -0.482500  0.861750
...        ...       ...       ...
2808  0.153375 -0.477500  0.865000
2809  0.153625 -0.477500  0.865000
2810  0.152500 -0.478875  0.864750
2811  0.150500 -0.478875  0.864750
2812  0.150000 -0.478250  0.865250

[2813 rows x 19 columns]
(2813, 19)
channel 1:
                   0    1    2    3    4    5    6     7     8     9    10  \
0     1627878660.000  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0
1     1627878660.064  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0
2     1627878660.128  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0
3     1627878660.192  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0
4     1627878660.256  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0
...              ...  ...  ...  ...  ...  ...  ...   ...   ...   ...  ...
2808  1627878839.712  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0
2809  1627878839.776  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0
2810  1627878839.840  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0
2811  1627878839.904  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0
2812  1627878839.968  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None  0.0

       11   12        13        14       15   16   17   18
0     0.0  0.0  0.134250 -0.242000  0.96100  0.0  0.0  0.0
1     0.0  0.0  0.134875 -0.242250  0.96100  0.0  0.0  0.0
2     0.0  0.0  0.134750 -0.242000  0.96100  0.0  0.0  0.0
3     0.0  0.0  0.133375 -0.242000  0.96100  0.0  0.0  0.0
4     0.0  0.0  0.133375 -0.242125  0.96100  0.0  0.0  0.0
...   ...  ...       ...       ...      ...  ...  ...  ...
2808  0.0  0.0  0.137000 -0.239875  0.96100  0.0  0.0  0.0
2809  0.0  0.0  0.136250 -0.239250  0.96100  0.0  0.0  0.0
2810  0.0  0.0  0.136000 -0.239875  0.96100  0.0  0.0  0.0
2811  0.0  0.0  0.136750 -0.238375  0.96150  0.0  0.0  0.0
2812  0.0  0.0  0.136000 -0.238500  0.96175  0.0  0.0  0.0

[2813 rows x 19 columns]
(2813, 19)

In [19]:
df_np = np.hstack([df0_np[:,:13], df1_np[:,13:16], df0_np[:,16:]])
print(pd.DataFrame(df_np))

dataBank["xN69_y69"] = deepcopy(df_np)
del df_np

                  0         1         2         3         4         5   \
0     1627878660.000  -0.60475   -0.4805  0.635125   0.64275     0.043
1     1627878660.064  -0.60425 -0.481375     0.635  0.642875     0.043
2     1627878660.128  -0.60325  -0.48125  0.635875   0.64275  0.043875
3     1627878660.192  -0.60375  -0.48025     0.636   0.64175  0.044125
4     1627878660.256 -0.603125 -0.480375  0.636875  0.642375     0.044
...              ...       ...       ...       ...       ...       ...
2808  1627878839.712 -0.608875  -0.48525    0.6275   0.63425  0.049125
2809  1627878839.776 -0.609625 -0.484375  0.627375  0.634875  0.050875
2810  1627878839.840 -0.611625 -0.483875   0.62575  0.635375  0.050625
2811  1627878839.904  -0.61225 -0.483125  0.625875  0.635375  0.048625
2812  1627878839.968  -0.61275   -0.4815     0.627   0.63575   0.04925

            6    7    8    9         10        11        12        13  \
0        0.765  NaN  NaN  NaN     0.028     0.432     0.901   0.13425
1      0.76475  NaN  NaN  NaN  0.028875    0.4315    0.9015  0.134875
2     0.764875  NaN  NaN  NaN  0.029875   0.43075     0.902   0.13475
3      0.76575  NaN  NaN  NaN   0.03025  0.430625     0.902  0.133375
4        0.765  NaN  NaN  NaN      0.03  0.431375     0.902  0.133375
...        ...  ...  ...  ...       ...       ...       ...       ...
2808    0.7715  NaN  NaN  NaN  0.026875   0.43025  0.902125     0.137
2809  0.770875  NaN  NaN  NaN   0.02675  0.431125     0.902   0.13625
2810  0.770375  NaN  NaN  NaN     0.026   0.43175     0.902     0.136
2811  0.770625  NaN  NaN  NaN   0.02725    0.4325  0.901125   0.13675
2812   0.77025  NaN  NaN  NaN     0.028     0.433     0.901     0.136

            14       15        16        17        18
0       -0.242    0.961  0.160125 -0.478875     0.863
1     -0.24225    0.961  0.160375 -0.478875  0.863125
2       -0.242    0.961     0.159 -0.479125  0.863125
3       -0.242    0.961  0.157625    -0.481     0.862
4    -0.242125    0.961  0.157375   -0.4825   0.86175
...        ...      ...       ...       ...       ...
2808 -0.239875    0.961  0.153375   -0.4775     0.865
2809  -0.23925    0.961  0.153625   -0.4775     0.865
2810 -0.239875    0.961    0.1525 -0.478875   0.86475
2811 -0.238375   0.9615    0.1505 -0.478875   0.86475
2812   -0.2385  0.96175      0.15  -0.47825   0.86525

[2813 rows x 19 columns]

In [20]:
# square1
# Channel 0
dataObj0 = group_by0("Aug 28 2021 06:25PM", "Aug 28 2021 06:27PM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Aug 28 2021 06:25PM", "Aug 28 2021 06:27PM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

Channel 0:
                   0      1      2      3   4   5   6   7   8   9    10     11  \
0     1627878903.264    NaN    NaN    NaN NaN NaN NaN NaN NaN NaN  0.0  0.466
1     1627878903.328    NaN    NaN    NaN NaN NaN NaN NaN NaN NaN  0.0  0.466
2     1627878903.392    NaN    NaN    NaN NaN NaN NaN NaN NaN NaN  0.0  0.466
3     1627878903.456    NaN    NaN    NaN NaN NaN NaN NaN NaN NaN  0.0  0.466
4     1627878903.520    NaN    NaN    NaN NaN NaN NaN NaN NaN NaN  0.0  0.466
...              ...    ...    ...    ...  ..  ..  ..  ..  ..  ..  ...    ...
4477  1627879189.792 -0.578 -0.234  0.782 NaN NaN NaN NaN NaN NaN  NaN    NaN
4478  1627879189.856    NaN    NaN    NaN NaN NaN NaN NaN NaN NaN  NaN    NaN
4479  1627879189.920    NaN    NaN    NaN NaN NaN NaN NaN NaN NaN  NaN    NaN
4480  1627879189.984    NaN    NaN    NaN NaN NaN NaN NaN NaN NaN  NaN    NaN
4481  1627879190.048    NaN    NaN    NaN NaN NaN NaN NaN NaN NaN  NaN    NaN

         12       13        14        15        16        17        18
0     0.885      NaN       NaN       NaN       NaN       NaN       NaN
1     0.885      NaN       NaN       NaN       NaN       NaN       NaN
2     0.885      NaN       NaN       NaN       NaN       NaN       NaN
3     0.885      NaN       NaN       NaN       NaN       NaN       NaN
4     0.885      NaN       NaN       NaN       NaN       NaN       NaN
...     ...      ...       ...       ...       ...       ...       ...
4477    NaN  0.44675  0.121500  0.886375 -0.278000 -0.618000  0.735125
4478    NaN  0.44750  0.120625  0.886000 -0.278000 -0.618125  0.735375
4479    NaN  0.44775  0.120500  0.886000 -0.277875 -0.618125  0.735125
4480    NaN  0.44800  0.120750  0.886000       NaN       NaN       NaN
4481    NaN  0.44760  0.120800  0.886000       NaN       NaN       NaN

[4482 rows x 19 columns]
(4482, 19)
channel 1:
                   0    1    2    3   4   5   6   7   8   9    10   11   12  \
0     1627878903.264  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN  0.0  0.0  0.0
1     1627878903.328  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN  0.0  0.0  0.0
2     1627878903.392  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN  0.0  0.0  0.0
3     1627878903.456  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN  0.0  0.0  0.0
4     1627878903.520  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN  0.0  0.0  0.0
...              ...  ...  ...  ...  ..  ..  ..  ..  ..  ..  ...  ...  ...
4477  1627879189.792  0.0  0.0  0.0 NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
4478  1627879189.856  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
4479  1627879189.920  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
4480  1627879189.984  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
4481  1627879190.048  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN

       13   14   15   16   17   18
0     NaN  NaN  NaN  NaN  NaN  NaN
1     NaN  NaN  NaN  NaN  NaN  NaN
2     NaN  NaN  NaN  NaN  NaN  NaN
3     NaN  NaN  NaN  NaN  NaN  NaN
4     NaN  NaN  NaN  NaN  NaN  NaN
...   ...  ...  ...  ...  ...  ...
4477  0.0  0.0  0.0  0.0  0.0  0.0
4478  0.0  0.0  0.0  0.0  0.0  0.0
4479  0.0  0.0  0.0  0.0  0.0  0.0
4480  0.0  0.0  0.0  NaN  NaN  NaN
4481  0.0  0.0  0.0  NaN  NaN  NaN

[4482 rows x 19 columns]
(4482, 19)

In [21]:
# # To CSV:
# df0 = df0.to_csv("1Aug2021_0935_0940_0.csv", index=False)
# df1 = df1.to_csv("1Aug2021_0935_0940_1.csv", index=False)

df_np = df0_np
print(pd.DataFrame(df_np))

dataBank["square1"] = deepcopy(df_np)
del df_np

                  0      1      2      3    4    5    6    7    8    9    10  \
0     1627878903.264    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN    0
1     1627878903.328    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN    0
2     1627878903.392    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN    0
3     1627878903.456    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN    0
4     1627878903.520    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN    0
...              ...    ...    ...    ...  ...  ...  ...  ...  ...  ...  ...
4477  1627879189.792 -0.578 -0.234  0.782  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4478  1627879189.856    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4479  1627879189.920    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4480  1627879189.984    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4481  1627879190.048    NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

         11     12       13        14        15        16        17        18
0     0.466  0.885      NaN       NaN       NaN       NaN       NaN       NaN
1     0.466  0.885      NaN       NaN       NaN       NaN       NaN       NaN
2     0.466  0.885      NaN       NaN       NaN       NaN       NaN       NaN
3     0.466  0.885      NaN       NaN       NaN       NaN       NaN       NaN
4     0.466  0.885      NaN       NaN       NaN       NaN       NaN       NaN
...     ...    ...      ...       ...       ...       ...       ...       ...
4477    NaN    NaN  0.44675    0.1215  0.886375    -0.278    -0.618  0.735125
4478    NaN    NaN   0.4475  0.120625     0.886    -0.278 -0.618125  0.735375
4479    NaN    NaN  0.44775    0.1205     0.886 -0.277875 -0.618125  0.735125
4480    NaN    NaN    0.448   0.12075     0.886       NaN       NaN       NaN
4481    NaN    NaN   0.4476    0.1208     0.886       NaN       NaN       NaN

[4482 rows x 19 columns]

In [ ]:
# square2
# Channel 0
dataObj0 = group_by0("Aug 28 2021 06:27PM", "Aug 28 2021 06:29PM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Aug 28 2021 06:27PM", "Aug 28 2021 06:29PM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

In [ ]:
# # To CSV:
# df0 = df0.to_csv("1Aug2021_0935_0940_0.csv", index=False)
# df1 = df1.to_csv("1Aug2021_0935_0940_1.csv", index=False)

df_np = df0_np
print(pd.DataFrame(df_np))

dataBank["square2"] = deepcopy(df_np)
del df_np

In [ ]:
# square3
# Channel 0
dataObj0 = group_by0("Aug 28 2021 06:30PM", "Aug 28 2021 06:32PM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Aug 28 2021 06:30PM", "Aug 28 2021 06:32PM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

In [ ]:
# # To CSV:
# df0 = df0.to_csv("1Aug2021_0935_0940_0.csv", index=False)
# df1 = df1.to_csv("1Aug2021_0935_0940_1.csv", index=False)

df_np = df0_np
print(pd.DataFrame(df_np))

dataBank["square3"] = deepcopy(df_np)
del df_np

In [ ]:
# square4
# Channel 0
dataObj0 = group_by0("Aug 28 2021 06:32PM", "Aug 28 2021 06:34PM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Aug 28 2021 06:32PM", "Aug 28 2021 06:34PM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

In [ ]:
# # To CSV:
# df0 = df0.to_csv("1Aug2021_0935_0940_0.csv", index=False)
# df1 = df1.to_csv("1Aug2021_0935_0940_1.csv", index=False)

df_np = df0_np
print(pd.DataFrame(df_np))

dataBank["square4"] = deepcopy(df_np)
del df_np

In [22]:
# rectangle1
# Channel 0
dataObj0 = group_by0("Aug 28 2021 06:35PM", "Aug 28 2021 06:37PM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Aug 28 2021 06:35PM", "Aug 28 2021 06:37PM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

Channel 0:
                   0         1         2         3      4         5         6   \
0     1627879260.000 -0.570375 -0.237000  0.786375  0.426 -0.274500  0.862000
1     1627879260.064 -0.571000 -0.237000  0.786000  0.427 -0.275000  0.861500
2     1627879260.128 -0.571000 -0.236625  0.786125  0.428 -0.275000  0.861000
3     1627879260.192 -0.569625 -0.237000  0.787000  0.428 -0.275875  0.861000
4     1627879260.256 -0.569000 -0.237000  0.787000  0.428 -0.276125  0.860375
...              ...       ...       ...       ...    ...       ...       ...
3591  1627879489.824 -0.469000 -0.512625  0.718875    NaN       NaN       NaN
3592  1627879489.888 -0.468875 -0.513000  0.719000    NaN       NaN       NaN
3593  1627879489.952 -0.468125 -0.513000  0.719500    NaN       NaN       NaN
3594  1627879490.016 -0.467750 -0.513250  0.719500    NaN       NaN       NaN
3595  1627879490.080 -0.467000 -0.513000  0.720000    NaN       NaN       NaN

            7         8         9         10       11        12   13   14  \
0     0.095500 -0.425000  0.900000  0.353125  0.55375  0.754000  0.0  0.0
1     0.094625 -0.426250  0.899625  0.353625  0.55350  0.754000  0.0  0.0
2     0.094000 -0.427875  0.899000  0.352375  0.55450  0.754000  0.0  0.0
3     0.093750 -0.427625  0.899000  0.352750  0.55575  0.753000  0.0  0.0
4     0.091125 -0.428500  0.899000  0.353750  0.55575  0.752375  0.0  0.0
...        ...       ...       ...       ...      ...       ...  ...  ...
3591 -0.154000 -0.385333  0.910000       NaN      NaN       NaN  NaN  NaN
3592       NaN       NaN       NaN       NaN      NaN       NaN  NaN  NaN
3593       NaN       NaN       NaN       NaN      NaN       NaN  NaN  NaN
3594       NaN       NaN       NaN       NaN      NaN       NaN  NaN  NaN
3595       NaN       NaN       NaN       NaN      NaN       NaN  NaN  NaN

       15        16        17      18
0     0.0 -0.268000 -0.603750  0.7510
1     0.0 -0.268000 -0.603250  0.7510
2     0.0 -0.268500 -0.603000  0.7510
3     0.0 -0.268000 -0.603500  0.7510
4     0.0 -0.268250 -0.603000  0.7510
...   ...       ...       ...     ...
3591  NaN -0.182375 -0.467625  0.8650
3592  NaN -0.182000 -0.467375  0.8650
3593  NaN -0.181200 -0.467200  0.8652
3594  NaN       NaN       NaN     NaN
3595  NaN       NaN       NaN     NaN

[3596 rows x 19 columns]
(3596, 19)
channel 1:
                   0    1    2    3    4    5    6    7    8    9    10   11  \
0     1627879260.000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     1627879260.064  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     1627879260.128  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     1627879260.192  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     1627879260.256  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...              ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
3591  1627879489.824  0.0  0.0  0.0  NaN  NaN  NaN  0.0  0.0  0.0  NaN  NaN
3592  1627879489.888  0.0  0.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3593  1627879489.952  0.0  0.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3594  1627879490.016  0.0  0.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3595  1627879490.080  0.0  0.0  0.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

       12        13      14       15   16   17   18
0     0.0  0.442000  0.1500  0.88425  0.0  0.0  0.0
1     0.0  0.441875  0.1495  0.88425  0.0  0.0  0.0
2     0.0  0.441000  0.1490  0.88500  0.0  0.0  0.0
3     0.0  0.441625  0.1490  0.88500  0.0  0.0  0.0
4     0.0  0.442000  0.1490  0.88450  0.0  0.0  0.0
...   ...       ...     ...      ...  ...  ...  ...
3591  NaN       NaN     NaN      NaN  0.0  0.0  0.0
3592  NaN       NaN     NaN      NaN  0.0  0.0  0.0
3593  NaN       NaN     NaN      NaN  0.0  0.0  0.0
3594  NaN       NaN     NaN      NaN  NaN  NaN  NaN
3595  NaN       NaN     NaN      NaN  NaN  NaN  NaN

[3596 rows x 19 columns]
(3596, 19)

In [23]:
# # To CSV:
# df0 = df0.to_csv("1Aug2021_0941_0945_0.csv", index=False)
# df1 = df1.to_csv("1Aug2021_0941_0945_1.csv", index=False)

df_np = np.hstack([df0_np[:,:13], df1_np[:,13:16], df0_np[:,16:]])
print(pd.DataFrame(df_np))

dataBank["rectangle1"] = deepcopy(df_np)
del df_np

                  0         1         2         3      4         5         6   \
0     1627879260.000 -0.570375    -0.237  0.786375  0.426   -0.2745     0.862
1     1627879260.064    -0.571    -0.237     0.786  0.427    -0.275    0.8615
2     1627879260.128    -0.571 -0.236625  0.786125  0.428    -0.275     0.861
3     1627879260.192 -0.569625    -0.237     0.787  0.428 -0.275875     0.861
4     1627879260.256    -0.569    -0.237     0.787  0.428 -0.276125  0.860375
...              ...       ...       ...       ...    ...       ...       ...
3591  1627879489.824    -0.469 -0.512625  0.718875    NaN       NaN       NaN
3592  1627879489.888 -0.468875    -0.513     0.719    NaN       NaN       NaN
3593  1627879489.952 -0.468125    -0.513    0.7195    NaN       NaN       NaN
3594  1627879490.016  -0.46775  -0.51325    0.7195    NaN       NaN       NaN
3595  1627879490.080    -0.467    -0.513      0.72    NaN       NaN       NaN

            7         8         9         10       11        12        13  \
0       0.0955    -0.425       0.9  0.353125  0.55375     0.754     0.442
1     0.094625  -0.42625  0.899625  0.353625   0.5535     0.754  0.441875
2        0.094 -0.427875     0.899  0.352375   0.5545     0.754     0.441
3      0.09375 -0.427625     0.899   0.35275  0.55575     0.753  0.441625
4     0.091125   -0.4285     0.899   0.35375  0.55575  0.752375     0.442
...        ...       ...       ...       ...      ...       ...       ...
3591    -0.154 -0.385333      0.91       NaN      NaN       NaN       NaN
3592       NaN       NaN       NaN       NaN      NaN       NaN       NaN
3593       NaN       NaN       NaN       NaN      NaN       NaN       NaN
3594       NaN       NaN       NaN       NaN      NaN       NaN       NaN
3595       NaN       NaN       NaN       NaN      NaN       NaN       NaN

          14       15        16        17      18
0       0.15  0.88425    -0.268  -0.60375   0.751
1     0.1495  0.88425    -0.268  -0.60325   0.751
2      0.149    0.885   -0.2685    -0.603   0.751
3      0.149    0.885    -0.268   -0.6035   0.751
4      0.149   0.8845  -0.26825    -0.603   0.751
...      ...      ...       ...       ...     ...
3591     NaN      NaN -0.182375 -0.467625   0.865
3592     NaN      NaN    -0.182 -0.467375   0.865
3593     NaN      NaN   -0.1812   -0.4672  0.8652
3594     NaN      NaN       NaN       NaN     NaN
3595     NaN      NaN       NaN       NaN     NaN

[3596 rows x 19 columns]

In [ ]:
# rectangle2
# Channel 0
dataObj0 = group_by0("Aug 28 2021 06:37PM", "Aug 28 2021 06:39PM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Aug 28 2021 06:37PM", "Aug 28 2021 06:39PM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

In [ ]:
# # To CSV:
# df0 = df0.to_csv("1Aug2021_0941_0945_0.csv", index=False)
# df1 = df1.to_csv("1Aug2021_0941_0945_1.csv", index=False)

df_np = np.hstack([df0_np[:,:13], df1_np[:,13:16], df0_np[:,16:]])
print(pd.DataFrame(df_np))

dataBank["rectangle2"] = deepcopy(df_np)
del df_np

In [24]:
# table1
# Channel 0
dataObj0 = group_by0("Aug 28 2021 06:40PM", "Aug 28 2021 06:42PM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Aug 28 2021 06:40PM", "Aug 28 2021 06:42PM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

# Channel 2
dataObj2 = group_by2("Aug 28 2021 06:40PM", "Aug 28 2021 06:42PM")
dataPoints2 = dataObj2.fetchall()
df2 = pd.DataFrame(dataPoints2)

print("channel 2: \n", df2)
df2.columns = dataPoints2[0].keys() 
df2 = df2.fillna(value=np.nan)

df2_np = df2.to_numpy()
print(df2_np.shape)

Channel 0:
                   0         1         2         3         4         5   \
0     1627879560.000 -0.356625 -0.580625  0.731750  0.504750  0.167375
1     1627879560.064 -0.356875 -0.581000  0.731625  0.504875  0.167250
2     1627879560.128 -0.355750 -0.581000  0.732000  0.504750  0.168500
3     1627879560.192 -0.356250 -0.581000  0.731875  0.504375  0.169500
4     1627879560.256 -0.355875 -0.581000  0.732000  0.504125  0.169875
...              ...       ...       ...       ...       ...       ...
1870  1627879679.680 -0.335625 -0.673000  0.659125  0.475875  0.179875
1871  1627879679.744 -0.336625 -0.673750  0.657625  0.476625  0.179000
1872  1627879679.808 -0.337000 -0.673875  0.657500  0.479625  0.178500
1873  1627879679.872 -0.337375 -0.673375  0.657625  0.480000  0.178875
1874  1627879679.936 -0.336500 -0.673000  0.658750  0.479875  0.179000

            6         7         8         9    10   11   12   13   14   15  \
0     0.847000 -0.235000 -0.419875  0.876625  0.0  0.0  0.0  0.0  0.0  0.0
1     0.847000 -0.235000 -0.419875  0.876625  0.0  0.0  0.0  0.0  0.0  0.0
2     0.846875 -0.235625 -0.418625  0.877000  0.0  0.0  0.0  0.0  0.0  0.0
3     0.846750 -0.237000 -0.418625  0.877000  0.0  0.0  0.0  0.0  0.0  0.0
4     0.846750 -0.237375 -0.418625  0.877000  0.0  0.0  0.0  0.0  0.0  0.0
...        ...       ...       ...       ...  ...  ...  ...  ...  ...  ...
1870  0.860875 -0.225750 -0.371125  0.900375  0.0  0.0  0.0  0.0  0.0  0.0
1871  0.860625 -0.226625 -0.369875  0.901000  0.0  0.0  0.0  0.0  0.0  0.0
1872  0.859250 -0.225750 -0.368125  0.901875  0.0  0.0  0.0  0.0  0.0  0.0
1873  0.859000 -0.225000 -0.367875  0.902125  0.0  0.0  0.0  0.0  0.0  0.0
1874  0.859000 -0.224625 -0.369250  0.901750  0.0  0.0  0.0  0.0  0.0  0.0

            16        17        18
0    -0.128000 -0.393000  0.911000
1    -0.128000 -0.393000  0.911000
2    -0.128750 -0.393000  0.910000
3    -0.129000 -0.393000  0.910125
4    -0.129125 -0.392625  0.911000
...        ...       ...       ...
1870 -0.131000 -0.396125  0.909000
1871 -0.131000 -0.396625  0.909000
1872 -0.131250 -0.395375  0.909000
1873 -0.131000 -0.396000  0.909000
1874 -0.130750 -0.395500  0.909000

[1875 rows x 19 columns]
(1875, 19)
channel 1:
                   0    1    2    3    4    5    6    7    8    9         10  \
0     1627879560.000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.409250
1     1627879560.064  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.409750
2     1627879560.128  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.409000
3     1627879560.192  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.408750
4     1627879560.256  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.409875
...              ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
1870  1627879679.680  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.424000
1871  1627879679.744  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.423875
1872  1627879679.808  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.424000
1873  1627879679.872  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.424000
1874  1627879679.936  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.424000

            11        12   13   14   15   16   17   18
0     0.075875  0.909000  0.0  0.0  0.0  0.0  0.0  0.0
1     0.075625  0.909000  0.0  0.0  0.0  0.0  0.0  0.0
2     0.076875  0.909125  0.0  0.0  0.0  0.0  0.0  0.0
3     0.077625  0.909125  0.0  0.0  0.0  0.0  0.0  0.0
4     0.077500  0.909000  0.0  0.0  0.0  0.0  0.0  0.0
...        ...       ...  ...  ...  ...  ...  ...  ...
1870  0.090000  0.901000  0.0  0.0  0.0  0.0  0.0  0.0
1871  0.089875  0.901000  0.0  0.0  0.0  0.0  0.0  0.0
1872  0.090000  0.901000  0.0  0.0  0.0  0.0  0.0  0.0
1873  0.090500  0.901000  0.0  0.0  0.0  0.0  0.0  0.0
1874  0.091125  0.901000  0.0  0.0  0.0  0.0  0.0  0.0

[1875 rows x 19 columns]
(1875, 19)
channel 2:
                   0    1    2    3    4    5    6    7    8    9    10   11  \
0     1627879560.000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     1627879560.064  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     1627879560.128  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     1627879560.192  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     1627879560.256  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...              ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1870  1627879679.680  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1871  1627879679.744  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1872  1627879679.808  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1873  1627879679.872  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1874  1627879679.936  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

       12        13        14        15   16   17   18
0     0.0  0.445000 -0.311000  0.839875  0.0  0.0  0.0
1     0.0  0.445625 -0.309625  0.840000  0.0  0.0  0.0
2     0.0  0.446000 -0.308250  0.840125  0.0  0.0  0.0
3     0.0  0.445250 -0.308000  0.841000  0.0  0.0  0.0
4     0.0  0.444750 -0.308000  0.841000  0.0  0.0  0.0
...   ...       ...       ...       ...  ...  ...  ...
1870  0.0  0.443750 -0.303625  0.843000  0.0  0.0  0.0
1871  0.0  0.442125 -0.303375  0.843750  0.0  0.0  0.0
1872  0.0  0.441875 -0.303250  0.844000  0.0  0.0  0.0
1873  0.0  0.442250 -0.303000  0.844000  0.0  0.0  0.0
1874  0.0  0.442875 -0.302500  0.844000  0.0  0.0  0.0

[1875 rows x 19 columns]
(1875, 19)

In [25]:
# # To CSV:
# df0 = df0.to_csv("1Aug2021_0941_0945_0.csv", index=False)
# df1 = df1.to_csv("1Aug2021_0941_0945_1.csv", index=False)

df_np = np.hstack([df0_np[:,:10], df1_np[:,10:13], df2_np[:,13:16], df0_np[:,16:]])
print(pd.DataFrame(df_np))

dataBank["table1"] = deepcopy(df_np)
del df_np

                  0         1         2         3         4         5   \
0     1627879560.000 -0.356625 -0.580625   0.73175   0.50475  0.167375
1     1627879560.064 -0.356875    -0.581  0.731625  0.504875   0.16725
2     1627879560.128  -0.35575    -0.581     0.732   0.50475    0.1685
3     1627879560.192  -0.35625    -0.581  0.731875  0.504375    0.1695
4     1627879560.256 -0.355875    -0.581     0.732  0.504125  0.169875
...              ...       ...       ...       ...       ...       ...
1870  1627879679.680 -0.335625    -0.673  0.659125  0.475875  0.179875
1871  1627879679.744 -0.336625  -0.67375  0.657625  0.476625     0.179
1872  1627879679.808    -0.337 -0.673875    0.6575  0.479625    0.1785
1873  1627879679.872 -0.337375 -0.673375  0.657625      0.48  0.178875
1874  1627879679.936   -0.3365    -0.673   0.65875  0.479875     0.179

            6         7         8         9         10        11        12  \
0        0.847    -0.235 -0.419875  0.876625   0.40925  0.075875     0.909
1        0.847    -0.235 -0.419875  0.876625   0.40975  0.075625     0.909
2     0.846875 -0.235625 -0.418625     0.877     0.409  0.076875  0.909125
3      0.84675    -0.237 -0.418625     0.877   0.40875  0.077625  0.909125
4      0.84675 -0.237375 -0.418625     0.877  0.409875    0.0775     0.909
...        ...       ...       ...       ...       ...       ...       ...
1870  0.860875  -0.22575 -0.371125  0.900375     0.424      0.09     0.901
1871  0.860625 -0.226625 -0.369875     0.901  0.423875  0.089875     0.901
1872   0.85925  -0.22575 -0.368125  0.901875     0.424      0.09     0.901
1873     0.859    -0.225 -0.367875  0.902125     0.424    0.0905     0.901
1874     0.859 -0.224625  -0.36925   0.90175     0.424  0.091125     0.901

            13        14        15        16        17        18
0        0.445    -0.311  0.839875    -0.128    -0.393     0.911
1     0.445625 -0.309625      0.84    -0.128    -0.393     0.911
2        0.446  -0.30825  0.840125  -0.12875    -0.393      0.91
3      0.44525    -0.308     0.841    -0.129    -0.393  0.910125
4      0.44475    -0.308     0.841 -0.129125 -0.392625     0.911
...        ...       ...       ...       ...       ...       ...
1870   0.44375 -0.303625     0.843    -0.131 -0.396125     0.909
1871  0.442125 -0.303375   0.84375    -0.131 -0.396625     0.909
1872  0.441875  -0.30325     0.844  -0.13125 -0.395375     0.909
1873   0.44225    -0.303     0.844    -0.131    -0.396     0.909
1874  0.442875   -0.3025     0.844  -0.13075   -0.3955     0.909

[1875 rows x 19 columns]

In [30]:
# table2
# Channel 0
dataObj0 = group_by0("Aug 28 2021 06:42PM", "Aug 28 2021 06:44PM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Aug 28 2021 06:42PM", "Aug 28 2021 06:44PM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

# Channel 2
dataObj2 = group_by2("Aug 28 2021 06:42PM", "Aug 28 2021 06:44PM")
dataPoints2 = dataObj2.fetchall()
df2 = pd.DataFrame(dataPoints2)

print("channel 2: \n", df2)
df2.columns = dataPoints2[0].keys() 
df2 = df2.fillna(value=np.nan)

df2_np = df2.to_numpy()
print(df2_np.shape)

Channel 0:
                   0         1         2         3         4         5   \
0     1627879920.000 -0.343125 -0.667625  0.660500  0.477000  0.177125
1     1627879920.064 -0.344375 -0.667750  0.660000  0.477000  0.177000
2     1627879920.128 -0.345125 -0.668500  0.658875  0.477000  0.176625
3     1627879920.192 -0.343500 -0.670375  0.657875  0.476625  0.177125
4     1627879920.256 -0.343250 -0.670750  0.657250  0.476750  0.176875
...              ...       ...       ...       ...       ...       ...
1870  1627880039.680 -0.401625 -0.636750  0.658375  0.484500  0.167625
1871  1627880039.744 -0.401375 -0.637500  0.657625  0.484375  0.167375
1872  1627880039.808 -0.401000 -0.637500  0.658000  0.484250  0.166750
1873  1627880039.872 -0.400750 -0.638000  0.657625  0.484375  0.166000
1874  1627880039.936 -0.400375 -0.638500  0.657125  0.482500  0.166000

            6        7         8         9         10        11        12  \
0     0.861000 -0.23200 -0.419000  0.878000  0.426625  0.083000  0.901000
1     0.861000 -0.23375 -0.419000  0.877375  0.427000  0.083625  0.900750
2     0.861000 -0.23400 -0.420000  0.877000  0.426000  0.083875  0.901000
3     0.861000 -0.23400 -0.420125  0.877000  0.427000  0.084500  0.900375
4     0.861000 -0.23400 -0.420000  0.877000  0.423375  0.083750  0.901875
...        ...      ...       ...       ...       ...       ...       ...
1870  0.858625 -0.22625 -0.403125  0.886750  0.420625  0.090500  0.903000
1871  0.858750 -0.22600 -0.402375  0.887125  0.417625  0.090875  0.904125
1872  0.859000 -0.22700 -0.399375  0.888250  0.415375  0.090375  0.905250
1873  0.859000 -0.22700 -0.399500  0.888000  0.412250  0.090250  0.906500
1874  0.860000 -0.22700 -0.399375  0.888000  0.410250  0.090125  0.907375

            13        14        15        16        17        18
0     0.458625 -0.318500  0.829625 -0.131375 -0.396000  0.909000
1     0.459000 -0.317625  0.829625 -0.131125 -0.395625  0.909000
2     0.457000 -0.314875  0.831875 -0.130875 -0.395125  0.909125
3     0.456875 -0.314000  0.832250 -0.130625 -0.393000  0.910000
4     0.458375 -0.312875  0.832000 -0.130250 -0.393000  0.910000
...        ...       ...       ...       ...       ...       ...
1870  0.455375 -0.313875  0.833000 -0.126875 -0.389875  0.912000
1871  0.454625 -0.312250  0.833875 -0.126250 -0.390000  0.912000
1872  0.454750 -0.311250  0.834625 -0.126625 -0.390000  0.912000
1873  0.454125 -0.309875  0.835250 -0.126875 -0.389250  0.912125
1874  0.454750 -0.307875  0.836000 -0.126750 -0.387000  0.913000

[1875 rows x 19 columns]
(1875, 19)
channel 1:
                   0    1    2    3    4    5    6    7    8    9    10   11  \
0     1627879920.000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     1627879920.064  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     1627879920.128  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     1627879920.192  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     1627879920.256  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...              ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1870  1627880039.680  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1871  1627880039.744  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1872  1627880039.808  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1873  1627880039.872  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1874  1627880039.936  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

       12   13   14   15   16   17   18
0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...
1870  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1871  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1872  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1873  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1874  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[1875 rows x 19 columns]
(1875, 19)
channel 2:
                   0    1    2    3    4    5    6    7    8    9    10   11  \
0     1627879920.000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     1627879920.064  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     1627879920.128  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     1627879920.192  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     1627879920.256  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...              ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1870  1627880039.680  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1871  1627880039.744  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1872  1627880039.808  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1873  1627880039.872  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1874  1627880039.936  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

       12   13   14   15   16   17   18
0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...
1870  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1871  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1872  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1873  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1874  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[1875 rows x 19 columns]
(1875, 19)

In [ ]:
df_np = df0_np
print(pd.DataFrame(df_np))

dataBank["table2"] = deepcopy(df_np)
del df_np

In [26]:
# table3
# Channel 0
dataObj0 = group_by0("Aug 28 2021 06:45PM", "Aug 28 2021 06:47PM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Aug 28 2021 06:45PM", "Aug 28 2021 06:47PM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

# Channel 2
dataObj2 = group_by2("Aug 28 2021 06:45PM", "Aug 28 2021 06:47PM")
dataPoints2 = dataObj2.fetchall()
df2 = pd.DataFrame(dataPoints2)

print("channel 2: \n", df2)
df2.columns = dataPoints2[0].keys() 
df2 = df2.fillna(value=np.nan)

df2_np = df2.to_numpy()
print(df2_np.shape)

Channel 0:
                   0         1         2         3         4         5   \
0     1627879680.000 -0.336500 -0.672750  0.658875  0.479000  0.178250
1     1627879680.064 -0.336625 -0.673250  0.658250  0.479875  0.177500
2     1627879680.128 -0.335500 -0.674375  0.657625  0.480500  0.176875
3     1627879680.192 -0.336000 -0.674000  0.657750  0.480500  0.177000
4     1627879680.256 -0.335250 -0.674125  0.658500  0.480000  0.176750
...              ...       ...       ...       ...       ...       ...
1714  1627879789.696 -0.340875 -0.601875  0.722375  0.462167  0.171667
1715  1627879789.760 -0.341000 -0.601875  0.722000       NaN       NaN
1716  1627879789.824 -0.341750 -0.603000  0.720875       NaN       NaN
1717  1627879789.888 -0.341250 -0.603125  0.720750       NaN       NaN
1718  1627879789.952 -0.340625 -0.603500  0.720875       NaN       NaN

            6         7         8         9    10   11   12   13   14   15  \
0     0.859625 -0.225000 -0.370750  0.901000  0.0  0.0  0.0  0.0  0.0  0.0
1     0.859125 -0.225125 -0.369000  0.901750  0.0  0.0  0.0  0.0  0.0  0.0
2     0.859000 -0.226375 -0.367875  0.901750  0.0  0.0  0.0  0.0  0.0  0.0
3     0.859000 -0.227000 -0.371750  0.900125  0.0  0.0  0.0  0.0  0.0  0.0
4     0.859125 -0.226625 -0.373750  0.899250  0.0  0.0  0.0  0.0  0.0  0.0
...        ...       ...       ...       ...  ...  ...  ...  ...  ...  ...
1714  0.870167 -0.117750 -0.073625  0.990000  NaN  NaN  NaN  NaN  NaN  NaN
1715       NaN -0.115250 -0.072750  0.990375  NaN  NaN  NaN  NaN  NaN  NaN
1716       NaN -0.111875 -0.073000  0.991000  NaN  NaN  NaN  NaN  NaN  NaN
1717       NaN -0.112375 -0.073875  0.991000  NaN  NaN  NaN  NaN  NaN  NaN
1718       NaN -0.108000 -0.073600  0.991000  NaN  NaN  NaN  NaN  NaN  NaN

            16        17        18
0    -0.131000 -0.395250  0.909000
1    -0.131000 -0.395000  0.909000
2    -0.130375 -0.394625  0.909125
3    -0.130375 -0.392875  0.910125
4    -0.131000 -0.394375  0.909500
...        ...       ...       ...
1714 -0.137000 -0.404000  0.904125
1715 -0.138875 -0.404875  0.903875
1716 -0.139875 -0.406250  0.903000
1717 -0.140000 -0.407000  0.902778
1718 -0.139000 -0.407000  0.903000

[1719 rows x 19 columns]
(1719, 19)
channel 1:
                   0    1    2    3    4    5    6    7    8    9         10  \
0     1627879680.000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.424000
1     1627879680.064  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.424000
2     1627879680.128  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.422625
3     1627879680.192  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.423125
4     1627879680.256  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.423750
...              ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
1714  1627879789.696  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0       NaN
1715  1627879789.760  0.0  0.0  0.0  NaN  NaN  NaN  0.0  0.0  0.0       NaN
1716  1627879789.824  0.0  0.0  0.0  NaN  NaN  NaN  0.0  0.0  0.0       NaN
1717  1627879789.888  0.0  0.0  0.0  NaN  NaN  NaN  0.0  0.0  0.0       NaN
1718  1627879789.952  0.0  0.0  0.0  NaN  NaN  NaN  0.0  0.0  0.0       NaN

            11       12   13   14   15   16   17   18
0     0.092125  0.90100  0.0  0.0  0.0  0.0  0.0  0.0
1     0.093250  0.90100  0.0  0.0  0.0  0.0  0.0  0.0
2     0.093500  0.90125  0.0  0.0  0.0  0.0  0.0  0.0
3     0.095750  0.90100  0.0  0.0  0.0  0.0  0.0  0.0
4     0.097375  0.90050  0.0  0.0  0.0  0.0  0.0  0.0
...        ...      ...  ...  ...  ...  ...  ...  ...
1714       NaN      NaN  NaN  NaN  NaN  0.0  0.0  0.0
1715       NaN      NaN  NaN  NaN  NaN  0.0  0.0  0.0
1716       NaN      NaN  NaN  NaN  NaN  0.0  0.0  0.0
1717       NaN      NaN  NaN  NaN  NaN  0.0  0.0  0.0
1718       NaN      NaN  NaN  NaN  NaN  0.0  0.0  0.0

[1719 rows x 19 columns]
(1719, 19)
channel 2:
                   0    1    2    3    4    5    6    7    8    9    10   11  \
0     1627879680.000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     1627879680.064  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     1627879680.128  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     1627879680.192  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     1627879680.256  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...              ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1714  1627879789.696  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  NaN  NaN
1715  1627879789.760  0.0  0.0  0.0  NaN  NaN  NaN  0.0  0.0  0.0  NaN  NaN
1716  1627879789.824  0.0  0.0  0.0  NaN  NaN  NaN  0.0  0.0  0.0  NaN  NaN
1717  1627879789.888  0.0  0.0  0.0  NaN  NaN  NaN  0.0  0.0  0.0  NaN  NaN
1718  1627879789.952  0.0  0.0  0.0  NaN  NaN  NaN  0.0  0.0  0.0  NaN  NaN

       12        13        14        15   16   17   18
0     0.0  0.443375 -0.302250  0.843875  0.0  0.0  0.0
1     0.0  0.444875 -0.301125  0.843625  0.0  0.0  0.0
2     0.0  0.445000 -0.299750  0.844000  0.0  0.0  0.0
3     0.0  0.445000 -0.298000  0.844625  0.0  0.0  0.0
4     0.0  0.444500 -0.297250  0.845000  0.0  0.0  0.0
...   ...       ...       ...       ...  ...  ...  ...
1714  NaN       NaN       NaN       NaN  0.0  0.0  0.0
1715  NaN       NaN       NaN       NaN  0.0  0.0  0.0
1716  NaN       NaN       NaN       NaN  0.0  0.0  0.0
1717  NaN       NaN       NaN       NaN  0.0  0.0  0.0
1718  NaN       NaN       NaN       NaN  0.0  0.0  0.0

[1719 rows x 19 columns]
(1719, 19)

In [27]:
# # To CSV:
# df0 = df0.to_csv("1Aug2021_0948_0950_0.csv", index=False)
# df1 = df1.to_csv("1Aug2021_0948_0950_1.csv", index=False)
# df2 = df2.to_csv("1Aug2021_0948_0950_2.csv", index=False)

df_np = np.hstack([df0_np[:,:10], df1_np[:,10:13], df2_np[:,13:16], df0_np[:,16:]])
print(pd.DataFrame(df_np))

dataBank["table3"] = deepcopy(df_np)
del df_np

                  0         1         2         3         4         5   \
0     1627879680.000   -0.3365  -0.67275  0.658875     0.479   0.17825
1     1627879680.064 -0.336625  -0.67325   0.65825  0.479875    0.1775
2     1627879680.128   -0.3355 -0.674375  0.657625    0.4805  0.176875
3     1627879680.192    -0.336    -0.674   0.65775    0.4805     0.177
4     1627879680.256  -0.33525 -0.674125    0.6585      0.48   0.17675
...              ...       ...       ...       ...       ...       ...
1714  1627879789.696 -0.340875 -0.601875  0.722375  0.462167  0.171667
1715  1627879789.760    -0.341 -0.601875     0.722       NaN       NaN
1716  1627879789.824  -0.34175    -0.603  0.720875       NaN       NaN
1717  1627879789.888  -0.34125 -0.603125   0.72075       NaN       NaN
1718  1627879789.952 -0.340625   -0.6035  0.720875       NaN       NaN

            6         7         8         9         10        11       12  \
0     0.859625    -0.225  -0.37075     0.901     0.424  0.092125    0.901
1     0.859125 -0.225125    -0.369   0.90175     0.424   0.09325    0.901
2        0.859 -0.226375 -0.367875   0.90175  0.422625    0.0935  0.90125
3        0.859    -0.227  -0.37175  0.900125  0.423125   0.09575    0.901
4     0.859125 -0.226625  -0.37375   0.89925   0.42375  0.097375   0.9005
...        ...       ...       ...       ...       ...       ...      ...
1714  0.870167  -0.11775 -0.073625      0.99       NaN       NaN      NaN
1715       NaN  -0.11525  -0.07275  0.990375       NaN       NaN      NaN
1716       NaN -0.111875    -0.073     0.991       NaN       NaN      NaN
1717       NaN -0.112375 -0.073875     0.991       NaN       NaN      NaN
1718       NaN    -0.108   -0.0736     0.991       NaN       NaN      NaN

            13        14        15        16        17        18
0     0.443375  -0.30225  0.843875    -0.131  -0.39525     0.909
1     0.444875 -0.301125  0.843625    -0.131    -0.395     0.909
2        0.445  -0.29975     0.844 -0.130375 -0.394625  0.909125
3        0.445    -0.298  0.844625 -0.130375 -0.392875  0.910125
4       0.4445  -0.29725     0.845    -0.131 -0.394375    0.9095
...        ...       ...       ...       ...       ...       ...
1714       NaN       NaN       NaN    -0.137    -0.404  0.904125
1715       NaN       NaN       NaN -0.138875 -0.404875  0.903875
1716       NaN       NaN       NaN -0.139875  -0.40625     0.903
1717       NaN       NaN       NaN     -0.14    -0.407  0.902778
1718       NaN       NaN       NaN    -0.139    -0.407     0.903

[1719 rows x 19 columns]

In [28]:
# table4
# Channel 0
dataObj0 = group_by0("Aug 28 2021 06:47PM", "Aug 28 2021 06:49PM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Aug 28 2021 06:47PM", "Aug 28 2021 06:49PM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

# Channel 2
dataObj2 = group_by2("Aug 28 2021 06:47PM", "Aug 28 2021 06:49PM")
dataPoints2 = dataObj2.fetchall()
df2 = pd.DataFrame(dataPoints2)

print("channel 2: \n", df2)
df2.columns = dataPoints2[0].keys() 
df2 = df2.fillna(value=np.nan)

df2_np = df2.to_numpy()
print(df2_np.shape)

Channel 0:
                   0   1   2   3      4      5      6   7   8   9         10  \
0     1627879804.480 NaN NaN NaN  0.326  0.246  0.913 NaN NaN NaN  0.447250
1     1627879804.544 NaN NaN NaN  0.326  0.246  0.913 NaN NaN NaN  0.448375
2     1627879804.608 NaN NaN NaN  0.326  0.246  0.913 NaN NaN NaN  0.449625
3     1627879804.672 NaN NaN NaN  0.326  0.246  0.913 NaN NaN NaN  0.450875
4     1627879804.736 NaN NaN NaN  0.326  0.246  0.913 NaN NaN NaN  0.452500
...              ...  ..  ..  ..    ...    ...    ...  ..  ..  ..       ...
1823  1627879804.352 NaN NaN NaN    NaN    NaN    NaN NaN NaN NaN  0.445500
1824  1627879804.416 NaN NaN NaN    NaN    NaN    NaN NaN NaN NaN  0.446375
1825  1627879803.008 NaN NaN NaN    NaN    NaN    NaN NaN NaN NaN       NaN
1826  1627879803.072 NaN NaN NaN    NaN    NaN    NaN NaN NaN NaN       NaN
1827  1627879803.136 NaN NaN NaN    NaN    NaN    NaN NaN NaN NaN       NaN

            11        12        13        14        15  16  17  18
0     0.142000  0.883000  0.519375 -0.256000  0.815375 NaN NaN NaN
1     0.141250  0.882750  0.520625 -0.256000  0.814375 NaN NaN NaN
2     0.140750  0.882000  0.522375 -0.256125  0.813375 NaN NaN NaN
3     0.140000  0.881375  0.523750 -0.257000  0.812250 NaN NaN NaN
4     0.139750  0.880750  0.525750 -0.257000  0.810875 NaN NaN NaN
...        ...       ...       ...       ...       ...  ..  ..  ..
1823  0.142875  0.884000  0.517750 -0.255000  0.816875 NaN NaN NaN
1824  0.142000  0.883250  0.518500 -0.255250  0.816000 NaN NaN NaN
1825       NaN       NaN  0.513000 -0.253000  0.820000 NaN NaN NaN
1826       NaN       NaN  0.513000 -0.253000  0.820000 NaN NaN NaN
1827       NaN       NaN  0.513000 -0.253000  0.820000 NaN NaN NaN

[1828 rows x 19 columns]
(1828, 19)
channel 1:
                   0   1   2   3    4    5    6   7   8   9    10   11   12  \
0     1627879804.480 NaN NaN NaN  0.0  0.0  0.0 NaN NaN NaN  0.0  0.0  0.0
1     1627879804.544 NaN NaN NaN  0.0  0.0  0.0 NaN NaN NaN  0.0  0.0  0.0
2     1627879804.608 NaN NaN NaN  0.0  0.0  0.0 NaN NaN NaN  0.0  0.0  0.0
3     1627879804.672 NaN NaN NaN  0.0  0.0  0.0 NaN NaN NaN  0.0  0.0  0.0
4     1627879804.736 NaN NaN NaN  0.0  0.0  0.0 NaN NaN NaN  0.0  0.0  0.0
...              ...  ..  ..  ..  ...  ...  ...  ..  ..  ..  ...  ...  ...
1823  1627879804.352 NaN NaN NaN  NaN  NaN  NaN NaN NaN NaN  0.0  0.0  0.0
1824  1627879804.416 NaN NaN NaN  NaN  NaN  NaN NaN NaN NaN  0.0  0.0  0.0
1825  1627879803.008 NaN NaN NaN  NaN  NaN  NaN NaN NaN NaN  NaN  NaN  NaN
1826  1627879803.072 NaN NaN NaN  NaN  NaN  NaN NaN NaN NaN  NaN  NaN  NaN
1827  1627879803.136 NaN NaN NaN  NaN  NaN  NaN NaN NaN NaN  NaN  NaN  NaN

       13   14   15  16  17  18
0     0.0  0.0  0.0 NaN NaN NaN
1     0.0  0.0  0.0 NaN NaN NaN
2     0.0  0.0  0.0 NaN NaN NaN
3     0.0  0.0  0.0 NaN NaN NaN
4     0.0  0.0  0.0 NaN NaN NaN
...   ...  ...  ...  ..  ..  ..
1823  0.0  0.0  0.0 NaN NaN NaN
1824  0.0  0.0  0.0 NaN NaN NaN
1825  0.0  0.0  0.0 NaN NaN NaN
1826  0.0  0.0  0.0 NaN NaN NaN
1827  0.0  0.0  0.0 NaN NaN NaN

[1828 rows x 19 columns]
(1828, 19)
channel 2:
                   0   1   2   3    4    5    6   7   8   9    10   11   12  \
0     1627879804.480 NaN NaN NaN  0.0  0.0  0.0 NaN NaN NaN  0.0  0.0  0.0
1     1627879804.544 NaN NaN NaN  0.0  0.0  0.0 NaN NaN NaN  0.0  0.0  0.0
2     1627879804.608 NaN NaN NaN  0.0  0.0  0.0 NaN NaN NaN  0.0  0.0  0.0
3     1627879804.672 NaN NaN NaN  0.0  0.0  0.0 NaN NaN NaN  0.0  0.0  0.0
4     1627879804.736 NaN NaN NaN  0.0  0.0  0.0 NaN NaN NaN  0.0  0.0  0.0
...              ...  ..  ..  ..  ...  ...  ...  ..  ..  ..  ...  ...  ...
1823  1627879804.352 NaN NaN NaN  NaN  NaN  NaN NaN NaN NaN  0.0  0.0  0.0
1824  1627879804.416 NaN NaN NaN  NaN  NaN  NaN NaN NaN NaN  0.0  0.0  0.0
1825  1627879803.008 NaN NaN NaN  NaN  NaN  NaN NaN NaN NaN  NaN  NaN  NaN
1826  1627879803.072 NaN NaN NaN  NaN  NaN  NaN NaN NaN NaN  NaN  NaN  NaN
1827  1627879803.136 NaN NaN NaN  NaN  NaN  NaN NaN NaN NaN  NaN  NaN  NaN

       13   14   15  16  17  18
0     0.0  0.0  0.0 NaN NaN NaN
1     0.0  0.0  0.0 NaN NaN NaN
2     0.0  0.0  0.0 NaN NaN NaN
3     0.0  0.0  0.0 NaN NaN NaN
4     0.0  0.0  0.0 NaN NaN NaN
...   ...  ...  ...  ..  ..  ..
1823  0.0  0.0  0.0 NaN NaN NaN
1824  0.0  0.0  0.0 NaN NaN NaN
1825  0.0  0.0  0.0 NaN NaN NaN
1826  0.0  0.0  0.0 NaN NaN NaN
1827  0.0  0.0  0.0 NaN NaN NaN

[1828 rows x 19 columns]
(1828, 19)

In [29]:
# # To CSV:
# df0 = df0.to_csv("1Aug2021_0950_0952_0.csv", index=False)
# df1 = df1.to_csv("1Aug2021_0950_0952_1.csv", index=False)
# df2 = df2.to_csv("1Aug2021_0950_0952_2.csv", index=False)

df_np = df0_np
print(pd.DataFrame(df_np))

dataBank["table4"] = deepcopy(df_np)
del df_np

                  0    1    2    3      4      5      6    7    8    9   \
0     1627879804.480  NaN  NaN  NaN  0.326  0.246  0.913  NaN  NaN  NaN
1     1627879804.544  NaN  NaN  NaN  0.326  0.246  0.913  NaN  NaN  NaN
2     1627879804.608  NaN  NaN  NaN  0.326  0.246  0.913  NaN  NaN  NaN
3     1627879804.672  NaN  NaN  NaN  0.326  0.246  0.913  NaN  NaN  NaN
4     1627879804.736  NaN  NaN  NaN  0.326  0.246  0.913  NaN  NaN  NaN
...              ...  ...  ...  ...    ...    ...    ...  ...  ...  ...
1823  1627879804.352  NaN  NaN  NaN    NaN    NaN    NaN  NaN  NaN  NaN
1824  1627879804.416  NaN  NaN  NaN    NaN    NaN    NaN  NaN  NaN  NaN
1825  1627879803.008  NaN  NaN  NaN    NaN    NaN    NaN  NaN  NaN  NaN
1826  1627879803.072  NaN  NaN  NaN    NaN    NaN    NaN  NaN  NaN  NaN
1827  1627879803.136  NaN  NaN  NaN    NaN    NaN    NaN  NaN  NaN  NaN

            10        11        12        13        14        15   16   17  \
0      0.44725     0.142     0.883  0.519375    -0.256  0.815375  NaN  NaN
1     0.448375   0.14125   0.88275  0.520625    -0.256  0.814375  NaN  NaN
2     0.449625   0.14075     0.882  0.522375 -0.256125  0.813375  NaN  NaN
3     0.450875      0.14  0.881375   0.52375    -0.257   0.81225  NaN  NaN
4       0.4525   0.13975   0.88075   0.52575    -0.257  0.810875  NaN  NaN
...        ...       ...       ...       ...       ...       ...  ...  ...
1823    0.4455  0.142875     0.884   0.51775    -0.255  0.816875  NaN  NaN
1824  0.446375     0.142   0.88325    0.5185  -0.25525     0.816  NaN  NaN
1825       NaN       NaN       NaN     0.513    -0.253      0.82  NaN  NaN
1826       NaN       NaN       NaN     0.513    -0.253      0.82  NaN  NaN
1827       NaN       NaN       NaN     0.513    -0.253      0.82  NaN  NaN

       18
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
...   ...
1823  NaN
1824  NaN
1825  NaN
1826  NaN
1827  NaN

[1828 rows x 19 columns]

In [32]:
# Note, DataFrame uses a Decimal object type instead of numerical types
# This triggers np.isnan errors
for data in dataBank :
    dataBank[data] = np.asarray(dataBank[data], dtype=np.float64)

with open("28Aug2021.p", "wb") as handle :
    pickle.dump(dataBank, handle, protocol=pickle.HIGHEST_PROTOCOL)