In [1]:
# Converting Raw to Matrix
import csv   
import datetime
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import time

import sys
rootDir = "../../"
sys.path.append(rootDir + "Analysis/Util/")
sys.path.append(rootDir + "Database/")

from copy import deepcopy
import pickle

for stuff in sys.path:
    print(stuff)

/usr/lib/python36.zip
/usr/lib/python3.6
/usr/lib/python3.6/lib-dynload

/usr/local/lib/python3.6/dist-packages
/usr/lib/python3/dist-packages
/usr/local/lib/python3.6/dist-packages/IPython/extensions
/root/.ipython
../../Analysis/Util/
../../Database/

In [2]:
from DatabaseAPI import DatabaseAPI

engine = create_engine("mysql+pymysql://{user}:{pw}@soundmapping.local/{db}"
                               .format(user="soundmapping",
                                       pw="odasodas",
                                       db="soundmapping"))

INTERVAL = 0.064
THRESHOLD = 0.00385
RAW_TABLE_QUERY = '''
SELECT *, ({2} + ((`Time In Seconds` - {2}) DIV {0}) * {0}) as quantized_time
FROM raw
WHERE `Time In Seconds` >= {2} and `Time In Seconds`< {3}
'''
# RAW_TABLE_QUERY = "SELECT *, ((`Time In Seconds` DIV {0}) * {0}) AS quantized_time from raw where `Time In Seconds` >= {2} and `Time In Seconds`< {3}"
# Might change this later
GROUP_BY_QUERY_0 ='''
select
  derivedTable.quantized_time,
  sum(case when derivedTable.`Microphone Number` = 0 then derivedTable.X_0 end) / count(case when derivedTable.`Microphone Number` = 0 then derivedTable.X_0 end) as X_0_0,
  sum(case when derivedTable.`Microphone Number` = 0 then derivedTable.Y_0 end) / count(case when derivedTable.`Microphone Number` = 0 then derivedTable.Y_0 end) as Y_0_0,
  sum(case when derivedTable.`Microphone Number` = 0 then derivedTable.Z_0 end) / count(case when derivedTable.`Microphone Number` = 0 then derivedTable.Z_0 end) as Z_0_0,
  sum(case when derivedTable.`Microphone Number` = 1 then derivedTable.X_0 end) / count(case when derivedTable.`Microphone Number` = 1 then derivedTable.X_0 end) as X_0_1,
  sum(case when derivedTable.`Microphone Number` = 1 then derivedTable.Y_0 end) / count(case when derivedTable.`Microphone Number` = 1 then derivedTable.Y_0 end) as Y_0_1,
  sum(case when derivedTable.`Microphone Number` = 1 then derivedTable.Z_0 end) / count(case when derivedTable.`Microphone Number` = 1 then derivedTable.Z_0 end) as Z_0_1,
  sum(case when derivedTable.`Microphone Number` = 2 then derivedTable.X_0 end) / count(case when derivedTable.`Microphone Number` = 2 then derivedTable.X_0 end) as X_0_2,
  sum(case when derivedTable.`Microphone Number` = 2 then derivedTable.Y_0 end) / count(case when derivedTable.`Microphone Number` = 2 then derivedTable.Y_0 end) as Y_0_2,
  sum(case when derivedTable.`Microphone Number` = 2 then derivedTable.Z_0 end) / count(case when derivedTable.`Microphone Number` = 2 then derivedTable.Z_0 end) as Z_0_2,
  sum(case when derivedTable.`Microphone Number` = 3 then derivedTable.X_0 end) / count(case when derivedTable.`Microphone Number` = 3 then derivedTable.X_0 end) as X_0_3,
  sum(case when derivedTable.`Microphone Number` = 3 then derivedTable.Y_0 end) / count(case when derivedTable.`Microphone Number` = 3 then derivedTable.Y_0 end) as Y_0_3,
  sum(case when derivedTable.`Microphone Number` = 3 then derivedTable.Z_0 end) / count(case when derivedTable.`Microphone Number` = 3 then derivedTable.Z_0 end) as Z_0_3,
  sum(case when derivedTable.`Microphone Number` = 4 then derivedTable.X_0 end) / count(case when derivedTable.`Microphone Number` = 4 then derivedTable.X_0 end) as X_0_4,
  sum(case when derivedTable.`Microphone Number` = 4 then derivedTable.Y_0 end) / count(case when derivedTable.`Microphone Number` = 4 then derivedTable.Y_0 end) as Y_0_4,
  sum(case when derivedTable.`Microphone Number` = 4 then derivedTable.Z_0 end) / count(case when derivedTable.`Microphone Number` = 4 then derivedTable.Z_0 end) as Z_0_4,
  sum(case when derivedTable.`Microphone Number` = 5 then derivedTable.X_0 end) / count(case when derivedTable.`Microphone Number` = 5 then derivedTable.X_0 end) as X_0_5,
  sum(case when derivedTable.`Microphone Number` = 5 then derivedTable.Y_0 end) / count(case when derivedTable.`Microphone Number` = 5 then derivedTable.Y_0 end) as Y_0_5,
  sum(case when derivedTable.`Microphone Number` = 5 then derivedTable.Z_0 end) / count(case when derivedTable.`Microphone Number` = 5 then derivedTable.Z_0 end) as Z_0_5
from ({0}) as derivedTable
group by quantized_time
'''


# Might change this later
GROUP_BY_QUERY_1 ='''
select
  derivedTable.quantized_time,
  sum(case when derivedTable.`Microphone Number` = 0 then derivedTable.X_1 end) / count(case when derivedTable.`Microphone Number` = 0 then derivedTable.X_1 end) as X_1_0,
  sum(case when derivedTable.`Microphone Number` = 0 then derivedTable.Y_1 end) / count(case when derivedTable.`Microphone Number` = 0 then derivedTable.Y_1 end) as Y_1_0,
  sum(case when derivedTable.`Microphone Number` = 0 then derivedTable.Z_1 end) / count(case when derivedTable.`Microphone Number` = 0 then derivedTable.Z_1 end) as Z_1_0,
  sum(case when derivedTable.`Microphone Number` = 1 then derivedTable.X_1 end) / count(case when derivedTable.`Microphone Number` = 1 then derivedTable.X_1 end) as X_1_1,
  sum(case when derivedTable.`Microphone Number` = 1 then derivedTable.Y_1 end) / count(case when derivedTable.`Microphone Number` = 1 then derivedTable.Y_1 end) as Y_1_1,
  sum(case when derivedTable.`Microphone Number` = 1 then derivedTable.Z_1 end) / count(case when derivedTable.`Microphone Number` = 1 then derivedTable.Z_1 end) as Z_1_1,
  sum(case when derivedTable.`Microphone Number` = 2 then derivedTable.X_1 end) / count(case when derivedTable.`Microphone Number` = 2 then derivedTable.X_1 end) as X_1_2,
  sum(case when derivedTable.`Microphone Number` = 2 then derivedTable.Y_1 end) / count(case when derivedTable.`Microphone Number` = 2 then derivedTable.Y_1 end) as Y_1_2,
  sum(case when derivedTable.`Microphone Number` = 2 then derivedTable.Z_1 end) / count(case when derivedTable.`Microphone Number` = 2 then derivedTable.Z_1 end) as Z_1_2,
  sum(case when derivedTable.`Microphone Number` = 3 then derivedTable.X_1 end) / count(case when derivedTable.`Microphone Number` = 3 then derivedTable.X_1 end) as X_1_3,
  sum(case when derivedTable.`Microphone Number` = 3 then derivedTable.Y_1 end) / count(case when derivedTable.`Microphone Number` = 3 then derivedTable.Y_1 end) as Y_1_3,
  sum(case when derivedTable.`Microphone Number` = 3 then derivedTable.Z_1 end) / count(case when derivedTable.`Microphone Number` = 3 then derivedTable.Z_1 end) as Z_1_3,
  sum(case when derivedTable.`Microphone Number` = 4 then derivedTable.X_1 end) / count(case when derivedTable.`Microphone Number` = 4 then derivedTable.X_1 end) as X_1_4,
  sum(case when derivedTable.`Microphone Number` = 4 then derivedTable.Y_1 end) / count(case when derivedTable.`Microphone Number` = 4 then derivedTable.Y_1 end) as Y_1_4,
  sum(case when derivedTable.`Microphone Number` = 4 then derivedTable.Z_1 end) / count(case when derivedTable.`Microphone Number` = 4 then derivedTable.Z_1 end) as Z_1_4,
  sum(case when derivedTable.`Microphone Number` = 5 then derivedTable.X_1 end) / count(case when derivedTable.`Microphone Number` = 5 then derivedTable.X_1 end) as X_1_5,
  sum(case when derivedTable.`Microphone Number` = 5 then derivedTable.Y_1 end) / count(case when derivedTable.`Microphone Number` = 5 then derivedTable.Y_1 end) as Y_1_5,
  sum(case when derivedTable.`Microphone Number` = 5 then derivedTable.Z_1 end) / count(case when derivedTable.`Microphone Number` = 5 then derivedTable.Z_1 end) as Z_1_5
from ({0}) as derivedTable
group by quantized_time
'''

from Tools import strTime_to_unixTime
# This function groups a 5-min-long data from 10 mins ago according to timestamp and append it to PCA matrix
def group_by0(start_time, end_time):
    
    unixtime_start, unixtime_end = strTime_to_unixTime(start_time, end_time)
    
#     nowTimestamp = datetime.datetime.now()
#     startTimestamp = datetime.timedelta(minutes = 10)
#     endTimestamp = datetime.timedelta(minutes = 5)
    
#     start_time = nowTimestamp - startTimestamp
#     end_time = nowTimestamp - endTimestamp

#     unixtime_start = time.mktime(start_time.timetuple())
#     unixtime_end = time.mktime(end_time.timetuple())
    
    query1 = RAW_TABLE_QUERY.format(INTERVAL,THRESHOLD,unixtime_start,unixtime_end) 
    query2 = GROUP_BY_QUERY_0.format(query1)
    
    tmpData = engine.execute(query2)
    
    return(tmpData)

def group_by1(start_time, end_time):
    
    unixtime_start, unixtime_end = strTime_to_unixTime(start_time, end_time)
    
#     nowTimestamp = datetime.datetime.now()
#     startTimestamp = datetime.timedelta(minutes = 10)
#     endTimestamp = datetime.timedelta(minutes = 5)
    
#     start_time = nowTimestamp - startTimestamp
#     end_time = nowTimestamp - endTimestamp

#     unixtime_start = time.mktime(start_time.timetuple())
#     unixtime_end = time.mktime(end_time.timetuple())
    
    query1 = RAW_TABLE_QUERY.format(INTERVAL,THRESHOLD,unixtime_start,unixtime_end) 
    query2 = GROUP_BY_QUERY_1.format(query1)
    
    tmpData = engine.execute(query2)
    
    return(tmpData)

In [3]:
dataBank = {}

In [4]:
# x0_y69
# Channel 0
dataObj0 = group_by0("Jul 29 2021 06:26AM", "Jul 29 2021 06:29AM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Jul 29 2021 06:26AM", "Jul 29 2021 06:29AM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

Channel 0:
                   0         1         2         3         4         5   \
0     1627565160.000 -0.349000 -0.568625  0.745000  0.545500  0.082000
1     1627565160.064 -0.350000 -0.567250  0.745000  0.544750  0.082250
2     1627565160.128 -0.348875 -0.567375  0.745875  0.544625  0.083000
3     1627565160.192 -0.348500 -0.567500  0.745875  0.543000  0.083500
4     1627565160.256 -0.348625 -0.568000  0.745125  0.541875  0.083375
...              ...       ...       ...       ...       ...       ...
2808  1627565339.712 -0.354625 -0.560000  0.749000  0.521000  0.085250
2809  1627565339.776 -0.354500 -0.559500  0.749000  0.521750  0.085875
2810  1627565339.840 -0.354750 -0.559750  0.748625  0.523375  0.086625
2811  1627565339.904 -0.354750 -0.560750  0.748000  0.524625  0.087000
2812  1627565339.968 -0.354750 -0.561000  0.748000  0.524000  0.086500

            6     7     8     9    10   11   12        13        14        15  \
0     0.834500  None  None  None  0.0  0.0  0.0  0.501500 -0.205000  0.840500
1     0.834500  None  None  None  0.0  0.0  0.0  0.500750 -0.205000  0.841000
2     0.834625  None  None  None  0.0  0.0  0.0  0.500125 -0.205000  0.841250
3     0.835500  None  None  None  0.0  0.0  0.0  0.499875 -0.205750  0.841375
4     0.836125  None  None  None  0.0  0.0  0.0  0.499375 -0.205000  0.841875
...        ...   ...   ...   ...  ...  ...  ...       ...       ...       ...
2808  0.849250  None  None  None  0.0  0.0  0.0  0.502875 -0.207250  0.839000
2809  0.848875  None  None  None  0.0  0.0  0.0  0.503250 -0.207000  0.839000
2810  0.847750  None  None  None  0.0  0.0  0.0  0.504000 -0.207625  0.838375
2811  0.847000  None  None  None  0.0  0.0  0.0  0.504000 -0.207125  0.838875
2812  0.847000  None  None  None  0.0  0.0  0.0  0.503500 -0.207000  0.839000

            16        17        18
0    -0.190750 -0.468125  0.862875
1    -0.190625 -0.469250  0.862125
2    -0.191625 -0.469125  0.862000
3    -0.192000 -0.468875  0.862000
4    -0.191875 -0.469875  0.861875
...        ...       ...       ...
2808 -0.191000 -0.458625  0.868000
2809 -0.191000 -0.457375  0.868500
2810 -0.191125 -0.458000  0.868000
2811 -0.191125 -0.458500  0.867875
2812 -0.191500 -0.458000  0.868000

[2813 rows x 19 columns]
(2813, 19)
channel 1:
                   0    1    2    3    4    5    6     7     8     9   \
0     1627565160.000  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None
1     1627565160.064  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None
2     1627565160.128  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None
3     1627565160.192  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None
4     1627565160.256  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None
...              ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
2808  1627565339.712  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None
2809  1627565339.776  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None
2810  1627565339.840  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None
2811  1627565339.904  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None
2812  1627565339.968  0.0  0.0  0.0  0.0  0.0  0.0  None  None  None

            10        11      12   13   14   15   16   17   18
0     0.403125  0.250250  0.8800  0.0  0.0  0.0  0.0  0.0  0.0
1     0.403500  0.250500  0.8800  0.0  0.0  0.0  0.0  0.0  0.0
2     0.404500  0.251000  0.8795  0.0  0.0  0.0  0.0  0.0  0.0
3     0.405000  0.251000  0.8790  0.0  0.0  0.0  0.0  0.0  0.0
4     0.404375  0.251500  0.8790  0.0  0.0  0.0  0.0  0.0  0.0
...        ...       ...     ...  ...  ...  ...  ...  ...  ...
2808  0.408125  0.247000  0.8790  0.0  0.0  0.0  0.0  0.0  0.0
2809  0.408125  0.246375  0.8790  0.0  0.0  0.0  0.0  0.0  0.0
2810  0.408125  0.246125  0.8790  0.0  0.0  0.0  0.0  0.0  0.0
2811  0.407750  0.247000  0.8790  0.0  0.0  0.0  0.0  0.0  0.0
2812  0.408000  0.247000  0.8790  0.0  0.0  0.0  0.0  0.0  0.0

[2813 rows x 19 columns]
(2813, 19)

In [5]:
df_np = np.hstack([df0_np[:,:10], df1_np[:,10:13], df0_np[:,13:]])
print(pd.DataFrame(df_np))
dataBank["x0_y69"] = deepcopy(df_np)
del df_np

                  0         1         2         3         4         5   \
0     1627565160.000    -0.349 -0.568625     0.745    0.5455     0.082
1     1627565160.064     -0.35  -0.56725     0.745   0.54475   0.08225
2     1627565160.128 -0.348875 -0.567375  0.745875  0.544625     0.083
3     1627565160.192   -0.3485   -0.5675  0.745875     0.543    0.0835
4     1627565160.256 -0.348625    -0.568  0.745125  0.541875  0.083375
...              ...       ...       ...       ...       ...       ...
2808  1627565339.712 -0.354625     -0.56     0.749     0.521   0.08525
2809  1627565339.776   -0.3545   -0.5595     0.749   0.52175  0.085875
2810  1627565339.840  -0.35475  -0.55975  0.748625  0.523375  0.086625
2811  1627565339.904  -0.35475  -0.56075     0.748  0.524625     0.087
2812  1627565339.968  -0.35475    -0.561     0.748     0.524    0.0865

            6    7    8    9         10        11      12        13        14  \
0       0.8345  NaN  NaN  NaN  0.403125   0.25025    0.88    0.5015    -0.205
1       0.8345  NaN  NaN  NaN    0.4035    0.2505    0.88   0.50075    -0.205
2     0.834625  NaN  NaN  NaN    0.4045     0.251  0.8795  0.500125    -0.205
3       0.8355  NaN  NaN  NaN     0.405     0.251   0.879  0.499875  -0.20575
4     0.836125  NaN  NaN  NaN  0.404375    0.2515   0.879  0.499375    -0.205
...        ...  ...  ...  ...       ...       ...     ...       ...       ...
2808   0.84925  NaN  NaN  NaN  0.408125     0.247   0.879  0.502875  -0.20725
2809  0.848875  NaN  NaN  NaN  0.408125  0.246375   0.879   0.50325    -0.207
2810   0.84775  NaN  NaN  NaN  0.408125  0.246125   0.879     0.504 -0.207625
2811     0.847  NaN  NaN  NaN   0.40775     0.247   0.879     0.504 -0.207125
2812     0.847  NaN  NaN  NaN     0.408     0.247   0.879    0.5035    -0.207

            15        16        17        18
0       0.8405  -0.19075 -0.468125  0.862875
1        0.841 -0.190625  -0.46925  0.862125
2      0.84125 -0.191625 -0.469125     0.862
3     0.841375    -0.192 -0.468875     0.862
4     0.841875 -0.191875 -0.469875  0.861875
...        ...       ...       ...       ...
2808     0.839    -0.191 -0.458625     0.868
2809     0.839    -0.191 -0.457375    0.8685
2810  0.838375 -0.191125    -0.458     0.868
2811  0.838875 -0.191125   -0.4585  0.867875
2812     0.839   -0.1915    -0.458     0.868

[2813 rows x 19 columns]

In [6]:
# x69_y69
# Channel 0
dataObj0 = group_by0("Jul 29 2021 06:31AM", "Jul 29 2021 06:34AM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Jul 29 2021 06:31AM", "Jul 29 2021 06:34AM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

Channel 0:
                   0         1         2         3         4         5      6   \
0     1627565460.000 -0.129000 -0.634250  0.762250  0.256000  0.075125  0.964
1     1627565460.064 -0.129000 -0.634000  0.762750  0.255250  0.074250  0.964
2     1627565460.128 -0.128375 -0.633750  0.763000  0.255000  0.075000  0.964
3     1627565460.192 -0.127750 -0.633750  0.763000  0.254625  0.074875  0.964
4     1627565460.256 -0.127000 -0.633000  0.763375  0.254625  0.074375  0.964
...              ...       ...       ...       ...       ...       ...    ...
2808  1627565639.712 -0.124750 -0.636000  0.762000  0.246500  0.073250  0.966
2809  1627565639.776 -0.124000 -0.635125  0.762000  0.247000  0.074000  0.966
2810  1627565639.840 -0.124500 -0.635000  0.762375  0.247875  0.074875  0.966
2811  1627565639.904 -0.125000 -0.634500  0.762875  0.247500  0.075000  0.966
2812  1627565639.968 -0.125000 -0.634000  0.763000  0.248000  0.074250  0.966

            7         8         9         10        11        12        13  \
0    -0.227500 -0.554250  0.800750  0.665750  0.171250  0.726250  0.705000
1    -0.227125 -0.554000  0.801000  0.664625  0.171500  0.727125  0.704000
2    -0.227375 -0.554000  0.801000  0.664750  0.172250  0.726875  0.705250
3    -0.226250 -0.554625  0.801000  0.665125  0.172625  0.726625  0.705000
4    -0.226000 -0.555000  0.800625  0.666000  0.173125  0.725250  0.704250
...        ...       ...       ...       ...       ...       ...       ...
2808 -0.234000 -0.544875  0.805000  0.668000  0.167125  0.725125  0.704375
2809 -0.234000 -0.544875  0.805000  0.668875  0.168250  0.724000  0.704000
2810 -0.234125 -0.544125  0.805750  0.668875  0.169000  0.723875  0.703750
2811 -0.234500 -0.544250  0.805375  0.670125  0.169000  0.722875  0.703500
2812 -0.234000 -0.545000  0.805000  0.671000  0.169000  0.722000  0.703500

            14        15        16        17        18
0    -0.138750  0.695625 -0.485000 -0.431250  0.761000
1    -0.138125  0.696750 -0.484625 -0.431250  0.761000
2    -0.137375  0.695500 -0.484000 -0.431750  0.761000
3    -0.137250  0.695875 -0.484500 -0.432000  0.761000
4    -0.137625  0.696375 -0.485250 -0.431375  0.760125
...        ...       ...       ...       ...       ...
2808 -0.136375  0.696625 -0.481000 -0.429250  0.764250
2809 -0.136000  0.697125 -0.481000 -0.429125  0.764125
2810 -0.136000  0.697375 -0.481000 -0.429125  0.764500
2811 -0.136250  0.697750 -0.481250 -0.429250  0.764000
2812 -0.138000  0.697000 -0.482000 -0.429000  0.764000

[2813 rows x 19 columns]
(2813, 19)
channel 1:
                   0    1    2    3    4    5    6    7    8    9    10   11  \
0     1627565460.000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     1627565460.064  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     1627565460.128  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     1627565460.192  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     1627565460.256  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...              ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2808  1627565639.712  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2809  1627565639.776  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2810  1627565639.840  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2811  1627565639.904  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2812  1627565639.968  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

       12   13   14   15   16   17   18
0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...
2808  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2809  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2810  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2811  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2812  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[2813 rows x 19 columns]
(2813, 19)

In [7]:
df_np = df0_np
dataBank["x69_y69"] = deepcopy(df_np)
del df_np

In [8]:
# x69_y0
# Channel 0
dataObj0 = group_by0("Jul 29 2021 06:36AM", "Jul 29 2021 06:39AM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Jul 29 2021 06:36AM", "Jul 29 2021 06:39AM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

Channel 0:
                   0         1         2         3         4         5   \
0     1627565760.000 -0.160625 -0.311375  0.936875  0.192000 -0.301125
1     1627565760.064 -0.161500 -0.310750  0.937000  0.191625 -0.301000
2     1627565760.128 -0.160500 -0.310250  0.937000  0.192000 -0.300125
3     1627565760.192 -0.159500 -0.310000  0.937000  0.192000 -0.299875
4     1627565760.256 -0.159000 -0.309125  0.938000  0.192250 -0.300000
...              ...       ...       ...       ...       ...       ...
2808  1627565939.712 -0.152250 -0.302750  0.941000  0.193000 -0.300750
2809  1627565939.776 -0.152625 -0.301500  0.941000  0.193125 -0.300125
2810  1627565939.840 -0.153000 -0.300375  0.941250  0.193875 -0.300250
2811  1627565939.904 -0.153750 -0.300875  0.941000  0.194250 -0.300000
2812  1627565939.968 -0.153250 -0.301000  0.941000  0.194750 -0.300250

            6         7         8         9         10        11        12  \
0     0.934000  0.022500 -0.574000  0.818625  0.601750  0.430625  0.672875
1     0.934000  0.022875 -0.574125  0.818125  0.600375  0.430875  0.673625
2     0.934375  0.022500 -0.575000  0.818000  0.600250  0.429375  0.674625
3     0.934500  0.021875 -0.575375  0.817625  0.600125  0.428375  0.675625
4     0.934125  0.021375 -0.575375  0.817625  0.600500  0.428625  0.675250
...        ...       ...       ...       ...       ...       ...       ...
2808  0.934000  0.037875 -0.569000  0.821625  0.602250  0.423000  0.677375
2809  0.934000  0.037625 -0.569000  0.821000  0.604750  0.423000  0.675125
2810  0.934000  0.038125 -0.569000  0.821000  0.605000  0.423375  0.674375
2811  0.934000  0.038375 -0.569125  0.821500  0.605000  0.423375  0.674625
2812  0.934000  0.038250 -0.570000  0.821000  0.605000  0.423000  0.674500

       13   14   15        16        17        18
0     0.0  0.0  0.0 -0.589875 -0.533625  0.606125
1     0.0  0.0  0.0 -0.589250 -0.534875  0.605625
2     0.0  0.0  0.0 -0.588000 -0.535750  0.606000
3     0.0  0.0  0.0 -0.587375 -0.535375  0.606875
4     0.0  0.0  0.0 -0.587250 -0.535500  0.607000
...   ...  ...  ...       ...       ...       ...
2808  0.0  0.0  0.0 -0.589000 -0.526500  0.612500
2809  0.0  0.0  0.0 -0.589750 -0.527625  0.611250
2810  0.0  0.0  0.0 -0.589125 -0.528750  0.611125
2811  0.0  0.0  0.0 -0.589000 -0.529000  0.610750
2812  0.0  0.0  0.0 -0.588500 -0.528500  0.611500

[2813 rows x 19 columns]
(2813, 19)
channel 1:
                   0    1    2    3    4    5    6    7    8    9    10   11  \
0     1627565760.000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     1627565760.064  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     1627565760.128  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     1627565760.192  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     1627565760.256  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...              ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2808  1627565939.712  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2809  1627565939.776  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2810  1627565939.840  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2811  1627565939.904  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2812  1627565939.968  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

       12        13        14        15   16   17   18
0     0.0  0.685000  0.166375  0.709375  0.0  0.0  0.0
1     0.0  0.684875  0.166500  0.709375  0.0  0.0  0.0
2     0.0  0.684750  0.166000  0.710000  0.0  0.0  0.0
3     0.0  0.684625  0.165000  0.710000  0.0  0.0  0.0
4     0.0  0.685000  0.164111  0.709778  0.0  0.0  0.0
...   ...       ...       ...       ...  ...  ...  ...
2808  0.0  0.691875  0.173000  0.701000  0.0  0.0  0.0
2809  0.0  0.691500  0.171250  0.701875  0.0  0.0  0.0
2810  0.0  0.691000  0.172000  0.702000  0.0  0.0  0.0
2811  0.0  0.691125  0.172125  0.701875  0.0  0.0  0.0
2812  0.0  0.691750  0.171000  0.701500  0.0  0.0  0.0

[2813 rows x 19 columns]
(2813, 19)

In [9]:
df_np = np.hstack([df0_np[:,:13], df1_np[:,13:16], df0_np[:,16:]])
print(pd.DataFrame(df_np))

dataBank["x69_y0"] = deepcopy(df_np)
del df_np

                  0         1         2         3         4         5   \
0     1627565760.000 -0.160625 -0.311375  0.936875     0.192 -0.301125
1     1627565760.064   -0.1615  -0.31075     0.937  0.191625    -0.301
2     1627565760.128   -0.1605  -0.31025     0.937     0.192 -0.300125
3     1627565760.192   -0.1595     -0.31     0.937     0.192 -0.299875
4     1627565760.256    -0.159 -0.309125     0.938   0.19225      -0.3
...              ...       ...       ...       ...       ...       ...
2808  1627565939.712  -0.15225  -0.30275     0.941     0.193  -0.30075
2809  1627565939.776 -0.152625   -0.3015     0.941  0.193125 -0.300125
2810  1627565939.840    -0.153 -0.300375   0.94125  0.193875  -0.30025
2811  1627565939.904  -0.15375 -0.300875     0.941   0.19425      -0.3
2812  1627565939.968  -0.15325    -0.301     0.941   0.19475  -0.30025

            6         7         8         9         10        11        12  \
0        0.934    0.0225    -0.574  0.818625   0.60175  0.430625  0.672875
1        0.934  0.022875 -0.574125  0.818125  0.600375  0.430875  0.673625
2     0.934375    0.0225    -0.575     0.818   0.60025  0.429375  0.674625
3       0.9345  0.021875 -0.575375  0.817625  0.600125  0.428375  0.675625
4     0.934125  0.021375 -0.575375  0.817625    0.6005  0.428625   0.67525
...        ...       ...       ...       ...       ...       ...       ...
2808     0.934  0.037875    -0.569  0.821625   0.60225     0.423  0.677375
2809     0.934  0.037625    -0.569     0.821   0.60475     0.423  0.675125
2810     0.934  0.038125    -0.569     0.821     0.605  0.423375  0.674375
2811     0.934  0.038375 -0.569125    0.8215     0.605  0.423375  0.674625
2812     0.934   0.03825     -0.57     0.821     0.605     0.423    0.6745

            13        14        15        16        17        18
0        0.685  0.166375  0.709375 -0.589875 -0.533625  0.606125
1     0.684875    0.1665  0.709375  -0.58925 -0.534875  0.605625
2      0.68475     0.166      0.71    -0.588  -0.53575     0.606
3     0.684625     0.165      0.71 -0.587375 -0.535375  0.606875
4        0.685  0.164111  0.709778  -0.58725   -0.5355     0.607
...        ...       ...       ...       ...       ...       ...
2808  0.691875     0.173     0.701    -0.589   -0.5265    0.6125
2809    0.6915   0.17125  0.701875  -0.58975 -0.527625   0.61125
2810     0.691     0.172     0.702 -0.589125  -0.52875  0.611125
2811  0.691125  0.172125  0.701875    -0.589    -0.529   0.61075
2812   0.69175     0.171    0.7015   -0.5885   -0.5285    0.6115

[2813 rows x 19 columns]

In [10]:
# x0_y0
# Channel 0
dataObj0 = group_by0("Jul 29 2021 06:41AM", "Jul 29 2021 06:44AM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Jul 29 2021 06:41AM", "Jul 29 2021 06:44AM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

Channel 0:
                   0         1         2         3    4    5    6         7   \
0     1627566060.000 -0.516250 -0.225875  0.826125  0.0  0.0  0.0  0.038500
1     1627566060.064 -0.515625 -0.225125  0.826875  0.0  0.0  0.0  0.040000
2     1627566060.128 -0.515750 -0.225750  0.826500  0.0  0.0  0.0  0.040125
3     1627566060.192 -0.513875 -0.225875  0.827625  0.0  0.0  0.0  0.041125
4     1627566060.256 -0.513375 -0.225250  0.828000  0.0  0.0  0.0  0.041000
...              ...       ...       ...       ...  ...  ...  ...       ...
2808  1627566239.712 -0.527625 -0.233750  0.816750  0.0  0.0  0.0  0.045875
2809  1627566239.776 -0.526875 -0.234000  0.817000  0.0  0.0  0.0  0.046000
2810  1627566239.840 -0.526750 -0.233750  0.817250  0.0  0.0  0.0  0.046500
2811  1627566239.904 -0.526875 -0.233875  0.817125  0.0  0.0  0.0  0.047375
2812  1627566239.968 -0.528000 -0.234000  0.816500  0.0  0.0  0.0  0.048500

            8         9         10        11        12   13   14   15  \
0    -0.435625  0.899125  0.391000  0.544750  0.742000  0.0  0.0  0.0
1    -0.435875  0.899000  0.391375  0.544875  0.741625  0.0  0.0  0.0
2    -0.436000  0.899000  0.389500  0.545500  0.742000  0.0  0.0  0.0
3    -0.435750  0.899000  0.389750  0.546000  0.741625  0.0  0.0  0.0
4    -0.436125  0.899000  0.390750  0.545625  0.741250  0.0  0.0  0.0
...        ...       ...       ...       ...       ...  ...  ...  ...
2808 -0.431875  0.901000  0.378375  0.538625  0.752875  0.0  0.0  0.0
2809 -0.431875  0.901000  0.377375  0.537500  0.753875  0.0  0.0  0.0
2810 -0.432625  0.900250  0.376250  0.537250  0.754875  0.0  0.0  0.0
2811 -0.432875  0.900000  0.374500  0.538500  0.755000  0.0  0.0  0.0
2812 -0.433000  0.900000  0.375000  0.539000  0.754250  0.0  0.0  0.0

            16        17        18
0    -0.267875 -0.599875  0.754000
1    -0.267250 -0.599000  0.754000
2    -0.268000 -0.599000  0.754000
3    -0.267875 -0.599000  0.755000
4    -0.268000 -0.598875  0.755000
...        ...       ...       ...
2808 -0.264000 -0.604000  0.752000
2809 -0.264125 -0.604000  0.751875
2810 -0.264000 -0.604000  0.752000
2811 -0.264000 -0.604000  0.752000
2812 -0.264500 -0.604000  0.752000

[2813 rows x 19 columns]
(2813, 19)
channel 1:
                   0    1    2    3         4         5         6    7    8   \
0     1627566060.000  0.0  0.0  0.0  0.524750 -0.259000  0.811000  0.0  0.0
1     1627566060.064  0.0  0.0  0.0  0.524000 -0.258875  0.811250  0.0  0.0
2     1627566060.128  0.0  0.0  0.0  0.524125 -0.258625  0.811375  0.0  0.0
3     1627566060.192  0.0  0.0  0.0  0.524000 -0.258625  0.812000  0.0  0.0
4     1627566060.256  0.0  0.0  0.0  0.524556 -0.258000  0.811222  0.0  0.0
...              ...  ...  ...  ...       ...       ...       ...  ...  ...
2808  1627566239.712  0.0  0.0  0.0  0.522500 -0.259125  0.812375  0.0  0.0
2809  1627566239.776  0.0  0.0  0.0  0.522625 -0.259250  0.812125  0.0  0.0
2810  1627566239.840  0.0  0.0  0.0  0.523000 -0.258250  0.812000  0.0  0.0
2811  1627566239.904  0.0  0.0  0.0  0.523000 -0.258250  0.812125  0.0  0.0
2812  1627566239.968  0.0  0.0  0.0  0.522000 -0.258000  0.813000  0.0  0.0

       9    10   11   12        13        14        15   16   17   18
0     0.0  0.0  0.0  0.0  0.450000  0.192500  0.872000  0.0  0.0  0.0
1     0.0  0.0  0.0  0.0  0.449625  0.192500  0.872000  0.0  0.0  0.0
2     0.0  0.0  0.0  0.0  0.449875  0.191250  0.872250  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.450250  0.190125  0.872500  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.449125  0.190375  0.873125  0.0  0.0  0.0
...   ...  ...  ...  ...       ...       ...       ...  ...  ...  ...
2808  0.0  0.0  0.0  0.0  0.447000  0.185375  0.875000  0.0  0.0  0.0
2809  0.0  0.0  0.0  0.0  0.447000  0.184875  0.875000  0.0  0.0  0.0
2810  0.0  0.0  0.0  0.0  0.446250  0.184875  0.875375  0.0  0.0  0.0
2811  0.0  0.0  0.0  0.0  0.446250  0.185125  0.875375  0.0  0.0  0.0
2812  0.0  0.0  0.0  0.0  0.447000  0.185000  0.875000  0.0  0.0  0.0

[2813 rows x 19 columns]
(2813, 19)

In [11]:
df_np = np.hstack([df0_np[:,:4], df1_np[:,4:7], df0_np[:,7:13], df1_np[:,13:16], df0_np[:,16:]])
print(pd.DataFrame(df_np))

dataBank["x0_y0"] = deepcopy(df_np)
del df_np

                  0         1         2         3         4         5   \
0     1627566060.000  -0.51625 -0.225875  0.826125   0.52475    -0.259
1     1627566060.064 -0.515625 -0.225125  0.826875     0.524 -0.258875
2     1627566060.128  -0.51575  -0.22575    0.8265  0.524125 -0.258625
3     1627566060.192 -0.513875 -0.225875  0.827625     0.524 -0.258625
4     1627566060.256 -0.513375  -0.22525     0.828  0.524556    -0.258
...              ...       ...       ...       ...       ...       ...
2808  1627566239.712 -0.527625  -0.23375   0.81675    0.5225 -0.259125
2809  1627566239.776 -0.526875    -0.234     0.817  0.522625  -0.25925
2810  1627566239.840  -0.52675  -0.23375   0.81725     0.523  -0.25825
2811  1627566239.904 -0.526875 -0.233875  0.817125     0.523  -0.25825
2812  1627566239.968    -0.528    -0.234    0.8165     0.522    -0.258

            6         7         8         9         10        11        12  \
0        0.811    0.0385 -0.435625  0.899125     0.391   0.54475     0.742
1      0.81125      0.04 -0.435875     0.899  0.391375  0.544875  0.741625
2     0.811375  0.040125    -0.436     0.899    0.3895    0.5455     0.742
3        0.812  0.041125  -0.43575     0.899   0.38975     0.546  0.741625
4     0.811222     0.041 -0.436125     0.899   0.39075  0.545625   0.74125
...        ...       ...       ...       ...       ...       ...       ...
2808  0.812375  0.045875 -0.431875     0.901  0.378375  0.538625  0.752875
2809  0.812125     0.046 -0.431875     0.901  0.377375    0.5375  0.753875
2810     0.812    0.0465 -0.432625   0.90025   0.37625   0.53725  0.754875
2811  0.812125  0.047375 -0.432875       0.9    0.3745    0.5385     0.755
2812     0.813    0.0485    -0.433       0.9     0.375     0.539   0.75425

            13        14        15        16        17        18
0         0.45    0.1925     0.872 -0.267875 -0.599875     0.754
1     0.449625    0.1925     0.872  -0.26725    -0.599     0.754
2     0.449875   0.19125   0.87225    -0.268    -0.599     0.754
3      0.45025  0.190125    0.8725 -0.267875    -0.599     0.755
4     0.449125  0.190375  0.873125    -0.268 -0.598875     0.755
...        ...       ...       ...       ...       ...       ...
2808     0.447  0.185375     0.875    -0.264    -0.604     0.752
2809     0.447  0.184875     0.875 -0.264125    -0.604  0.751875
2810   0.44625  0.184875  0.875375    -0.264    -0.604     0.752
2811   0.44625  0.185125  0.875375    -0.264    -0.604     0.752
2812     0.447     0.185     0.875   -0.2645    -0.604     0.752

[2813 rows x 19 columns]

In [12]:
# square
# Channel 0
dataObj0 = group_by0("Jul 29 2021 06:45AM", "Jul 29 2021 06:50AM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Jul 29 2021 06:45AM", "Jul 29 2021 06:50AM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

Channel 0:
                   0         1         2         3   4   5   6   7   8   9   \
0     1627566303.264       NaN       NaN       NaN NaN NaN NaN NaN NaN NaN
1     1627566303.328       NaN       NaN       NaN NaN NaN NaN NaN NaN NaN
2     1627566303.392       NaN       NaN       NaN NaN NaN NaN NaN NaN NaN
3     1627566303.456       NaN       NaN       NaN NaN NaN NaN NaN NaN NaN
4     1627566303.520       NaN       NaN       NaN NaN NaN NaN NaN NaN NaN
...              ...       ...       ...       ...  ..  ..  ..  ..  ..  ..
4480  1627566589.728 -0.544875 -0.250875  0.800125 NaN NaN NaN NaN NaN NaN
4481  1627566589.792 -0.545375 -0.251000  0.800000 NaN NaN NaN NaN NaN NaN
4482  1627566589.856 -0.546625 -0.250500  0.799000 NaN NaN NaN NaN NaN NaN
4483  1627566589.920 -0.546375 -0.250500  0.799125 NaN NaN NaN NaN NaN NaN
4484  1627566589.984 -0.544800 -0.251000  0.800000 NaN NaN NaN NaN NaN NaN

         10    11     12   13   14   15     16     17     18
0     0.334  0.53  0.779  0.0  0.0  0.0 -0.271 -0.599  0.753
1     0.334  0.53  0.779  0.0  0.0  0.0 -0.271 -0.599  0.753
2     0.334  0.53  0.779  0.0  0.0  0.0 -0.271 -0.599  0.753
3     0.334  0.53  0.779  0.0  0.0  0.0 -0.271 -0.599  0.753
4     0.334  0.53  0.779  0.0  0.0  0.0 -0.271 -0.599  0.753
...     ...   ...    ...  ...  ...  ...    ...    ...    ...
4480    NaN   NaN    NaN  NaN  NaN  NaN    NaN    NaN    NaN
4481    NaN   NaN    NaN  NaN  NaN  NaN    NaN    NaN    NaN
4482    NaN   NaN    NaN  NaN  NaN  NaN    NaN    NaN    NaN
4483    NaN   NaN    NaN  NaN  NaN  NaN    NaN    NaN    NaN
4484    NaN   NaN    NaN  NaN  NaN  NaN    NaN    NaN    NaN

[4485 rows x 19 columns]
(4485, 19)
channel 1:
                   0    1    2    3   4   5   6   7   8   9    10   11   12  \
0     1627566303.264  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN  0.0  0.0  0.0
1     1627566303.328  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN  0.0  0.0  0.0
2     1627566303.392  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN  0.0  0.0  0.0
3     1627566303.456  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN  0.0  0.0  0.0
4     1627566303.520  NaN  NaN  NaN NaN NaN NaN NaN NaN NaN  0.0  0.0  0.0
...              ...  ...  ...  ...  ..  ..  ..  ..  ..  ..  ...  ...  ...
4480  1627566589.728  0.0  0.0  0.0 NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
4481  1627566589.792  0.0  0.0  0.0 NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
4482  1627566589.856  0.0  0.0  0.0 NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
4483  1627566589.920  0.0  0.0  0.0 NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN
4484  1627566589.984  0.0  0.0  0.0 NaN NaN NaN NaN NaN NaN  NaN  NaN  NaN

       13     14     15   16   17   18
0     0.5  0.162  0.851  0.0  0.0  0.0
1     0.5  0.162  0.851  0.0  0.0  0.0
2     0.5  0.162  0.851  0.0  0.0  0.0
3     0.5  0.162  0.851  0.0  0.0  0.0
4     0.5  0.162  0.851  0.0  0.0  0.0
...   ...    ...    ...  ...  ...  ...
4480  NaN    NaN    NaN  NaN  NaN  NaN
4481  NaN    NaN    NaN  NaN  NaN  NaN
4482  NaN    NaN    NaN  NaN  NaN  NaN
4483  NaN    NaN    NaN  NaN  NaN  NaN
4484  NaN    NaN    NaN  NaN  NaN  NaN

[4485 rows x 19 columns]
(4485, 19)

In [13]:
# To CSV:
# df0 = df0.to_csv("29Jul2021_0645_0650_0.csv", index=False)
# df1 = df1.to_csv("29Jul2021_0645_0650_1.csv", index=False)

df_np = np.hstack([df0_np[:,:13], df1_np[:,13:16], df0_np[:,16:]])
print(pd.DataFrame(df_np))

dataBank["square"] = deepcopy(df_np)
del df_np

                  0         1         2         3    4    5    6    7    8   \
0     1627566303.264       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN
1     1627566303.328       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN
2     1627566303.392       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN
3     1627566303.456       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN
4     1627566303.520       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN
...              ...       ...       ...       ...  ...  ...  ...  ...  ...
4480  1627566589.728 -0.544875 -0.250875  0.800125  NaN  NaN  NaN  NaN  NaN
4481  1627566589.792 -0.545375    -0.251       0.8  NaN  NaN  NaN  NaN  NaN
4482  1627566589.856 -0.546625   -0.2505     0.799  NaN  NaN  NaN  NaN  NaN
4483  1627566589.920 -0.546375   -0.2505  0.799125  NaN  NaN  NaN  NaN  NaN
4484  1627566589.984   -0.5448    -0.251       0.8  NaN  NaN  NaN  NaN  NaN

       9      10    11     12   13     14     15     16     17     18
0     NaN  0.334  0.53  0.779  0.5  0.162  0.851 -0.271 -0.599  0.753
1     NaN  0.334  0.53  0.779  0.5  0.162  0.851 -0.271 -0.599  0.753
2     NaN  0.334  0.53  0.779  0.5  0.162  0.851 -0.271 -0.599  0.753
3     NaN  0.334  0.53  0.779  0.5  0.162  0.851 -0.271 -0.599  0.753
4     NaN  0.334  0.53  0.779  0.5  0.162  0.851 -0.271 -0.599  0.753
...   ...    ...   ...    ...  ...    ...    ...    ...    ...    ...
4480  NaN    NaN   NaN    NaN  NaN    NaN    NaN    NaN    NaN    NaN
4481  NaN    NaN   NaN    NaN  NaN    NaN    NaN    NaN    NaN    NaN
4482  NaN    NaN   NaN    NaN  NaN    NaN    NaN    NaN    NaN    NaN
4483  NaN    NaN   NaN    NaN  NaN    NaN    NaN    NaN    NaN    NaN
4484  NaN    NaN   NaN    NaN  NaN    NaN    NaN    NaN    NaN    NaN

[4485 rows x 19 columns]

In [14]:
# table1
# Channel 0
dataObj0 = group_by0("Jul 29 2021 06:55AM", "Jul 29 2021 07:00AM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Jul 29 2021 06:55AM", "Jul 29 2021 07:00AM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

Channel 0:
                   0    1    2    3         4         5         6      7   \
0     1627566904.416  NaN  NaN  NaN  0.470000 -0.207375  0.858000  0.041
1     1627566904.480  NaN  NaN  NaN  0.470000 -0.209125  0.857875  0.041
2     1627566904.544  NaN  NaN  NaN  0.470000 -0.211625  0.857000  0.041
3     1627566904.608  NaN  NaN  NaN  0.470000 -0.213875  0.856625  0.041
4     1627566904.672  NaN  NaN  NaN  0.469125 -0.216500  0.856000  0.041
...              ...  ...  ...  ...       ...       ...       ...    ...
4481  1627567189.792  0.0  0.0  0.0       NaN       NaN       NaN  0.000
4482  1627567189.856  0.0  0.0  0.0       NaN       NaN       NaN  0.000
4483  1627567189.920  NaN  NaN  NaN       NaN       NaN       NaN  0.000
4484  1627567189.984  NaN  NaN  NaN       NaN       NaN       NaN    NaN
4485  1627567190.048  NaN  NaN  NaN       NaN       NaN       NaN    NaN

         8     9    10   11   12   13   14   15        16        17        18
0    -0.509  0.86  0.0  0.0  0.0  0.0  0.0  0.0 -0.271000 -0.599000  0.753000
1    -0.509  0.86  0.0  0.0  0.0  0.0  0.0  0.0 -0.271000 -0.599000  0.753000
2    -0.509  0.86  0.0  0.0  0.0  0.0  0.0  0.0 -0.271000 -0.599000  0.753000
3    -0.509  0.86  0.0  0.0  0.0  0.0  0.0  0.0 -0.271000 -0.599000  0.753000
4    -0.509  0.86  0.0  0.0  0.0  0.0  0.0  0.0 -0.271000 -0.599000  0.753000
...     ...   ...  ...  ...  ...  ...  ...  ...       ...       ...       ...
4481  0.000  0.00  0.0  0.0  0.0  NaN  NaN  NaN -0.265125 -0.619375  0.738875
4482  0.000  0.00  0.0  0.0  0.0  NaN  NaN  NaN -0.265500 -0.620000  0.738375
4483  0.000  0.00  0.0  0.0  0.0  NaN  NaN  NaN -0.264750 -0.620000  0.738250
4484    NaN   NaN  0.0  0.0  0.0  NaN  NaN  NaN       NaN       NaN       NaN
4485    NaN   NaN  0.0  0.0  0.0  NaN  NaN  NaN       NaN       NaN       NaN

[4486 rows x 19 columns]
(4486, 19)
channel 1:
                   0         1        2       3    4    5    6         7   \
0     1627566904.416       NaN      NaN     NaN  0.0  0.0  0.0  0.000000
1     1627566904.480       NaN      NaN     NaN  0.0  0.0  0.0  0.000000
2     1627566904.544       NaN      NaN     NaN  0.0  0.0  0.0  0.000000
3     1627566904.608       NaN      NaN     NaN  0.0  0.0  0.0  0.000000
4     1627566904.672       NaN      NaN     NaN  0.0  0.0  0.0  0.000000
...              ...       ...      ...     ...  ...  ...  ...       ...
4481  1627567189.792 -0.535625 -0.19400  0.8215  NaN  NaN  NaN  0.088750
4482  1627567189.856 -0.536000 -0.19375  0.8215  NaN  NaN  NaN  0.088375
4483  1627567189.920       NaN      NaN     NaN  NaN  NaN  NaN  0.088000
4484  1627567189.984       NaN      NaN     NaN  NaN  NaN  NaN       NaN
4485  1627567190.048       NaN      NaN     NaN  NaN  NaN  NaN       NaN

            8         9         10        11        12        13       14  \
0     0.000000  0.000000  0.334000  0.530000  0.779000  0.498125  0.16600
1     0.000000  0.000000  0.334000  0.530000  0.779000  0.497875  0.16675
2     0.000000  0.000000  0.334000  0.530000  0.779000  0.497000  0.16725
3     0.000000  0.000000  0.334000  0.530000  0.779000  0.496500  0.16800
4     0.000000  0.000000  0.334625  0.530000  0.779000  0.496000  0.16875
...        ...       ...       ...       ...       ...       ...      ...
4481 -0.436375  0.895375  0.383875  0.558125  0.735750       NaN      NaN
4482 -0.438125  0.894500  0.383625  0.558000  0.736000       NaN      NaN
4483 -0.440000  0.894000  0.383000  0.558000  0.736625       NaN      NaN
4484       NaN       NaN  0.383250  0.558125  0.735750       NaN      NaN
4485       NaN       NaN  0.383400  0.558200  0.735400       NaN      NaN

           15   16   17   18
0     0.85100  0.0  0.0  0.0
1     0.85100  0.0  0.0  0.0
2     0.85100  0.0  0.0  0.0
3     0.85175  0.0  0.0  0.0
4     0.85200  0.0  0.0  0.0
...       ...  ...  ...  ...
4481      NaN  0.0  0.0  0.0
4482      NaN  0.0  0.0  0.0
4483      NaN  0.0  0.0  0.0
4484      NaN  NaN  NaN  NaN
4485      NaN  NaN  NaN  NaN

[4486 rows x 19 columns]
(4486, 19)

In [15]:
# # To CSV
# df0 = df0.to_csv("29Jul2021_0655_0700_0.csv", index=False)
# df1 = df1.to_csv("29Jul2021_0655_0700_1.csv", index=False)

df_np = np.hstack([df0_np[:,:1], df1_np[:,1:4], df0_np[:,4:10], df1_np[:,10:16], df0_np[:,16:]])
df_np[4003:, 7:10] = df1_np[4003:, 7:10] 
print(pd.DataFrame(df_np))

dataBank["table1"] = deepcopy(df_np)
del df_np

                  0         1        2       3         4         5         6   \
0     1627566904.416       NaN      NaN     NaN      0.47 -0.207375     0.858
1     1627566904.480       NaN      NaN     NaN      0.47 -0.209125  0.857875
2     1627566904.544       NaN      NaN     NaN      0.47 -0.211625     0.857
3     1627566904.608       NaN      NaN     NaN      0.47 -0.213875  0.856625
4     1627566904.672       NaN      NaN     NaN  0.469125   -0.2165     0.856
...              ...       ...      ...     ...       ...       ...       ...
4481  1627567189.792 -0.535625   -0.194  0.8215       NaN       NaN       NaN
4482  1627567189.856    -0.536 -0.19375  0.8215       NaN       NaN       NaN
4483  1627567189.920       NaN      NaN     NaN       NaN       NaN       NaN
4484  1627567189.984       NaN      NaN     NaN       NaN       NaN       NaN
4485  1627567190.048       NaN      NaN     NaN       NaN       NaN       NaN

            7         8         9         10        11        12        13  \
0        0.041    -0.509      0.86     0.334      0.53     0.779  0.498125
1        0.041    -0.509      0.86     0.334      0.53     0.779  0.497875
2        0.041    -0.509      0.86     0.334      0.53     0.779     0.497
3        0.041    -0.509      0.86     0.334      0.53     0.779    0.4965
4        0.041    -0.509      0.86  0.334625      0.53     0.779     0.496
...        ...       ...       ...       ...       ...       ...       ...
4481   0.08875 -0.436375  0.895375  0.383875  0.558125   0.73575       NaN
4482  0.088375 -0.438125    0.8945  0.383625     0.558     0.736       NaN
4483     0.088     -0.44     0.894     0.383     0.558  0.736625       NaN
4484       NaN       NaN       NaN   0.38325  0.558125   0.73575       NaN
4485       NaN       NaN       NaN    0.3834    0.5582    0.7354       NaN

           14       15        16        17        18
0       0.166    0.851    -0.271    -0.599     0.753
1     0.16675    0.851    -0.271    -0.599     0.753
2     0.16725    0.851    -0.271    -0.599     0.753
3       0.168  0.85175    -0.271    -0.599     0.753
4     0.16875    0.852    -0.271    -0.599     0.753
...       ...      ...       ...       ...       ...
4481      NaN      NaN -0.265125 -0.619375  0.738875
4482      NaN      NaN   -0.2655     -0.62  0.738375
4483      NaN      NaN  -0.26475     -0.62   0.73825
4484      NaN      NaN       NaN       NaN       NaN
4485      NaN      NaN       NaN       NaN       NaN

[4486 rows x 19 columns]

In [16]:
# Line Data
# Channel 0
dataObj0 = group_by0("Jul 29 2021 07:01AM", "Jul 29 2021 07:03AM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Jul 29 2021 07:01AM", "Jul 29 2021 07:03AM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

Channel 0:
                   0    1    2    3    4    5    6    7    8    9         10  \
0     1627567260.000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.430000
1     1627567260.064  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.430000
2     1627567260.128  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.429375
3     1627567260.192  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.429250
4     1627567260.256  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.428500
...              ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
1870  1627567379.680  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.601875
1871  1627567379.744  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.602250
1872  1627567379.808  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.605625
1873  1627567379.872  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.608625
1874  1627567379.936  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.611250

            11        12        13        14        15        16        17  \
0     0.507500  0.746750  0.477750  0.121750  0.870000 -0.267000 -0.610750
1     0.508500  0.746000  0.477000  0.123250  0.870000 -0.267250 -0.611000
2     0.509000  0.746125  0.476125  0.124875  0.870000 -0.269375 -0.611250
3     0.509000  0.746250  0.475000  0.126500  0.871000 -0.271125 -0.612875
4     0.509750  0.746000  0.475250  0.128125  0.870500 -0.272250 -0.613750
...        ...       ...       ...       ...       ...       ...       ...
1870  0.409750  0.685500  0.693000  0.155500  0.704000 -0.577000 -0.492750
1871  0.411000  0.684125  0.693000  0.155125  0.704000 -0.577000 -0.494125
1872  0.409125  0.682250  0.693000  0.155000  0.704125 -0.577000 -0.493750
1873  0.408500  0.679875  0.692125  0.155000  0.704875 -0.577000 -0.492250
1874  0.408625  0.677625  0.692125  0.155375  0.704750 -0.577000 -0.492125

            18
0     0.745250
1     0.744875
2     0.744000
3     0.742250
4     0.741000
...        ...
1870  0.651750
1871  0.650375
1872  0.651000
1873  0.652000
1874  0.652000

[1875 rows x 19 columns]
(1875, 19)
channel 1:
                   0         1         2         3         4         5   \
0     1627567260.000 -0.519000 -0.252500  0.816625  0.503750 -0.251125
1     1627567260.064 -0.520375 -0.250375  0.816375  0.503250 -0.251250
2     1627567260.128 -0.521250 -0.248875  0.816125  0.501125 -0.251750
3     1627567260.192 -0.522625 -0.247875  0.816000  0.499750 -0.253625
4     1627567260.256 -0.523125 -0.246875  0.816000  0.500000 -0.254750
...              ...       ...       ...       ...       ...       ...
1870  1627567379.680 -0.166375 -0.328375  0.930000  0.165500 -0.326625
1871  1627567379.744 -0.166625 -0.329000  0.930000  0.164875 -0.326750
1872  1627567379.808 -0.166000 -0.329000  0.930000  0.165375 -0.325375
1873  1627567379.872 -0.166000 -0.329000  0.930000  0.166000 -0.325125
1874  1627567379.936 -0.166375 -0.329000  0.929625  0.165750 -0.325500

            6         7         8         9    10   11   12   13   14   15  \
0     0.826625  0.023375 -0.429250  0.902875  0.0  0.0  0.0  0.0  0.0  0.0
1     0.826750  0.027000 -0.428250  0.903000  0.0  0.0  0.0  0.0  0.0  0.0
2     0.827875  0.031000 -0.427000  0.903875  0.0  0.0  0.0  0.0  0.0  0.0
3     0.828125  0.033375 -0.427875  0.903125  0.0  0.0  0.0  0.0  0.0  0.0
4     0.827875  0.034500 -0.428000  0.903000  0.0  0.0  0.0  0.0  0.0  0.0
...        ...       ...       ...       ...  ...  ...  ...  ...  ...  ...
1870  0.930625  0.036375 -0.567250  0.822750  0.0  0.0  0.0  0.0  0.0  0.0
1871  0.931000  0.035500 -0.567000  0.823000  0.0  0.0  0.0  0.0  0.0  0.0
1872  0.931000  0.036000 -0.567000  0.823000  0.0  0.0  0.0  0.0  0.0  0.0
1873  0.931000  0.035875 -0.566625  0.823000  0.0  0.0  0.0  0.0  0.0  0.0
1874  0.931000  0.036000 -0.566875  0.823000  0.0  0.0  0.0  0.0  0.0  0.0

       16   17   18
0     0.0  0.0  0.0
1     0.0  0.0  0.0
2     0.0  0.0  0.0
3     0.0  0.0  0.0
4     0.0  0.0  0.0
...   ...  ...  ...
1870  0.0  0.0  0.0
1871  0.0  0.0  0.0
1872  0.0  0.0  0.0
1873  0.0  0.0  0.0
1874  0.0  0.0  0.0

[1875 rows x 19 columns]
(1875, 19)

In [17]:
df_np = np.hstack([df0_np[:,:1], df1_np[:,1:10], df0_np[:,10:]])
print(pd.DataFrame(df_np))

dataBank["line"] = deepcopy(df_np)
del df_np

                  0         1         2         3         4         5   \
0     1627567260.000    -0.519   -0.2525  0.816625   0.50375 -0.251125
1     1627567260.064 -0.520375 -0.250375  0.816375   0.50325  -0.25125
2     1627567260.128  -0.52125 -0.248875  0.816125  0.501125  -0.25175
3     1627567260.192 -0.522625 -0.247875     0.816   0.49975 -0.253625
4     1627567260.256 -0.523125 -0.246875     0.816       0.5  -0.25475
...              ...       ...       ...       ...       ...       ...
1870  1627567379.680 -0.166375 -0.328375      0.93    0.1655 -0.326625
1871  1627567379.744 -0.166625    -0.329      0.93  0.164875  -0.32675
1872  1627567379.808    -0.166    -0.329      0.93  0.165375 -0.325375
1873  1627567379.872    -0.166    -0.329      0.93     0.166 -0.325125
1874  1627567379.936 -0.166375    -0.329  0.929625   0.16575   -0.3255

            6         7         8         9         10        11        12  \
0     0.826625  0.023375  -0.42925  0.902875      0.43    0.5075   0.74675
1      0.82675     0.027  -0.42825     0.903      0.43    0.5085     0.746
2     0.827875     0.031    -0.427  0.903875  0.429375     0.509  0.746125
3     0.828125  0.033375 -0.427875  0.903125   0.42925     0.509   0.74625
4     0.827875    0.0345    -0.428     0.903    0.4285   0.50975     0.746
...        ...       ...       ...       ...       ...       ...       ...
1870  0.930625  0.036375  -0.56725   0.82275  0.601875   0.40975    0.6855
1871     0.931    0.0355    -0.567     0.823   0.60225     0.411  0.684125
1872     0.931     0.036    -0.567     0.823  0.605625  0.409125   0.68225
1873     0.931  0.035875 -0.566625     0.823  0.608625    0.4085  0.679875
1874     0.931     0.036 -0.566875     0.823   0.61125  0.408625  0.677625

            13        14        15        16        17        18
0      0.47775   0.12175      0.87    -0.267  -0.61075   0.74525
1        0.477   0.12325      0.87  -0.26725    -0.611  0.744875
2     0.476125  0.124875      0.87 -0.269375  -0.61125     0.744
3        0.475    0.1265     0.871 -0.271125 -0.612875   0.74225
4      0.47525  0.128125    0.8705  -0.27225  -0.61375     0.741
...        ...       ...       ...       ...       ...       ...
1870     0.693    0.1555     0.704    -0.577  -0.49275   0.65175
1871     0.693  0.155125     0.704    -0.577 -0.494125  0.650375
1872     0.693     0.155  0.704125    -0.577  -0.49375     0.651
1873  0.692125     0.155  0.704875    -0.577  -0.49225     0.652
1874  0.692125  0.155375   0.70475    -0.577 -0.492125     0.652

[1875 rows x 19 columns]

In [18]:
# point Data
# Channel 0
dataObj0 = group_by0("Jul 29 2021 07:03AM", "Jul 29 2021 07:09AM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Jul 29 2021 07:03AM", "Jul 29 2021 07:09AM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

Channel 0:
                   0         1        2         3         4        5   \
0     1627567380.000  0.000000  0.00000  0.000000  0.000000  0.00000
1     1627567380.064  0.000000  0.00000  0.000000  0.000000  0.00000
2     1627567380.128  0.000000  0.00000  0.000000  0.000000  0.00000
3     1627567380.192  0.000000  0.00000  0.000000  0.000000  0.00000
4     1627567380.256  0.000000  0.00000  0.000000  0.000000  0.00000
...              ...       ...      ...       ...       ...      ...
5419  1627567739.680 -0.170375 -0.32700  0.930000  0.166625 -0.32300
5420  1627567739.744 -0.170375 -0.32700  0.929625  0.166125 -0.32300
5421  1627567739.808 -0.170125 -0.32700  0.929000  0.166000 -0.32300
5422  1627567739.872 -0.170000 -0.32750  0.929125  0.166000 -0.32375
5423  1627567739.936 -0.169875 -0.32775  0.929000  0.166000 -0.32500

            6         7         8      9         10        11        12  \
0     0.000000  0.000000  0.000000  0.000  0.611500  0.410500  0.676125
1     0.000000  0.000000  0.000000  0.000  0.609875  0.411750  0.677000
2     0.000000  0.000000  0.000000  0.000  0.609375  0.411000  0.677750
3     0.000000  0.000000  0.000000  0.000  0.608250  0.411000  0.679000
4     0.000000  0.000000  0.000000  0.000  0.606375  0.412000  0.680250
...        ...       ...       ...    ...       ...       ...       ...
5419  0.932000  0.039875 -0.566000  0.823  0.595375  0.416750  0.687125
5420  0.932000  0.040500 -0.566125  0.823  0.595625  0.415125  0.687750
5421  0.932000  0.040000 -0.566750  0.823  0.596625  0.415125  0.686625
5422  0.931375  0.039375 -0.567000  0.823  0.596250  0.417625  0.685750
5423  0.931000  0.038875 -0.567000  0.823  0.593750  0.419625  0.686250

            13        14        15        16        17        18
0     0.692500  0.156000  0.704250 -0.577000 -0.492125  0.652000
1     0.693000  0.156000  0.704000 -0.577000 -0.491250  0.652375
2     0.693625  0.155250  0.703500 -0.577750 -0.490500  0.652250
3     0.694875  0.154625  0.702625 -0.578000 -0.491500  0.651250
4     0.694625  0.154750  0.702375 -0.578000 -0.490000  0.652500
...        ...       ...       ...       ...       ...       ...
5419  0.695625  0.153000  0.702000 -0.571625 -0.503750  0.647375
5420  0.695875  0.153000  0.702000 -0.572000 -0.503125  0.648000
5421  0.695875  0.153000  0.702000 -0.571625 -0.501375  0.649500
5422  0.696000  0.153250  0.702000 -0.572000 -0.500125  0.650875
5423  0.696000  0.153875  0.701875 -0.571875 -0.499375  0.651000

[5424 rows x 19 columns]
(5424, 19)
channel 1:
                   0         1      2      3         4         5         6   \
0     1627567380.000 -0.167625 -0.329  0.929  0.165500 -0.325000  0.931125
1     1627567380.064 -0.168875 -0.329  0.929  0.165125 -0.323500  0.932000
2     1627567380.128 -0.170250 -0.329  0.929  0.164875 -0.322875  0.932000
3     1627567380.192 -0.170875 -0.329  0.929  0.164000 -0.321000  0.933000
4     1627567380.256 -0.171000 -0.329  0.929  0.164000 -0.321000  0.933000
...              ...       ...    ...    ...       ...       ...       ...
5419  1627567739.680  0.000000  0.000  0.000  0.000000  0.000000  0.000000
5420  1627567739.744  0.000000  0.000  0.000  0.000000  0.000000  0.000000
5421  1627567739.808  0.000000  0.000  0.000  0.000000  0.000000  0.000000
5422  1627567739.872  0.000000  0.000  0.000  0.000000  0.000000  0.000000
5423  1627567739.936  0.000000  0.000  0.000  0.000000  0.000000  0.000000

            7         8         9    10   11   12   13   14   15   16   17  \
0     0.035750 -0.566375  0.823125  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     0.035625 -0.566125  0.823875  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     0.034875 -0.566625  0.823125  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     0.033500 -0.564000  0.825000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     0.033750 -0.563375  0.825125  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...        ...       ...       ...  ...  ...  ...  ...  ...  ...  ...  ...
5419  0.000000  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5420  0.000000  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5421  0.000000  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5422  0.000000  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5423  0.000000  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

       18
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
...   ...
5419  0.0
5420  0.0
5421  0.0
5422  0.0
5423  0.0

[5424 rows x 19 columns]
(5424, 19)

In [19]:
# To CSV
# df0 = df0.to_csv("29Jul2021_0703_0709_0.csv", index=False)
# df1 = df1.to_csv("29Jul2021_0703_0709_1.csv", index=False)

df_np = df0_np
df_np[:1722, 1:10] = df1_np[:1722, 1:10]
print(pd.DataFrame(df_np))

dataBank["point"] = deepcopy(df_np)
del df_np

                  0         1        2         3         4         5   \
0     1627567380.000 -0.167625   -0.329     0.929    0.1655    -0.325
1     1627567380.064 -0.168875   -0.329     0.929  0.165125   -0.3235
2     1627567380.128  -0.17025   -0.329     0.929  0.164875 -0.322875
3     1627567380.192 -0.170875   -0.329     0.929     0.164    -0.321
4     1627567380.256    -0.171   -0.329     0.929     0.164    -0.321
...              ...       ...      ...       ...       ...       ...
5419  1627567739.680 -0.170375   -0.327      0.93  0.166625    -0.323
5420  1627567739.744 -0.170375   -0.327  0.929625  0.166125    -0.323
5421  1627567739.808 -0.170125   -0.327     0.929     0.166    -0.323
5422  1627567739.872     -0.17  -0.3275  0.929125     0.166  -0.32375
5423  1627567739.936 -0.169875 -0.32775     0.929     0.166    -0.325

            6         7         8         9         10        11        12  \
0     0.931125   0.03575 -0.566375  0.823125    0.6115    0.4105  0.676125
1        0.932  0.035625 -0.566125  0.823875  0.609875   0.41175     0.677
2        0.932  0.034875 -0.566625  0.823125  0.609375     0.411   0.67775
3        0.933    0.0335    -0.564     0.825   0.60825     0.411     0.679
4        0.933   0.03375 -0.563375  0.825125  0.606375     0.412   0.68025
...        ...       ...       ...       ...       ...       ...       ...
5419     0.932  0.039875    -0.566     0.823  0.595375   0.41675  0.687125
5420     0.932    0.0405 -0.566125     0.823  0.595625  0.415125   0.68775
5421     0.932      0.04  -0.56675     0.823  0.596625  0.415125  0.686625
5422  0.931375  0.039375    -0.567     0.823   0.59625  0.417625   0.68575
5423     0.931  0.038875    -0.567     0.823   0.59375  0.419625   0.68625

            13        14        15        16        17        18
0       0.6925     0.156   0.70425    -0.577 -0.492125     0.652
1        0.693     0.156     0.704    -0.577  -0.49125  0.652375
2     0.693625   0.15525    0.7035  -0.57775   -0.4905   0.65225
3     0.694875  0.154625  0.702625    -0.578   -0.4915   0.65125
4     0.694625   0.15475  0.702375    -0.578     -0.49    0.6525
...        ...       ...       ...       ...       ...       ...
5419  0.695625     0.153     0.702 -0.571625  -0.50375  0.647375
5420  0.695875     0.153     0.702    -0.572 -0.503125     0.648
5421  0.695875     0.153     0.702 -0.571625 -0.501375    0.6495
5422     0.696   0.15325     0.702    -0.572 -0.500125  0.650875
5423     0.696  0.153875  0.701875 -0.571875 -0.499375     0.651

[5424 rows x 19 columns]

In [20]:
# table2 data
# Channel 0
dataObj0 = group_by0("Jul 29 2021 07:10AM", "Jul 29 2021 07:15AM")
dataPoints0 = dataObj0.fetchall()
df0 = pd.DataFrame(dataPoints0)

print("Channel 0: \n", df0)
df0.columns = dataPoints0[0].keys() 
df0 = df0.fillna(value=np.nan)

df0_np = df0.to_numpy()
print(df0_np.shape)

# Channel 1
dataObj1 = group_by1("Jul 29 2021 07:10AM", "Jul 29 2021 07:15AM")
dataPoints1 = dataObj1.fetchall()
df1 = pd.DataFrame(dataPoints1)

print("channel 1: \n", df1)
df1.columns = dataPoints1[0].keys() 
df1 = df1.fillna(value=np.nan)

df1_np = df1.to_numpy()
print(df1_np.shape)

Channel 0:
                   0      1      2      3         4        5         6   7   \
0     1627567805.056 -0.582 -0.232  0.779  0.542500 -0.30100  0.784500 NaN
1     1627567805.120 -0.582 -0.232  0.779  0.540750 -0.30100  0.785500 NaN
2     1627567805.184 -0.582 -0.232  0.779  0.538375 -0.30075  0.787125 NaN
3     1627567805.248 -0.582 -0.232  0.779  0.537500 -0.30000  0.788125 NaN
4     1627567805.312 -0.582 -0.232  0.779  0.536125 -0.29925  0.789500 NaN
...              ...    ...    ...    ...       ...      ...       ...  ..
4479  1627568089.664    NaN    NaN    NaN       NaN      NaN       NaN NaN
4480  1627568089.728    NaN    NaN    NaN       NaN      NaN       NaN NaN
4481  1627568089.792    NaN    NaN    NaN       NaN      NaN       NaN NaN
4482  1627568089.856    NaN    NaN    NaN       NaN      NaN       NaN NaN
4483  1627568089.920    NaN    NaN    NaN       NaN      NaN       NaN NaN

      8   9    10   11   12        13        14      15        16        17  \
0    NaN NaN  0.0  0.0  0.0  0.445000  0.141000  0.8840 -0.271000 -0.599000
1    NaN NaN  0.0  0.0  0.0  0.445000  0.141625  0.8840 -0.271000 -0.599000
2    NaN NaN  0.0  0.0  0.0  0.445000  0.142375  0.8840 -0.271000 -0.599750
3    NaN NaN  0.0  0.0  0.0  0.445125  0.143000  0.8840 -0.270750 -0.600000
4    NaN NaN  0.0  0.0  0.0  0.445625  0.144625  0.8835 -0.270000 -0.600000
...   ..  ..  ...  ...  ...       ...       ...     ...       ...       ...
4479 NaN NaN  NaN  NaN  NaN       NaN       NaN     NaN -0.269625 -0.603625
4480 NaN NaN  NaN  NaN  NaN       NaN       NaN     NaN -0.269125 -0.603625
4481 NaN NaN  NaN  NaN  NaN       NaN       NaN     NaN -0.269000 -0.602000
4482 NaN NaN  NaN  NaN  NaN       NaN       NaN     NaN -0.269000 -0.602000
4483 NaN NaN  NaN  NaN  NaN       NaN       NaN     NaN -0.269000 -0.602000

            18
0     0.753000
1     0.753000
2     0.753000
3     0.753000
4     0.753000
...        ...
4479  0.750375
4480  0.750375
4481  0.751875
4482  0.751500
4483  0.752000

[4484 rows x 19 columns]
(4484, 19)
channel 1:
                   0    1    2    3    4    5    6   7   8   9         10  \
0     1627567805.056  0.0  0.0  0.0  0.0  0.0  0.0 NaN NaN NaN  0.350625
1     1627567805.120  0.0  0.0  0.0  0.0  0.0  0.0 NaN NaN NaN  0.352375
2     1627567805.184  0.0  0.0  0.0  0.0  0.0  0.0 NaN NaN NaN  0.354000
3     1627567805.248  0.0  0.0  0.0  0.0  0.0  0.0 NaN NaN NaN  0.356250
4     1627567805.312  0.0  0.0  0.0  0.0  0.0  0.0 NaN NaN NaN  0.358250
...              ...  ...  ...  ...  ...  ...  ...  ..  ..  ..       ...
4479  1627568089.664  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN       NaN
4480  1627568089.728  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN       NaN
4481  1627568089.792  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN       NaN
4482  1627568089.856  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN       NaN
4483  1627568089.920  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN NaN       NaN

            11        12   13   14   15   16   17   18
0     0.534000  0.769125  0.0  0.0  0.0  0.0  0.0  0.0
1     0.535000  0.768000  0.0  0.0  0.0  0.0  0.0  0.0
2     0.535000  0.767125  0.0  0.0  0.0  0.0  0.0  0.0
3     0.535875  0.765500  0.0  0.0  0.0  0.0  0.0  0.0
4     0.536625  0.763875  0.0  0.0  0.0  0.0  0.0  0.0
...        ...       ...  ...  ...  ...  ...  ...  ...
4479       NaN       NaN  NaN  NaN  NaN  0.0  0.0  0.0
4480       NaN       NaN  NaN  NaN  NaN  0.0  0.0  0.0
4481       NaN       NaN  NaN  NaN  NaN  0.0  0.0  0.0
4482       NaN       NaN  NaN  NaN  NaN  0.0  0.0  0.0
4483       NaN       NaN  NaN  NaN  NaN  0.0  0.0  0.0

[4484 rows x 19 columns]
(4484, 19)

In [21]:
# # To CSV
# df0 = df0.to_csv("29Jul2021_0710_0715_0.csv", index=False)
# df1 = df1.to_csv("29Jul2021_0710_0715_1.csv", index=False)

df_np = np.hstack([df0_np[:,:10], df1_np[:,10:13], df0_np[:,13:]])
df_np[1478:3088, 7:10] = df1_np[1478:3088, 7:10]
print(pd.DataFrame(df_np))

dataBank["table2"] = deepcopy(df_np)
del df_np

                  0      1      2      3         4        5         6    7   \
0     1627567805.056 -0.582 -0.232  0.779    0.5425   -0.301    0.7845  NaN
1     1627567805.120 -0.582 -0.232  0.779   0.54075   -0.301    0.7855  NaN
2     1627567805.184 -0.582 -0.232  0.779  0.538375 -0.30075  0.787125  NaN
3     1627567805.248 -0.582 -0.232  0.779    0.5375     -0.3  0.788125  NaN
4     1627567805.312 -0.582 -0.232  0.779  0.536125 -0.29925    0.7895  NaN
...              ...    ...    ...    ...       ...      ...       ...  ...
4479  1627568089.664    NaN    NaN    NaN       NaN      NaN       NaN  NaN
4480  1627568089.728    NaN    NaN    NaN       NaN      NaN       NaN  NaN
4481  1627568089.792    NaN    NaN    NaN       NaN      NaN       NaN  NaN
4482  1627568089.856    NaN    NaN    NaN       NaN      NaN       NaN  NaN
4483  1627568089.920    NaN    NaN    NaN       NaN      NaN       NaN  NaN

       8    9         10        11        12        13        14      15  \
0     NaN  NaN  0.350625     0.534  0.769125     0.445     0.141   0.884
1     NaN  NaN  0.352375     0.535     0.768     0.445  0.141625   0.884
2     NaN  NaN     0.354     0.535  0.767125     0.445  0.142375   0.884
3     NaN  NaN   0.35625  0.535875    0.7655  0.445125     0.143   0.884
4     NaN  NaN   0.35825  0.536625  0.763875  0.445625  0.144625  0.8835
...   ...  ...       ...       ...       ...       ...       ...     ...
4479  NaN  NaN       NaN       NaN       NaN       NaN       NaN     NaN
4480  NaN  NaN       NaN       NaN       NaN       NaN       NaN     NaN
4481  NaN  NaN       NaN       NaN       NaN       NaN       NaN     NaN
4482  NaN  NaN       NaN       NaN       NaN       NaN       NaN     NaN
4483  NaN  NaN       NaN       NaN       NaN       NaN       NaN     NaN

            16        17        18
0       -0.271    -0.599     0.753
1       -0.271    -0.599     0.753
2       -0.271  -0.59975     0.753
3     -0.27075      -0.6     0.753
4        -0.27      -0.6     0.753
...        ...       ...       ...
4479 -0.269625 -0.603625  0.750375
4480 -0.269125 -0.603625  0.750375
4481    -0.269    -0.602  0.751875
4482    -0.269    -0.602    0.7515
4483    -0.269    -0.602     0.752

[4484 rows x 19 columns]

In [34]:
# Note, DataFrame uses a Decimal object type instead of numerical types
# This triggers np.isnan errors
for data in dataBank :
    dataBank[data] = np.asarray(dataBank[data], dtype=np.float64)

with open("29Jul2021.p", "wb") as handle :
    pickle.dump(dataBank, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [37]:
dataBank["x0_y69"][400:800, :]

array([[ 1.62756519e+09, -3.58625000e-01, -5.63000000e-01, ...,
        -1.91750000e-01, -4.63000000e-01,  8.65125000e-01],
       [ 1.62756519e+09, -3.57250000e-01, -5.64250000e-01, ...,
        -1.90750000e-01, -4.61500000e-01,  8.66250000e-01],
       [ 1.62756519e+09, -3.56125000e-01, -5.64500000e-01, ...,
        -1.90875000e-01, -4.62750000e-01,  8.66000000e-01],
       ...,
       [ 1.62756521e+09, -3.64500000e-01, -5.68000000e-01, ...,
        -1.91625000e-01, -4.62000000e-01,  8.66000000e-01],
       [ 1.62756521e+09, -3.64500000e-01, -5.67125000e-01, ...,
        -1.91750000e-01, -4.62375000e-01,  8.65875000e-01],
       [ 1.62756521e+09, -3.64125000e-01, -5.65500000e-01, ...,
        -1.91500000e-01, -4.63625000e-01,  8.65000000e-01]])